<template>
  <q-dialog title="Menambah / Mengirangi Stock" v-model="model">
    <q-card>
      <q-card-section>
      <q-form @submit="onSubmit">
        <q-input disable :value="journalModel.productName" label="Nama produk"/>
        <q-input disable :value="journalModel.unitName" label="Satuan"/>
        <q-input disable :value="journalModel.qty" label="Stock"/>

        <q-input v-model="newQty" autofocus type="number" label="Stock Real" name="newQty" v-validate="'required|min:0'" :error="errors.has('newQty')" :error-message="errors.first('newQty')" />
        <q-input v-model="journalModel.note" label="Keterangan" name="note" v-validate="'required'" :error="errors.has('note')" :error-message="errors.first('note')" />
        <submit-button :loading="isLoading" @submit="onSubmit" />
      </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { StockJournal } from '../../models'
export default {
  name: 'StockJournalDialog',
  props: {
    value: {
      type: Boolean,
      default: () => false
    },
    journal: {
      type: StockJournal,
      required: true
    }
  },
  data () {
    return {
      journalModel: this.journal,
      newQty: 0,
      isLoading: false
    }
  },
  watch: {
    journal (val) {
      this.journalModel = val
    }
  },
  computed: {
    model: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    }
  },
  methods: {
    async onSubmit () {
      if (this.isLoading) { return }
      this.isLoading = true
      await this.$validator.validateAll()
      if (this.errors.any()) {
        this.$toastr.error('Mohon pastikan semua data terisi')
        this.isLoading = false
      } else {
        if (this.newQty > this.journalModel.qty) {
          this.journalModel.stockIn = this.newQty - this.journalModel.qty
        } else if (this.newQty < this.journalModel.qty) {
          this.journalModel.stockOut = this.journalModel.qty - this.newQty
        }

        try {
          await this.$api.stocks.postJournal(this.journalModel)
          this.model = false
          this.$emit('update:journal', this.journalModel)
          this.newQty = 0
          this.journalModel.note = undefined
        } catch (e) {
          this.$toastr.error('Gagal menyesuaikan stock')
        }
        this.isLoading = false
      }
    }
  }
}
</script>
