<template>
  <q-dialog v-model="model">
    <main-card title="Tambah / Edit Item Pembelian">
      <q-form @submit="onSubmit">
        <template #header>
          <q-toolbar-title
            style="padding-left: 0;font-size:1.2em;"
            class="text-primary"
          >
            Input item pembelian
          </q-toolbar-title>
        </template>
        <template #action-buttons>
          <q-btn icon="fa fa-times" v-close-popup size="sm" flat />
        </template>
        <q-card-section>
          <product-select
            label="Produk"
            v-model="purchaseLineModel.productId"
            name="productId"
            @selectedChanged="productSelectChenged"
            v-validate="'required'"
            :error="errors.has('productId')"
            :error-message="errors.first('productId')"
          />
          <q-select
            :options="selectUnitDatas"
            disable
            name="unitId"
            label="Unit"
            class="col-6"
            hint="Gunakan satuan terkecil penjualan"
            v-model="selectedUnitName"
            v-validate="'required'"
            :error="errors.has('unitId')"
            :error-message="errors.first('unitId')"
            filled
            dense
          />
          <q-input
            type="number"
            input-class="text-center"
            v-model="purchaseLineModel.qty"
            label="Qty"
            name="qty"
            min="1"
            v-validate="'required|min:0'"
            :error="errors.has('qty')"
            :error-message="errors.first('qty')"
          />
          <money-field
            label="Total Harga"
            v-model="purchaseLineModel.lineCost"
            name="lineCost"
            v-validate="'required|min:0'"
            :error="errors.has('lineCost')"
            :error-message="errors.first('lineCost')"
          />
          <q-field
            disable
            class="full-width"
            label="Biaya per unit"
            stack-label
          >
            <template #control>
              <div class="full-width text-right text-green text-h5">
                {{ purchaseLineModel.unitCost | money }} /
                {{ selectedUnitName }}
              </div>
            </template>
          </q-field>
        </q-card-section>
        <q-card-section>
          <submit-button
            :loading="isLoading"
            class="full-width"
            @submit="onSubmit"
          />
        </q-card-section>
      </q-form>
    </main-card>
  </q-dialog>
</template>

<script>
import { PurchaseLine, Product } from '../../models'
export default {
  name: 'PurchaseLineDialog',
  props: {
    value: {
      type: Boolean,
      default: () => false
    },
    purchaseLine: {
      type: PurchaseLine,
      required: true
    },
    units: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      isLoading: false,
      purchaseLineModel: new PurchaseLine(this.purchaseLine)
    }
  },
  watch: {
    purchaseLine (val) {
      this.purchaseLineModel = val
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    selectedUnitName: {
      get () {
        if (!this.units.length || !(this.purchaseLineModel.unitId > 0)) {
          return undefined
        }
        return this.units.find(x => x.id === this.purchaseLineModel.unitId).code
      },
      set (val) {
        let m = this.units.find(x => x.code === val)
        if (m) {
          this.purchaseLineModel.unitId = m.id
        } else {
          this.purchaseLineModel.unitId = 0
        }
      }
    },
    selectUnitDatas () {
      if (!this.units.length) return []
      return this.units.map(x => x.code)
    }
  },
  methods: {
    productSelectChenged (val) {
      if (val.unitId) {
        this.purchaseLineModel.product = val
        this.purchaseLineModel.unitId = val.unitId
      } else {
        this.purchaseLineModel.product = new Product()
        this.purchaseLineModel.unitId = undefined
      }
    },
    async onSubmit () {
      if (this.isLoading) {
        return
      }
      this.isLoading = true
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        this.$emit('update:purchase-line', this.purchaseLineModel)
        this.model = false
      }
      this.isLoading = false
    }
  }
}
</script>
