<template>
<q-list class="bg-secondary text-white q-mb-md q-pb-md">
    <q-toolbar>
      <q-toolbar-title>
          Daftar pembelian item
      </q-toolbar-title>
      <q-space/>
      <q-btn round icon="fa fa-plus" color="primary" size="sm" @click="addPurchaseLine" v-if="!purchase.id || purchase.id === 0"/>
    </q-toolbar>
  <q-item v-if="!model.length">
    <q-item-section>
      Belum ada data
    </q-item-section>
  </q-item>
  <q-item v-for="(item, i) in model.filter(x=> !x.forDeletion)" :key="item.id">
    <q-item-section side top  class="text-white">
      {{i + 1}}
    </q-item-section>
    <q-item-section >
      <q-item-label class="text-white text-bold">
       {{ item.product.name }}
      </q-item-label>
      <q-item-label caption class="text-white text-italic">
      {{item.qty}} * {{item.unitCost | money}} / {{item.product.unitName}}
      </q-item-label>
    </q-item-section>
    <q-item-section side class="text-white text-bold">
       {{ item.lineCost | money }}
       <q-btn-group v-if="item.id < 1">
         <q-btn size="xs" icon="fa fa-pencil-alt" @click="editPurchaseLine(item)"/>
         <q-btn size="xs" icon="fa fa-trash" style="color:var(--q-color-negative)" @click="delPurchaseLine(item.id, item.product.name)"/>
       </q-btn-group>
    </q-item-section>
  </q-item>
  <PurchaseLineDialog v-model="dialogOpen" :purchaseLine.sync="purchaseLine" :units="units" @update:purchase-line="updatePurchaseLine" />
</q-list>
</template>

<script>
import PurchaseLineDialog from './PurchaseLineDialog'
import { PurchaseLine, Purchase } from '../../models'
import unitCategoryMixin from '../../mixins/unitCategoryMixin'
export default {
  name: 'PurchaseLineList',
  components: {
    PurchaseLineDialog
  },
  mixins: [
    unitCategoryMixin
  ],
  props: {
    value: {
      type: Array,
      default: () => []
    },
    purchase: {
      type: Purchase,
      default: () => new Purchase()
    }
  },
  data () {
    return {
      dialogOpen: false,
      purchaseLine: new PurchaseLine()
    }
  },
  computed: {
    model: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    }
  },
  methods: {
    addPurchaseLine () {
      this.purchaseLine = new PurchaseLine({ id: this.model.length * -1 })
      this.dialogOpen = true
    },
    editPurchaseLine (item) {
      this.purchaseLine = new PurchaseLine(item)
      this.dialogOpen = true
    },
    delPurchaseLine (id, name) {
      if (confirm(`Yakin menghapus item ${name}?`)) {
        if (id < 1) {
          this.model = this.model.filter(x => x.id !== id)
        } else {
          this.model = this.model.map(x => {
            if (x.id === id) { x.forDeletion = true }
            return x
          })
        }
      }
    },
    updatePurchaseLine (val) {
      if (!val.productId) return
      let fm = this.model.find(x => x.id === val.id)
      if (fm) {
        this.model = this.model.map(x => x.id === val.id ? val : x)
      } else {
        this.model.push(val)
      }
    }
  }
}
</script>
