<template>
  <div>
    <q-card-section title class="text-h6" style="padding-bottom:0">
      <q-toolbar>
        <q-toolbar-title>
          Deposit
        </q-toolbar-title>
      </q-toolbar>
    </q-card-section>
    <q-card-section class="q-pt-xs"  style="padding-top:0">
      <q-list>
        <q-card v-if="!hasItem">
          <q-card-section>
            Belum ada deposit
          </q-card-section>
        </q-card>

        <template v-else>
          <q-table
            title=""
            :data="data"
            :columns="columns"
            row-key="id"
            :loading="isLoading"
          >
            <template #header>
              <tr class="bg-primary text-white">
                <td>
                  #
                </td>
                <td>
                  Tanggal tutup trx
                </td>
                <td>
                  Struk
                </td>
                <td>
                  Nama klien
                </td>
                <td class="text-positive">
                  Kredit
                </td>
                <td>
                  Debit
                </td>
                <td>
                  Note
                </td>
              </tr>
            </template>
            <template #body="scoped">
              <tr>
                <td>
                  {{ data.indexOf(scoped.row) + 1 }}
                </td>
                <td>
                  {{ $util.formatDate(scoped.row.salesManager.closingDate, 'dddd, DD MMM YY HH:mm') }}
                </td>
                <td>
                  {{ scoped.row.depositCode }}
                </td>
                <td>
                  {{ scoped.row.clientName }}
                </td>
                <td class="text-positive">
                  {{ scoped.row.credit | money }}
                </td>
                <td>
                  {{ scoped.row.debit | money }}
                </td>
                 <td>
                  {{ scoped.row.note}}
                </td>
              </tr>
            </template>
            <template #bottom-row>
              <tr class="bg-secondary text-white">
                <td colspan="4" class="text-center">
                  TOTAL
                </td>
                <td>
                  {{ data.reduce((a,b)=> a + b.credit,0) | money }}
                </td>
                <td>
                  {{ data.reduce((a,b)=> a + b.debit,0) | money }}
                </td>
                <td>
                </td>
              </tr>
            </template>
          </q-table>
        </template>
      </q-list>
    </q-card-section>
  </div>
</template>

<script>
import { DepositTransaction } from '../../models'

export default {
  name: 'DepositList',
  components: {
  },
  props: {
    date1: {
      type: [String, Date, Number],
      default: () => undefined
    },
    date2: {
      type: [String, Date, Number],
      default: () => undefined
    }
  },
  data () {
    return {
      isLoading: false,
      columns: [
        {
          name: 'id',
          required: true,
          format: (val, row) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#'
        },
        {
          name: 'depositCode',
          align: 'left',
          field: 'depositCode',
          label: 'Struk',
          style: 'width:50px',
          sortable: true
        },
        {
          name: 'clientName',
          align: 'left',
          field: 'clientName',
          label: 'Nama Client',
          sortable: true,
          format: (val, row) => val
        },
        {
          name: 'credit',
          align: 'right',
          field: 'credit',
          label: 'kredit',
          sortable: true
        },
        {
          name: 'debit',
          align: 'right',
          field: 'debit',
          label: 'Debit'
        }
      ],
      data: []
    }
  },
  mounted () {
    this.fetchDeposit()
  },
  watch: {
    data (val) {
      this.$emit('input', val)
    }
  },
  computed: {
    hasItem () {
      return this.data.length
    }
  },
  methods: {
    async fetchDeposit () {
      try {
        if (this.isLoading) return

        this.isLoading = true
        let res = await this.$api.reports.getDeposits(this.date1, this.date2)
        this.data = res.data.rows.map(x => new DepositTransaction(x))
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    }
  }
}
</script>
