<template>
  <div>
    <q-card-section title class="text-h5 q-pb-xs">
      Penerimaan
      <span class="text-bold"> {{totalRevenue | money}}</span>
      <div class="text-italic">
        <small> Penjualan: {{totalSales | money}} </small>
      </div>
    </q-card-section>
    <q-card-section class="q-pt-xs">
      <q-list>
        <q-card v-if="!hasItem">
          <q-card-section>
            Belum ada transaksi
          </q-card-section>
        </q-card>

        <template v-else >
          <q-table
        title=""
        :data="data"
        :columns="columns"
        row-key="id"
        :loading="isLoading"
      >
      <template #header >
              <tr class="bg-primary text-white">
                <td>
                  #
                </td>
                <td>
                  Tanggal tutup trx
                </td>
                <td>
                  Struk
                </td>
                <td>
                  Penjualan
                </td>
                <td>
                  Cash
                </td>
                 <td>
                  Credit Card
                </td>
                                <td>
                  Debit Card
                </td>
                <td>
                  Deposit(D)
                </td>
                <td>
                  Penerimaan
                </td>
              </tr>
      </template>
      <template #body="scoped">
         <q-tr class="mouse-pointer" :class="{'selected': selectedSales.id === scoped.row.id}" @click.native="getSalesDetails(scoped.row.id, scoped.row)">
                 <td>
                  {{ data.indexOf(scoped.row) + 1 }}
                </td>
                <td>
                 {{ $util.formatDate(scoped.row.salesManager.closingDate, 'dddd, DD MMM YY HH:mm') }}
                </td>
                <td>
                  {{scoped.row.receiptCode}}
                </td>
                <td>
                  {{scoped.row.grandTotal | money}}
                </td>
                <td class="text-green">
                  {{scoped.row.netCash | money}}
                </td>
                 <td class="text-green">
                  {{scoped.row.creditCard | money}}
                </td>
                <td class="text-green">
                  {{scoped.row.debitCard | money}}
                </td>
                <td>
                  {{scoped.row.deposit | money}}
                </td>
                <td :class="{'text-negative': scoped.row.change < 0}">
                  {{scoped.row.revenue | money}}
                </td>
              </q-tr>
      </template>
      <template #bottom-row>
        <tr class="bg-secondary text-white">
                  <td colspan="3">
                  TOTAL
                </td>
                <td>
                  {{totalSales | money}}
                </td>
                <td>
                  {{totalCash | money}}
                </td>
                <td>
                  {{totalCreditCard | money}}
                </td>
                <td>
                  {{totalDebitCard | money}}
                </td>
                <td>
                  {{totalDepositDebit | money}}
                </td>
                <td :class="{'text-negative': totalChange < 0}">
                  {{totalRevenue | money}}
                </td>
              </tr>
      </template>

      </q-table>
        </template>
      </q-list>
    </q-card-section>
    <SalesDetailsDialog v-model="detailsDialog" :sales="selectedSales" />

  </div>
</template>

<script>
import { Sales, SalesLine } from '../../models'
import SalesDetailsDialog from '../../components/sales/SalesDetailsDialog'

export default {
  name: 'SalesList',
  components: {
    SalesDetailsDialog
  },
  props: {
    deposits: {
      type: Array,
      default: () => []
    },
    date1: {
      type: [String, Date, Number],
      default: () => undefined
    },
    date2: {
      type: [String, Date, Number],
      default: () => undefined
    }
  },
  data () {
    return {
      isLoading: false,
      columns: [
        { name: 'id', required: true, format: (val, row) => this.data.indexOf(row) + 1, style: 'width: 25px', label: '#' },
        { name: 'receiptCode', align: 'left', field: 'receiptCode', label: 'Struk', style: 'width:50px', sortable: true },
        { name: 'grandTotal', align: 'right', field: 'grandTotal', label: 'Penjualan', sortable: true, format: (val, row) => val },
        { name: 'netCash', align: 'right', field: 'netCash', label: 'Cash', sortable: true },
        { name: 'card', align: 'right', field: 'card', label: 'Card', style: 'width:25px;font-color:green;' },
        { name: 'deposit', align: 'right', field: 'deposit', label: 'Deposit', style: '' },
        { name: 'revenue', align: 'center', field: 'revenue', label: 'Penerimaan', style: '' }
      ],
      data: [],
      salesLines: {},
      detailsDialog: false,
      selectedSales: new Sales()
    }
  },
  mounted () {
    this.fetchSales()
  },

  methods: {
    async fetchSales () {
      try {
        this.isLoading = true
        let res = await this.$api.reports.getSales(this.date1, this.date2)
        this.data = res.data.rows.map(x => new Sales(x))
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    },
    async getSalesDetails (salesId, sales) {
      if (!salesId || salesId === 0) {
        return
      }
      if (this.isLoadingSalesLines) return
      this.isLoadingSalesLines = true
      try {
        var data = this.salesLines[salesId]
        if (data) {
          sales.salesLines = data
          this.selectedSales = sales
        }
        var res = await this.$api.salesLines.getBySales(salesId)
        data = res.data.map(x => new SalesLine(x))
        this.$set(this.salesLines, salesId, data)
        sales.salesLines = data
        this.selectedSales = sales
        this.detailsDialog = true
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoadingSalesLines = false
    }
  },
  computed: {
    hasItem () {
      return this.data.length > 0 || this.deposits.length
    },
    edcTypes () {
      return this.$store.state.list.edcTypes
    },
    totalSales () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.grandTotal, 0)
    },
    totalCash () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.netCash, 0)
    },
    totalCreditCard () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.creditCard, 0)
    },
    totalDebitCard () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.debitCard, 0)
    },
    totalCard () {
      return this.totalCreditCard + this.totalDebitCard
    },
    totalChange () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.change, 0)
    },
    totalDepositDebit () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.deposit, 0)
    },
    totalDepositCredit () {
      if (!this.deposits.length || !this.deposits[0].credit) return 0
      return this.deposits.reduce((a, b) => a + b.credit, 0)
    },
    totalRevenue () {
      return this.totalCash + this.totalCard + this.totalDepositCredit
    }
  }
}
</script>
