<template>
  <q-dialog v-model="model">
    <main-card>
      <template #header>
          <q-toolbar-title
            style="padding-left: 0;font-size:1.2em;overflow:visible"
            class="text-primary"
          >
            Insentive rule dialog
          </q-toolbar-title>
        </template>
        <template #action-buttons>
          <q-btn icon="fa fa-times" v-close-popup size="sm" flat />
        </template>

      <q-form @submit="onSubmit">
        <q-card-section>
          <user-type-select
            label="User type"
            v-model="insentiveRuleModel.userTypeId"
            name="userTypeId"
            v-validate="'required'"
            :error="errors.has('userTypeId')"
            :error-message="errors.first('userTypeId')"
          />
          <insentive-type-select
            label="Insentive type"
            v-model="insentiveRuleModel.insentiveType"
            name="insentiveType"
            v-validate="'required'"
            :error="errors.has('insentiveType')"
            :error-message="errors.first('insentiveType')"
          />
          <money-field
            v-model="insentiveRuleModel.value"
            label="Value"
            name="value"
            min="0"
            v-validate="'required|min:0'"
            :error="errors.has('value')"
            :error-message="errors.first('value')"
        />
        </q-card-section>
        <q-card-section class="q-pt-md">
<submit-button
            :loading="isLoading"
            class="full-width"
            @submit="onSubmit"
          />
        </q-card-section>
      </q-form>
    </main-card>
  </q-dialog>
</template>

<script>
import { InsentiveRule } from '../../models'
export default {
  name: 'AddInsentiveRuleDialog',
  props: {
    value: {
      type: Boolean,
      default: () => false
    },
    insentiveRule: {
      type: InsentiveRule,
      required: true
    }
  },
  data () {
    return {
      isLoading: false,
      insentiveRuleModel: new InsentiveRule(this.insentiveRule)
    }
  },
  watch: {
    insentiveRule (val) {
      this.insentiveRuleModel = new InsentiveRule(val)
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    async onSubmit () {
      if (this.isLoading) {
        return
      }
      this.isLoading = true
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        this.$emit('update:insentive-rule', this.insentiveRuleModel)
        this.model = false
      }
      this.isLoading = false
    }
  }
}
</script>
