<template>
<div>
    <q-card>
      <q-toolbar class="bg-secondary text-white">
        <q-toolbar-title>
            Insentive Rules
        </q-toolbar-title>
        <q-btn icon="fa fa-plus" label="Tambah" size="sm" flat @click="addInsentiveRule" />
      </q-toolbar>
      <q-card-section class="full-width">
      <div class="q-pa-xs">
        <q-markup-table flat>
          <thead>
            <tr>
              <th  class="text-center">
                UserType
              </th>
              <th class="text-center">
                InsentiveType
              </th>
              <th  class="text-right">
                Value
              </th>
              <th  class="text-right">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <template v-if="model.length">
            <tr v-for="item in model.filter(x=> !x.forDeletion)" :key="item.id">
              <td class="text-center">
                {{getUserTypeName(item.userTypeId)}}
              </td>
              <td  class="text-center">
                {{getInsentiveTypeName(item.insentiveType)}}
              </td>
              <td class="text-right">
                {{item.value | money}}
              </td>
              <td class="text-right">
                  <q-btn icon="fa fa-pencil-alt" size="sm" @click="editInsentiveRule(item)" />
                  <q-btn icon="fa fa-trash"  size="sm" text-color="negative" @click="delInsentiveRule(item.id)" />
              </td>
            </tr>
            </template>
            <tr v-else>
              <td colspan="4">
                Tidak ada data
              </td>
            </tr>

          </tbody>
        </q-markup-table>
      </div>
      </q-card-section>
    </q-card>
  <AddInsentiveRuleDialog v-model="addDialog" :insentiveRule="InsentiveRuleModel" @update:insentive-rule="updateHandle" />
  </div>
</template>

<script>
import { InsentiveRule } from '../../models/models/InsentiveRule'
import AddInsentiveRuleDialog from './AddInsentiveRuleDialog'
export default {
  name: 'InsentiveRuleTables',
  props: {
    value: {
      type: Array,
      default: () => []
    },
    insentiveModelId: {
      type: Number,
      required: true
    }
  },
  components: {
    AddInsentiveRuleDialog
  },
  data () {
    return {
      isLoading: false,
      addDialog: false,
      InsentiveRuleModel: new InsentiveRule({ insentiveModelId: this.insentiveModelId })
    }
  },
  computed: {
    userTypes () {
      return this.$store.state.list.userTypes
    },
    insentiveTypes () {
      return this.$store.state.list.insentiveTypes
    },
    model: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    }
  },
  methods: {
    getUserTypeName (id) {
      return this.userTypes.find(x => x.id === id).name
    },
    getInsentiveTypeName (id) {
      return this.insentiveTypes.find(x => x.id === id).label
    },
    addInsentiveRule () {
      this.InsentiveRuleModel = new InsentiveRule({ id: this.model.length * -1, insentiveModelId: this.insentiveModelId })
      this.addDialog = true
    },
    editInsentiveRule (val) {
      val.insentiveModelId = this.insentiveModelId
      this.InsentiveRuleModel = new InsentiveRule(val)
      this.addDialog = true
    },
    delInsentiveRule (id) {
      if (id < 1) {
        this.model = this.model.filter(x => x.id !== id)
      } else {
        this.model = this.model.map(function (x) {
          if (x.id === id) {
            x.forDeletion = true
          }
          return x
        })
      }
    },
    updateHandle (val) {
      if (!this.model.find(x => x.id === val.id)) {
        this.model.push(val)
      } else {
        this.model = this.model.map(x => x.id === val.id ? val : x)
      }
    }
  },
  mounted () {

  }
}
</script>
