<template>
  <q-page padding>
    <main-card title="User details">
      <div class="row q-col-gutter-sm q-pa-md">
        <q-input
          name="email"
          label="Email"
          v-model="model.email"
          v-validate="'required|email'"
          :error="errors.has('email')"
          :error-message="errors.first('email')"
          class="q-pa-sm col-12"
          autofocus
          dense
        />
        <q-input
          name="displayName"
          label="Display name"
          v-model="model.displayName"
          v-validate="'required|max:255'"
          :error="errors.has('displayName')"
          :error-message="errors.first('displayName')"
          class="q-pa-sm col-12"
          dense
        />
        <q-select
          name="userType"
          v-model="selected"
          :options="options"
          label="User type"
          v-validate="'required'"
          :error="errors.has('userType')"
          :error-message="errors.first('userType')"
          class="q-pa-sm col-12"
          dense
        />

        <!-- <q-select
          name="groupIds"
          multiple
          v-model="selectedGroups"
          :options="optionsGroups"
          label="Groups"
          v-validate="'required'"
          :error="errors.has('groupIds')"
          :error-message="errors.first('groupIds')"
          class="q-pa-sm col-12"
          dense
        /> -->

        <q-select
          name="roleIds"
          multiple
          v-model="selectedRoles"
          :options="optionsRoles"
          label="Roles"
          v-validate="'required'"
          :error="errors.has('roleIds')"
          :error-message="errors.first('roleIds')"
          class="q-pa-sm col-12"
          dense
        />

        <template v-if="isCreating">
          <q-input
            type="password"
            name="password"
            ref="password"
            label="Password"
            v-model="model.password"
            v-validate="'required'"
            :error="errors.has('password')"
            :error-message="errors.first('password')"
            class="q-pa-sm col-md-6 col-sm-12"
            dense
          />
          <q-input
            type="password"
            name="confirmPassword"
            label="Confirm password"
            v-model="model.confirmPassword"
            v-validate="'required|confirmed:password'"
            :error="errors.has('confirmPassword')"
            :error-message="errors.first('confirmPassword')"
            class="q-pa-sm col-md-6 col-sm-12"
            dense
          />
        </template>

        <submit-button
          @click="save()"
          class="q-ml-xs col-12 full-width"
          :isLoading="isLoading"
          style="margin-top: 20px;"
        />
      </div>

      <template #action-buttons >
        <q-btn v-if="!isCreating" rounded icon="vpn_key" text-color="primary" label="Change password" class="q-ml-md" title="Back" size="sm" @click="changePasswordDialog = true"/>
      </template>
    </main-card>

  <q-dialog v-model="changePasswordDialog" persistent>
      <q-card style="min-width: 400px">
        <q-card-section>
         <q-input
            type="password"
            name="password2"
            ref="password2"
            label="Password"
            v-model="model.password"
            v-validate="'required'"
            :error="errors.has('password2')"
            :error-message="errors.first('password2')"
            class="q-pa-sm col-md-6 col-sm-12"
            dense
            autofocus
          />
          <q-input
            type="password"
            name="confirmPassword2"
            label="Confirm password"
            v-model="model.confirmPassword"
            v-validate="'required|confirmed:password2'"
            :error="errors.has('confirmPassword2')"
            :error-message="errors.first('confirmPassword2')"
            class="q-pa-sm col-md-6 col-sm-12"
            dense
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary col-4">
          <q-btn flat label="Cancel" v-close-popup />
            <submit-button
          @click="saveNewPassword()"
          class="q-ml-xs col-8 full-width"
          :isLoading="isLoading"
          style="margin-top: 20px;"
        />

        </q-card-actions>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import { User } from '../../models'

export default {
  name: 'UserDetail',
  props: {
    user: {
      type: User,
      default: () => new User()
    }
  },
  data () {
    return {
      isLoading: false,
      model: this.$util.extend({}, this.user),
      selected: {},
      // selectedGroups: [],
      selectedRoles: [],
      changePasswordDialog: false
    }
  },
  watch: {
    selected (newVal) {
      this.model.userType = newVal.value
    },
    // selectedGroups(newVal) {
    //   this.model.groupIds = newVal.map(x => x.value);
    // },
    selectedRoles (newVal) {
      this.model.roleIds = newVal.map(x => x.value)
    }
  },
  computed: {
    isCreating () {
      return !(this.model.id !== '' && this.model.id !== undefined)
    },
    options () {
      return this.$store.state.types.userTypes.map(obj => ({
        label: obj.value,
        value: obj.key
      }))
    },
    // optionsGroups() {
    //   let opt = this.$store.state.types.groups.map(obj => ({
    //     label: obj.name,
    //     value: obj.id
    //   }));
    //   return opt;
    // }
    optionsRoles () {
      let opt = this.$store.state.types.roles.map(obj => ({
        label: obj.name,
        value: obj.id
      }))
      return opt
    }
  },
  mounted () {
    this.preFetch()
  },
  methods: {
    async preFetch () {
      this.isLoading = true
      try {
        if (this.$store.state.types.userTypes.length === 0) {
          await this.$store.dispatch('types/setUserTypes')
        }

        // if (this.$store.state.types.groups.length === 0) {
        //   await this.$store.dispatch('types/setGroups');
        // }

        if (this.$store.state.types.roles.length === 0) {
          await this.$store.dispatch('types/setRoles')
        }

        if (this.$store.state.types.users.length === 0) {
          await this.$store.dispatch('types/setUsers')
        }
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false

      const newVal = this.user
      // console.log(newVal.userGroups, this.selectedGroups);
      // console.log('newVal', newVal)
      // if (
      //   newVal.userGroups &&
      //   Array.isArray(newVal.userGroups) &&
      //   newVal.userGroups.length > 0
      // ) {
      //   const gids = newVal.userGroups.map(x => x.id);
      //   this.selectedGroups = this.optionsGroups.filter(
      //     x => gids.indexOf(x.value) > -1
      //   );
      //   // console.log(gids, this.selectedGroups);
      // }

      if (
        newVal.appRoles &&
        Array.isArray(newVal.appRoles)
      ) {
        const rids = newVal.appRoles.map(x => x.id)
        this.selectedRoles = this.optionsRoles.filter(
          x => rids.indexOf(x.value) > -1
        )
        // console.log(rids, this.selectedRoles);
      }

      if (newVal.userType) { this.selected = this.options.find(x => x.value === this.user.userType) }
    },
    async save () {
      await this.$validator.validateAll()
      if (this.errors.any() || this.errors.items.length > 0) {
        this.$toastr.error('Please fix all error(s)')
        return
      }

      try {
        this.isLoading = true
        var res = await (this.isCreating
          ? this.$axios.post('users/Create', this.model, { headers: { 'X-Branche-Token': this.$store.state.auth.selectedOffice.value } })
          : this.$axios.put('users/Update', this.model, { headers: { 'X-Branche-Token': this.$store.state.auth.selectedOffice.value } }))
        if (res.status === 200) {
          this.$toastr.success('Success updating data')
          this.$router.back()
        } else {
          this.$toastr.error('Something goes wrong')
        }
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      } finally {
        this.isLoading = false
      }
    },
    async saveNewPassword () {
      await this.$validator.validateAll()
      if (this.errors.any() || this.errors.items.length > 0) {
        this.$toastr.error('Please fix all error(s)')
        return
      }

      try {
        this.isLoading = true
        var res = await this.$axios.put('users/ChangePassword', this.model)

        if (res.status === 200) {
          this.$toastr.success('Success updating password')
          this.changePasswordDialog = false
        } else {
          this.$toastr.error('Something goes wrong while updating password')
        }
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style></style>
