<template>
  <q-page padding>
    <main-table
      title="Produk"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
      @create="add"
      @edit="edit"
      @delete="del"
    />
  </q-page>
</template>

<script>
import { Pagination, Product } from '../../models'
import unitCategoryMixin from '../../mixins/unitCategoryMixin'

export default {
  name: 'products',
  mixins: [
    unitCategoryMixin
  ],
  data () {
    return {
      isLoading: false,
      filter: '',
      pagination: new Pagination('modifiedAt'),
      columns: [
        {
          name: 'id',
          field: 'id',
          required: true,
          format: (val, row, c) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#',
          sortable: true
        },
        {
          name: 'sku',
          align: 'left',
          field: 'sku',
          label: 'SKU',
          style: 'width:10%;font-weight:bold',
          sortable: true
        },
        {
          name: 'name',
          align: 'left',
          field: 'name',
          label: 'Nama',
          style: 'width:25%',
          sortable: true
        },
        {
          name: 'qty',
          align: 'center',
          field: 'qty',
          label: 'Qty',
          format: (val, row, c) => row.trackInventory ? val : '',
          style: '',
          sortable: false
        },
        {
          name: 'sellingPrice',
          align: 'right',
          field: 'sellingPrice',
          label: 'Harga jual',
          format: (val, row, c) => Number(val).toLocaleString('id-ID'),
          style: 'width:25%;font-weight:bold;',
          sortable: true
        },
        {
          name: 'unitId',
          align: 'left',
          field: 'unitId',
          format: (val, row, c) => this.getUnitName(val),
          label: 'Satuan',
          style: 'width:25%',
          sortable: true
        },
        {
          name: 'categoryId',
          align: 'left',
          field: 'categoryId',
          format: (val, row, c) => this.getCategoryName(val),
          label: 'Kategori',
          style: 'width:25%',
          sortable: true
        },
        {
          name: 'insentiveModel',
          align: 'left',
          field: 'insentiveModel',
          format: (val, row, c) => val && val.name ? val.name : '',
          label: 'Insentive Model',
          style: 'width:25%;color:var(--q-color-primary)',
          sortable: false
        },
        {
          name: 'actions',
          align: 'center',
          field: 'actions',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: []
    }
  },
  computed: {

  },
  watch: {
  },
  mounted () {
    this.onRequest()
  },
  methods: {
    async onRequest (props) {
      this.isLoading = true
      try {
        let pagination = (props && props.pagination) || this.pagination
        const res = await this.$api.products.get(false, { ...pagination })
        let data = res.data.rows.map(x => new Product(x))
        this.data = data
        this.pagination.page = res.data.page
        this.pagination.rowsPerPage = res.data.rowsPerPage
        this.pagination.sortBy = res.data.sortBy
        this.pagination.descending = res.data.descending
        this.pagination.rowsNumber = res.data.rowsNumber
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Konfirmasi',
          message: `Apakah ingin menghapus record Id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            await this.$api.products.delete(id)
            this.data = this.data.filter(val => val.id !== id)
            this.$toastr.success('Record was deleted')
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    edit (id) {
      let product = this.data.filter(x => x.id === id)[0]
      this.$router.push({ name: 'admin.product', params: { value: product, units: this.units, categories: this.categories } })
    },
    add () {
      this.$router.push({ name: 'admin.product', params: { units: this.units, categories: this.categories } })
    }
  }
}
</script>

<style></style>
