<template>
  <q-page padding>
    <main-card
      :title="
        model.id > 0 ? 'Edit Produk Id=' + model.id : 'Buat Produk Baru'
      "
    >
      <q-form @submit="onSubmit" class="row q-col-gutter-sm">
        <input type="hidden" name="id" :value="model.id" ref="fid" />
        <q-input
          filled
          dense
          type="text"
          autofocus
          name="sku"
          label="SKU (Stock Keeping Unit)"
          class="text-uppercase col-6"
          v-model="model.sku"
          v-validate="'required|max:25|remoteValSku:fid'"
          :error="errors.has('sku')"
          :error-message="errors.first('sku')"
        />
        <q-input
          filled
          dense
          type="text"
          name="name"
          label="Nama Produk"
          class="text-capitalize col-6"
          v-model="model.name"
          v-validate="'required'"
          :error="errors.has('name')"
          :error-message="errors.first('name')"
        />

        <q-select
          :options="selectUnitDatas"
          name="unitId"
          label="Unit"
          class="col-6"
          hint="Gunakan satuan terkecil penjualan"
          v-model="selecttedUnitName"
          v-validate="'required'"
          :error="errors.has('unitId')"
          :error-message="errors.first('unitId')"
          filled
          dense
        />
        <q-select
          :options="selectCategoryDatas"
          name="categoryId"
          label="Kategori"
          class="col-6"
          v-model="selecttedCategoryName"
          v-validate="'required'"
          :error="errors.has('categoryId')"
          :error-message="errors.first('categoryId')"
          filled
          dense
        />

        <money-field
          filled
          dense
          v-money="configs"
          type="text"
          name="purchasingPrice"
          label="Harga Beli"
          class="col-6"
          v-model="model.purchasingPrice"
          v-validate="'required'"
          :error="errors.has('purchasingPrice')"
          :error-message="errors.first('purchasingPrice')"
        />
        <money-field
          filled
          dense
          type="text"
          name="netPrice"
          label="Harga Jual Dasar"
          class="col-6"
          v-model="model.netPrice"
          v-validate="'required'"
          :error="errors.has('netPrice')"
          :error-message="errors.first('netPrice')"
        />

        <div class="row col-12">
          <div class="col-4 q-pa-sm">
            <money-field
              filled
              dense
              color="positive"
              label-color="positive"
              type="text"
              name="markup"
              label="+ Harga markup"
              v-model="model.markup"
              v-validate="'required'"
              :error="errors.has('markup')"
              :error-message="errors.first('markup')"
            />
          </div>
          <div class="col-4 q-pa-sm">
            <money-field
              filled
              dense
              v-money="configs"
              color="positive"
              label-color="positive"
              type="text"
              name="markupPercent"
              label="+ Harga markup %"
              v-model="model.markupPercent"
              v-validate="'required'"
              :error="errors.has('markupPercent')"
              :error-message="errors.first('markupPercent')"
            />
          </div>
          <div class="col-4 q-pa-sm">
            <money-field
              filled
              dense
              v-money="configs"
              color="positive"
              label-color="positive"
              type="text"
              name="productionCost"
              label="+ Biaya Produksi"
              v-model="model.productionCost"
              v-validate="'required'"
              :error="errors.has('productionCost')"
              :error-message="errors.first('productionCost')"
            />
          </div>

              <div class="col-4 q-pa-sm">
            <money-field
              filled
              dense
              v-money="configs"
              color="negative"
              label-color="negative"
              type="text"
              name="discount"
              label="- Discount"
              v-model="model.discount"
              v-validate="'required'"
              :error="errors.has('discount')"
              :error-message="errors.first('discount')"
            />
          </div>
            <div class="col-4 q-pa-sm">
            <money-field
              filled
              dense
              color="negative"
              label-color="negative"
              type="text"
              name="discountPercent"
              label="- Discount %"
              v-model="model.discountPercent"
              v-validate="'required'"
              :error="errors.has('discountPercent')"
              :error-message="errors.first('discountPercent')"
            />
          </div>
        </div>

        <div
        class="col-12 flex-center text-center text-bold text-h5 text-white bg-grey q-pa-md"
          >
          Harga jual:
          {{model.sellingPrice | money}}
        </div>

          <div class="row q-col-gutter-sm">
         <q-input
         v-if="createMode || model.trackInventory"
         :disable="!createMode"
          filled
          dense
          type="number"
          name="qty"
          :label="qtyLabel"
          class="col-6"
          v-model="model.qty"
          v-validate="'required|min_value:0'"
          :error="errors.has('qty')"
          :error-message="errors.first('qty')"
        />

        <q-input
          filled
          dense
          type="number"
          name="minimumQty"
          label="Minimal stok"
          class="col-6"
          v-model="model.minimumQty"
          v-validate="'required|min_value:0'"
          :error="errors.has('minimumQty')"
          :error-message="errors.first('minimumQty')"
        />
        <q-toggle
          v-model="model.trackInventory"
          name="trackInventory"
          label="Lacak inventori"
          class="col-6"
          color="positive"
        />
        <q-toggle
          v-model="model.discontinued"
          name="discontinued"
          label="Discontinue"
          class="col-sm-6"
          color="red"
        />

        <insentive-model-select
          label="Insentive Model"
          class="col-12"
          v-model="model.insentiveModelId"
        />
          </div>
        <submit-button
          :is-loading="isLoading"
          @click="onSubmit"
          class="q-mt-md col-12 full-width"
        />
      </q-form>
    </main-card>
  </q-page>
</template>

<script>
import { Product } from '../../models'

export default {
  description: 'Product',
  props: {
    value: {
      type: Product,
      default: () => new Product()
    },
    units: {
      type: Array,
      default: () => []
    },
    categories: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      isLoading: false,
      model: new Product(this.value),
      unitModels: this.units,
      categoryModels: this.categories,
      configs: this.$root.$options.moneyConfigs
    }
  },
  watch: {
    'model.netPrice' (val) {
      // console.log('model.netPrice', val)
    }
  },
  computed: {
    createMode () {
      return !this.model || this.model.id === 0
    },
    qtyLabel () {
      return this.createMode ? 'Stock awal' : 'qty'
    },
    selecttedUnitName: {
      get () {
        if (!this.unitModels.length || !(this.model.unitId > 0)) { return undefined }
        return this.unitModels.find(x => x.id === this.model.unitId).code
      },
      set (val) {
        let m = this.unitModels.find(x => x.code === val)
        if (m) {
          this.model.unitId = m.id
        } else {
          this.model.unitId = 0
        }
      }
    },
    selecttedCategoryName: {
      get () {
        if (!this.categoryModels.length || !(this.model.categoryId > 0)) { return undefined }
        return this.categoryModels.find(x => x.id === this.model.categoryId).name
      },
      set (val) {
        let m = this.categoryModels.find(x => x.name === val)
        if (m) {
          this.model.categoryId = m.id
        } else {
          this.model.categoryId = 0
        }
      }
    },
    selectUnitDatas () {
      if (!this.unitModels.length) return []
      return this.unitModels.map(x => x.code)
    },
    selectCategoryDatas () {
      if (!this.categoryModels.length) return []
      return this.categoryModels.map(x => x.name)
    }
  },
  mounted () {
    if (!this.unitModels.length) {
      this.fetchUnits()
    }
    if (!this.categoryModels.length) {
      this.fetchCategories()
    }
  },
  methods: {
    async onSubmit () {
      if (this.isLoading) {
        return
      }
      this.isLoading = true
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        this.model.sku = this.model.sku.toUpperCase()
        var data = this.model
        try {
          const isEditing = data.id > 0
          var res = await (isEditing
            ? this.$api.products.put(data.id, data)
            : this.$api.products.post(data))
          if (res.status < 300) {
            this.$toastr.success(
              `${data.id > 0 ? 'Record updated' : 'Record added'}`
            )
            this.isLoading = false
            this.$router.back()
          } else {
            this.$toastr.error(res.statusText)
          }
        } catch (e) {
          this.$toastr.error(e.message)
          this.$store.commit(
            'addErrors',
            this.$util.errModelState(e.response.data.modelState)
          )
          this.isLoading = false
        }
      } else {
        this.isLoading = false
      }
    },
    async fetchUnits () {
      try {
        var res = await this.$api.units.get()
        this.unitModels = res.data
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
    },
    async fetchCategories () {
      try {
        var res = await this.$api.categories.get()
        this.categoryModels = res.data
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
    },
    getUnitName (id) {
      let model = this.unitModels.find(x => x.id === id)
      return model ?? ''
    },
    getCategoryName (id) {
      let model = this.categoryModels.find(x => x.id === id)
      return model ?? ''
    }
  }
}
</script>

<style></style>
