<template>
  <q-page padding>
    <main-table
      title="Stok Opname"
      subtitle="(Hanya item dengan TrackInventory = Active yang ditampilkan)"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
    >
    <template #body-cell-actions2="props">
      <q-td>
        <q-btn label="Update stock" flat size="sm" text-color="primary" @click="openJournalDialog(props.row)" />
      </q-td>
    </template>
    <template #add-button>
      &nbsp;
    </template>
      <template #actions>
      <q-btn icon="fas fa-file-excel" size="sm" color="green" outline flat label="download" @click="downloadReport"/>
    </template>
    </main-table>
    <StockJournalDialog v-model="stockJournalDialog" :journal="journal" @update:journal="journalInputHandle"  />

       <q-dialog v-model="dialogOpen">
      <q-card>
        <q-toolbar class="bg-secondary text-white">
          <q-toolbar-title>
            Pilih bulan
          </q-toolbar-title>
          <q-btn flat size="sm" icon="fa fa-times" v-close-popup/>
        </q-toolbar>
        <q-card-section>
          <q-date
          v-model="month"
          :months="['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember']"
          default-view="Months"
          :title="$util.formatDate(month, 'MMMM')"
          :subtitle="$util.formatDate(month, 'YYYY')"
          emit-immediately
          @input="downloadReport"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { Pagination, StockOpname, StockJournal } from '../../models'
import StockJournalDialog from '../../components/inventories/StockJournalDialog'
export default {
  name: 'StockOpname',
  components: {
    StockJournalDialog
  },
  data () {
    return {
      isLoading: false,
      pagination: new Pagination('productName'),
      columns: [
        {
          name: 'productId',
          field: 'productId',
          align: 'left',
          required: true,
          format: (val, row, c) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#',
          sortable: false
        },
        {
          name: 'productName',
          align: 'left',
          field: 'productName',
          label: 'Nama produk',
          style: 'width:30%;font-weight:bold',
          sortable: false
        },
        {
          name: 'qty',
          align: 'left',
          field: 'qty',
          label: 'Stok',
          style: 'width:50px;',
          sortable: false
        },
        {
          name: 'minimumQty',
          align: 'left',
          field: 'minimumQty',
          label: 'Qty Min',
          style: 'width:50px;color:grey',
          sortable: false
        },
        {
          name: 'unitName',
          align: 'left',
          field: 'unitName',
          label: 'Satuan',
          style: 'width:50px',
          sortable: false
        },
        {
          name: 'lastTransactionAt',
          align: 'left',
          field: 'lastTransactionAt',
          label: 'Transaksi terakhir',
          format: (val) => this.$util.formatDate(val, 'dddd, DD MMM YYYY'),
          sortable: false
        },
        {
          name: 'lastNote',
          align: 'left',
          field: 'lastNote',
          label: 'Keterangan',
          style: 'width:50%;',
          sortable: false
        },
        {
          name: 'actions2',
          align: 'center',
          field: 'actions',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: [],
      journal: new StockJournal(),
      stockJournalDialog: false,
      dialogOpen: false
    }
  },
  computed: {

  },
  watch: {
  },
  mounted () {
    this.onRequest()
  },
  methods: {
    async onRequest (props) {
      this.isLoading = true
      try {
        let pagination = (props && props.pagination) || this.pagination
        const res = await this.$api.stocks.get(pagination)

        let data = res.data.rows.map(x => new StockOpname(x))
        this.data = data
        this.pagination.page = res.data.page
        this.pagination.rowsPerPage = res.data.rowsPerPage
        this.pagination.sortBy = res.data.sortBy
        this.pagination.descending = res.data.descending
        this.pagination.rowsNumber = res.data.rowsNumber
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    },
    journalInputHandle (model) {
      this.data = this.data.map(x => {
        if (x.productId !== model.productId) {
          return x
        }
        var nmodel = new StockOpname(model)
        nmodel.qty = x.qty + model.stockIn - model.stockOut
        nmodel.lastNote = model.note
        nmodel.lastTransactionAt = new Date()
        return nmodel
      }
      )
    },
    openJournalDialog (row) {
      this.journal = new StockJournal(row)
      this.stockJournalDialog = true
    },
    downloadReport (month, reason) {
      var url = this.$api.reports.downloadStockOpnameUrl()
      var link = document.createElement('a')
      link.href = url
      link.target = '_blank'
      document.body.append(link)
      link.click()
      document.body.remove(link)
      window.location.reload()

      // if (reason !== 'year') {
      //   this.dialogOpen = false
      //   if (this.$util.isValid(this.month)) {
      //     var url = this.$api.reports.downloadStockOpnameUrl(this.month)
      //     var link = document.createElement('a')
      //     link.href = url
      //     link.target = '_blank'
      //     document.body.append(link)
      //     link.click()
      //     document.body.remove(link)
      //     window.location.reload()
      //   }
      // }
    }
  }
}
</script>

<style></style>
