<template>
  <q-table
    dense
    flat
    title=""
    row-key="id"
    :data="data"
    :columns="columns"
    :isLoading="isLoading"
    :bordered="false"
    @request="onRequest"
  >
    <template #top-row>
      <q-tr class="" v-show="isAdding">
        <q-td key="animalTypeId" :style="qtdStyle" style="max-width:125px">
          <q-select
            v-model="selectedAnimalType"
            data-vv-scope="add"
            name="animalTypeId"
            :options="animalTypes"
            option-label="code"
            option-value="id"
            v-validate="'required'"
            :error="errors.has('add.animalTypeId')"
            :error-message="errors.first('add.animalTypeId')"
            outlined
            input-debounce="50"
            @input="newModel.animalTypeId = selectedAnimalType.id"
          />
        </q-td>
        <q-td key="name" :style="qtdStyle">
          <q-input
            v-model="newModel.name"
            data-vv-scope="add"
            name="name"
            class=""
            style="min-width:132px;"
            v-validate="'required|max:255'"
            :error="errors.has('add.name')"
            :error-message="errors.first('add.name')"
            outlined
            @keydown.enter="saveRow"
          />
        </q-td>
        <q-td key="sex" :style="qtdStyle">
          <q-select
            v-model="newModel.sex"
            :options="sexOptions"
            style="margin-top: -19px;"
            outlined
            emit-value
          />
        </q-td>
        <q-td key="doB" :style="qtdStyle">
          <q-input
            outlined
            readonly
            style="min-width:132px;padding-bottom:0;margin-top: -19px;font-size: 13px;"
            :value="$util.formatDate(newModel.doB, 'YYYY/MM/DD')"
            mask="date"
            :rules="['date']"
          >
            <template #after>
              <q-icon name="fa fa-calendar-day" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="newModel.doB"
                    @input="closePopup('qDateProxy')"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </q-td>
        <q-td key="action" :style="qtdStyle">
          <div class="text-center">
            <q-btn
              round
              icon="fa fa-save"
              title="Save"
              text-color="primary"
              size="sm"
              :disable="isLoading"
              @click.stop="saveRow()"
            />
          </div>
        </q-td>
      </q-tr>
    </template>
    <template #body="props">
      <q-tr
        :props="props"
        class="cursor-pointer"
        :class="{ selected: props.row.id === selectedRow.id }"
        @click.native="rowClickHandler(props)"
      >
        <q-td key="animalTypeId" :props="props" :style="qtdStyle">
          {{
            isEditingRowId(props.row.id)
              ? ''
              : getAnimalname(props.row.animalTypeId)
          }}
          <q-select
            data-vv-scope="edit"
            name="animalTypeId"
            v-model="selectedAnimalType"
            @input="props.row.animalTypeId = selectedAnimalType.id"
            :options="animalTypes"
            option-label="code"
            option-value="id"
            v-validate="'required'"
            :error="errors.has('edit.animalTypeId')"
            :error-message="errors.first('edit.animalTypeId')"
            v-show="isEditingRowId(props.row.id)"
          />
        </q-td>
        <q-td key="name" :props="props" :style="qtdStyle">
          {{ isEditingRowId(props.row.id) ? '' : props.row.name }}
          <q-input
            style="min-width:132px"
            data-vv-scope="edit"
            name="name"
            v-model="props.row.name"
            v-validate="'required|max:255'"
            :error="errors.has('edit.animalTypeId')"
            :error-message="errors.first('edit.animalTypeId')"
            autofocus
            v-show="isEditingRowId(props.row.id)"
          />
        </q-td>
        <q-td key="sex" :props="props" :style="qtdStyle">
          {{ isEditingRowId(props.row.id) ? '' : props.row.sex }}
          <q-select
            data-vv-scope="edit"
            name="sex"
            style="margin-top: -19px;"
            v-model="props.row.sex"
            :options="sexOptions"
            v-show="isEditingRowId(props.row.id)"
            emit-value
          />
        </q-td>
        <q-td key="doB" :props="props" :style="qtdStyle" class="">
          {{
            isEditingRowId(props.row.id)
              ? ''
              : $util.formatDate(props.row.doB, 'YYYY/MM/DD')
          }}
          <q-input
            autofocus
            readonly
            data-vv-scope="edit"
            :value="$util.formatDate(props.row.doB, 'YYYY/MM/DD')"
            mask="date"
            :rules="['date']"
            style="min-width:132px;padding-bottom:0;margin-top: -19px;font-style:13px;"
            v-show="isEditingRowId(props.row.id)"
          >
            <template #after>
              <q-icon name="fa fa-calendar-day" class="cursor-pointer">
                <q-popup-proxy
                  :ref="`qDateProxy2${props.row.id}`"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="props.row.doB"
                    @input="closePopup(`qDateProxy2${props.row.id}`)"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </q-td>
        <q-td key="actions" :props="props" :style="qtdStyle">
          <div class="q-pa-md q-gutter-sm">
            <div v-show="!isEditingRowId(props.row.id)">
              <q-btn
                round
                icon="fa fa-pencil-alt"
                title="Edit"
                text-color="primary"
                size="sm"
                :disable="isLoading"
                @click.stop="
                  selectedRow = props.row;
                  isEditingRow = props.row.id;
                  selectedAnimalType = animalTypes.find(
                    x => x.id === props.row.animalTypeId
                  );
                "
              />
              <q-btn
                round
                icon="fa fa-trash-alt"
                title="Delete"
                text-color="red"
                size="sm"
                :disable="isLoading"
                @click.stop="del(props.row.id)"
              />
            </div>
            <div v-show="isEditingRowId(props.row.id)">
              <q-btn
                round
                icon="fa fa-save"
                title="Save"
                text-color="primary"
                size="sm"
                :disable="isLoading"
                @click.stop="saveRow(props.row.id)"
              />
              <q-btn
                round
                icon="fa fa-undo"
                title="Cancel"
                size="sm"
                :disable="isLoading"
                @click.stop="
                  isEditingRow = 0;
                  undoEditing(props);
                "
              />
            </div>
          </div>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { Patient, AnimalType } from '../../models'
export default {
  name: 'client-pets-table',
  props: {
    clientId: {
      type: Number,
      default: () => 0
    },
    isAdding: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      isLoading: false,
      isEditingRow: 0,
      filter: '',
      selectedRow: {},
      selectedAnimalType: {},
      columns: [
        {
          name: 'animalTypeId',
          align: 'left',
          field: 'animalTypeId',
          label: 'Type',
          sortable: true,
          style: ''
        },
        {
          name: 'name',
          align: 'left',
          field: 'name',
          label: 'Name',
          sortable: true,
          format: (val, row) => val
        },
        {
          name: 'sex',
          align: 'left',
          field: 'sex',
          label: 'Sex',
          sortable: true
        },
        {
          name: 'doB',
          align: 'center',
          field: 'doB',
          label: 'doB',
          sortable: false,
          style: 'width:25px'
        },
        {
          name: 'actions',
          align: 'center',
          field: 'action',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: [],
      originalData: [],
      newModel: new Patient({ clientId: this.clientId }),
      animalTypes: []
    }
  },
  async mounted () {
    await this.fetchAnimalTypes()
    this.onRequest()
  },
  watch: {
    clientId () {
      this.onRequest()
    },
    isAdding (newVal) {
      if (newVal) {
        this.selectedRow = {}
      }
    },
    selectedRow (newVal, oldVal) {
      this.$emit('selected-row-change', newVal)
    },
    isEditingRow (newVal, oldVal) {
      this.$emit('update:editing-row', newVal)
    }
  },
  computed: {
    sexOptions () {
      return this.$util.getSexTypes()
    },
    qtdStyle () {
      return {
        padding: '4px!important'
      }
    }
  },
  methods: {
    closePopup (ref) {
      this.$refs[ref].hide()
    },
    rowClickHandler (props) {
      this.selectedRow = props.row
    },
    isEditingRowId (id) {
      return this.isEditingRow === id
    },
    getAnimalname (id) {
      if (id === undefined || this.animalTypes.length === 0) {
        return ''
      }
      var model =
        this.animalTypes.find((x) => x.id === id) ||
        new AnimalType()
      return model.code
    },
    async fetchAnimalTypes () {
      const res = await this.$api.animalTypes.get()
      this.animalTypes = res.data
    },
    async onRequest () {
      if (this.clientId === 0) return
      this.isLoading = true
      try {
        const res = await this.$api.patients.get({ clientId: this.clientId })
        let data = res.data
        if (data.length > 0) {
          this.selectedRow = data[0]
        }
        this.data.splice(0, this.data.length, ...data)
        let oris = JSON.parse(JSON.stringify(data))
        this.originalData.splice(0, this.originalData.length, ...oris)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    },
    undoEditing (props) {
      var oldData = this.originalData.find(
        x => x.id === props.row.id
      )
      if (oldData) {
        this.data = this.data.map(x => {
          if (x.id === oldData.id) {
            return oldData
          }
          return x
        })
      }
    },
    commitEditing (model) {
      var oldData = this.originalData.find(
        x => x.id === model.id
      )
      if (oldData !== undefined) {
        oldData.animalTypeId = model.animalTypeId
        oldData.name = model.name
        oldData.sex = model.sex
        oldData.doB = model.doB
      }
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Confirm',
          message: `Are you sure want to delete record Id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.patients.delete(id)
            if (res.status === 200) {
              this.data = this.data.filter(val => val.id !== id)
              this.$toastr.success('Record was deleted')
              this.selectedRow = {}
            }
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    async saveRow (id) {
      var model = this.data.find((x) => x.id === id)

      let isEditing = id > 0

      let hasError = false
      if (isEditing) {
        await this.$validator.validate('edit.*')
        if (this.errors.any('edit')) {
          hasError = true
        }
      } else {
        await this.$validator.validate('add.*')
        if (this.errors.any('add')) {
          hasError = true
        }
      }

      if (hasError) {
        this.$toastr.error('Please complete form then resubmit')
        return
      }

      this.isLoading = true
      if (model) model.clientId = this.clientId
      if (this.newModel) this.newModel.clientId = this.clientId
      try {
        var res = isEditing
          ? await this.$api.patients.put(model.id, model)
          : await this.$api.patients.post(this.newModel)
        if (res.status < 300) {
          this.$toastr.success('Record was updated')
          this.isEditingRow = 0
          if (isEditing) {
            this.commitEditing(model)
          } else {
            var nPatient = new Patient(res.data)
            this.data.push(nPatient)
            this.originalData.push(new Patient(res.data))
            this.newModel = new Patient({ animalTypeId: nPatient.animalTypeId })
            this.selectedRow = this.data.find(x => x.id === res.data.id)
            this.$emit('update:is-adding', false)
          }
        }
      } catch (e) {
        this.$toastr.error(e.message)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
tr.selected td
  background-color: #eae8e8;
</style>
