<template>
  <div>
    <q-table
      dense
      flat
      title=""
      row-key="id"
      :pagination.sync="pagination"
      :data="data"
      :columns="columns"
      :isLoading="isLoading"
      :bordered="false"
      @request="onRequest"
    >
      <template #top-row>
        <template v-show="isAdding">
          <q-tr class="">
            <q-td key="visitDate" :style="qtdStyle">
              <date-input
                v-model="newModel.visitDate"
                style="min-width:157px;padding-bottom:0;margin-top: -19px;font-size: 13px;"
                data-vv-scope="add"
                name="visitDate"
                maxToday
                v-validate="visitDateRules"
                :error="errors.has('add.visitDate')"
                :errorMessage="errors.first('add.visitDate')"
                outlined
                dense
              />
            </q-td>

            <q-td key="weight" :style="qtdStyle">
              <q-input
                v-model="newModel.weight"
                class=""
                :style="wtrpStyle"
                data-vv-scope="add"
                name="weight"
                v-validate="'between:0,1000'"
                :error="errors.has('add.weight')"
                :error-message="errors.first('add.weight')"
                outlined
                dense
              />
            </q-td>
            <q-td key="temp" :style="qtdStyle">
              <q-input
                v-model="newModel.temp"
                class=""
                :style="wtrpStyle"
                data-vv-scope="add"
                name="temp"
                v-validate="'between:20,50'"
                :error="errors.has('add.temp')"
                :error-message="errors.first('add.temp')"
                outlined
                dense
              />
            </q-td>
            <q-td key="resp" :style="qtdStyle">
              <q-input
                v-model="newModel.resp"
                class=""
                :style="wtrpStyle"
                data-vv-scope="add"
                name="resp"
                v-validate="'between:0,200'"
                :error="errors.has('add.resp')"
                :error-message="errors.first('add.resp')"
                outlined
                dense
              />
            </q-td>
            <q-td key="pulse" :style="qtdStyle">
              <q-input
                v-model="newModel.pulse"
                class=""
                :style="wtrpStyle"
                data-vv-scope="add"
                name="pulse"
                v-validate="'between:0,200'"
                :error="errors.has('add.pulse')"
                :error-message="errors.first('add.pulse')"
                outlined
                dense
              />
            </q-td>
            <q-td key="treatedBy" :style="qtdStyle">
              <user-select
                vetsOnly
                v-model="newModel.treatedBy"
                outlined
                dense
                style="margin-top: -20px;"
              />
            </q-td>

            <q-td key="action" :style="qtdStyle">
              <div class="text-center">
                <q-btn
                  round
                  icon="fa fa-save"
                  title="Save"
                  text-color="primary"
                  size="sm"
                  :disable="isLoading"
                  @click.stop="saveRow()"
                />
              </div>
            </q-td>
          </q-tr>
        </template>
      </template>
      <template #body="props">
        <template v-if="!isEditingRowId(props.row.id)">
          <q-tr
            :props="props"
            :class="{
              selected: props.row.id === selectedRow.id
            }"
            class="cursor-pointer"
            @click.native="rowClickHandler(props)"
          >
            <q-td>
              {{ $util.formatDate(props.row.visitDate, 'YYYY/MM/DD') }}
            </q-td>
            <q-td :style="wtrpStyle">
              {{ props.row.weight > 0 ? props.row.weight + ' kg' : '-' }}
            </q-td>
            <q-td :style="wtrpStyle">
              {{ props.row.temp > 0 ? props.row.temp + ' °C' : '-' }}
            </q-td>
            <q-td :style="wtrpStyle">
              {{ props.row.resp > 0 ? props.row.resp + ' bpm' : '-' }}
            </q-td>
            <q-td :style="wtrpStyle">
              {{ props.row.pulse > 0 ? props.row.pulse + ' bpm' : '-' }}
            </q-td>
            <q-td>
              {{
                vets.find(x => x.id === props.row.treatedBy) !== undefined
                  ? vets.find(x => x.id === props.row.treatedBy).displayName
                  : ''
              }}
            </q-td>
            <q-td>
              <q-btn
                round
                icon="fa fa-pencil-alt"
                title="Edit"
                text-color="primary"
                size="sm"
                :disable="isLoading"
                @click.stop="
                  selectedRow = props.row
                  isEditingRow = props.row.id
                "
              />
              <q-btn
                round
                icon="fa fa-trash"
                title="Delete"
                text-color="red"
                size="sm"
                :disable="isLoading"
                @click.stop="del(props.row.id)"
              />
            </q-td>
          </q-tr>
        </template>
        <template v-else>
          <q-tr
            :props="props"
            :class="{
              selected: props.row.id === selectedRow.id
            }"
          >
            <q-td key="visitDate" :style="qtdStyle">
              <date-input
                v-model="props.row.visitDate"
                style="min-width:157px;padding-bottom:0;margin-top: -19px;font-size: 13px;"
                data-vv-scope="add"
                name="visitDate"
                maxToday
                v-validate="visitDateRules"
                :error="errors.has('edit.visitDate')"
                :error-message="errors.first('edit.visitDate')"
              />
            </q-td>

            <q-td key="weight" :style="qtdStyle">
              <q-input
                v-model="props.row.weight"
                class=""
                :style="wtrpStyle"
                data-vv-scope="edit"
                name="weight"
                v-validate="'between:0,1000'"
                :error="errors.has('edit.weight')"
                :error-message="errors.first('edit.weight')"
              />
            </q-td>
            <q-td key="temp" :style="qtdStyle">
              <q-input
                v-model="props.row.temp"
                class=""
                :style="wtrpStyle"
                data-vv-scope="edit"
                name="temp"
                v-validate="'between:20,50'"
                :error="errors.has('edit.temp')"
                :error-message="errors.first('edit.temp')"
              />
            </q-td>
            <q-td key="resp" :style="qtdStyle">
              <q-input
                v-model="props.row.resp"
                class=""
                :style="wtrpStyle"
                data-vv-scope="edit"
                name="resp"
                v-validate="'between:0,200'"
                :error="errors.has('edit.resp')"
                :error-message="errors.first('edit.resp')"
              />
            </q-td>
            <q-td key="pulse" :style="qtdStyle">
              <q-input
                v-model="props.row.pulse"
                class=""
                :style="wtrpStyle"
                data-vv-scope="edit"
                name="pulse"
                v-validate="'between:0,200'"
                :error="errors.has('edit.pulse')"
                :error-message="errors.first('edit.pulse')"
              />
            </q-td>
            <q-td key="treatedBy" :style="qtdStyle">
              <!-- <q-select
            v-model="selectedVet"
            data-vv-scope="add"
            name="treatedBy"
            :options="vets"
            outlined
            input-debounce="50"
            @input="props.row.treatedBy = selectedVet.value"
          /> -->
              <user-select
                vetsOnly
                v-model="props.row.treatedBy"
                style="margin-top: -20px;"
              />
            </q-td>
            <q-td key="actions" :props="props" :style="qtdStyle">
              <div class="q-pa-md q-gutter-sm">
                <q-btn
                  round
                  icon="fa fa-save"
                  title="Save"
                  text-color="primary"
                  size="sm"
                  :disable="isLoading"
                  @click.stop="saveRow(props.row.id)"
                />
                <q-btn
                  round
                  icon="fa fa-undo"
                  title="Cancel"
                  size="sm"
                  :disable="isLoading"
                  @click.stop="
                    isEditingRow = 0
                    undoEditing(props)
                  "
                />
              </div>
            </q-td>
          </q-tr>
        </template>
      </template>
    </q-table>
  </div>
</template>

<script>
import { PatientSignalement, User } from '../../models'
export default {
  name: 'client-pet-signalements-table',
  props: {
    patientId: {
      type: Number,
      default: () => 0
    },
    isAdding: {
      type: Boolean,
      default: () => false
    },
    selectedSignalement: {
      type: Object,
      default: () => new PatientSignalement()
    }
  },
  data () {
    return {
      wtrpStyle: {
        minWidth: '6em'
      },
      isLoading: false,
      isEditingRow: 0,
      filter: '',
      selectedRow: {},
      pagination: {
        page: 1,
        rowsPerPage: 5,
        sortBy: 'visitDate',
        descending: true
      },
      columns: [
        {
          name: 'visitDate',
          align: 'center',
          field: 'visitDate',
          label: 'Visit date',
          sortable: true,
          style: ''
        },
        {
          name: 'weight',
          align: 'center',
          field: 'weight',
          label: 'Weight',
          sortable: false,
          format: val => val
        },
        {
          name: 'temp',
          align: 'center',
          field: 'temp',
          label: 'Temp',
          sortable: false
        },
        {
          name: 'resp',
          align: 'center',
          field: 'resp',
          label: 'Resp',
          sortable: false
        },
        {
          name: 'pulse',
          align: 'center',
          field: 'pulse',
          label: 'Pulse',
          sortable: false
        },
        {
          name: 'treatedBy',
          align: 'center',
          field: 'treatedBy',
          label: 'Treated by',
          sortable: false
        },
        {
          name: 'actions',
          align: 'center',
          field: 'action',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      selectedVet: {},
      data: [],
      originalData: [],
      newModel: PatientSignalement.fromPatientId(this.patientId),
      vets: []
    }
  },
  async mounted () {
    await this.fetchVets()
    this.onRequest()
  },
  watch: {
    isAdding (newVal) {
      if (newVal) {
        this.selectedRow = new PatientSignalement()
      }
    },
    selectedRow (newVal) {
      this.$emit('selected-row-change', newVal)
    },
    isEditingRow (newVal) {
      this.$emit('update:editing-row', newVal)
    },
    patientId () {
      this.onRequest()
    },
    selectedSignalement (val) {
      if (val.id && val.id > 0) {
        let tgt = this.data.find(x => x.id === val.id)
        if (tgt) {
          this.data = this.data.map(x => {
            if (x.id !== val.id) return x
            return val
          })
        }
      }
    }
  },
  computed: {
    qtdStyle () {
      return {
        padding: '4px!important',
        minWidth: '45px'
      }
    },
    visitDateRules () {
      return {
        required: true
      }
      //  date_between: [
      //     $util.formatDate(
      //       $util.subtractFromDate(new Date(), { days: 4 }),
      //       'YYYY/MM/DD'
      //     ),
      //     $util.formatDate($util.addToDate(new Date(), { days: 1 }), 'YYYY/MM/DD')
      //   ]
    }
  },
  methods: {
    rowClickHandler (props) {
      this.selectedRow = props.row
    },
    isEditingRowId (id) {
      return this.isEditingRow === id
    },
    getVetName (id) {
      if (id === undefined || this.vets.length === 0) {
        return ''
      }
      var model = this.vets.find(x => x.id === id)

      return model && model.displayName ? model.displayName : ''
    },
    async fetchVets () {
      const res = await this.$api.selectDatas.vets()
      this.vets = res.data.map(x => new User(x))
    },
    async onRequest () {
      if (this.patientId === 0) {
        this.data = []
      }
      this.isLoading = true
      try {
        const res = await this.$api.signalements.get({
          patientId: this.patientId || 0
        })
        let data = res.data
        data = data.map(x => new PatientSignalement(x))
        if (data.length > 0) {
          this.selectedRow = data[0]
        } else {
          this.selectedRow = {}
        }

        this.data.splice(0, this.data.length, ...data)
        let data2 = JSON.parse(JSON.stringify(data))
        this.originalData.splice(0, this.originalData.length, ...data2)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    undoEditing (props) {
      var oldData = this.originalData.find(x => x.id === props.row.id)
      if (oldData !== undefined) {
        props.row.visitDate = oldData.visitDate
        props.row.weight = oldData.weight
        props.row.temp = oldData.temp
        props.row.resp = oldData.resp
        props.row.pulse = oldData.pulse
        props.row.treatedBy = oldData.treatedBy
      }
    },
    commitEditing (model) {
      var oldData = this.originalData.find(x => x.id === model.id)
      if (oldData !== undefined) {
        oldData.visitDate = model.visitDate
        oldData.weight = model.weight
        oldData.temp = model.temp
        oldData.resp = model.resp
        oldData.pulse = model.pulse
        oldData.treatedBy = model.treatedBy
      }
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Confirm',
          message: `Are you sure want to delete record Id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.signalements.delete(id)
            if (res.status < 300) {
              this.data = this.data.filter(val => val.id !== id)
              this.$toastr.success('Record was deleted')
              this.selectedRow = {}
            }
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    async saveRow (id) {
      var model = this.data.find(x => x.id === id)
      let isEditing = !!model

      let hasError = false
      if (isEditing) {
        await this.$validator.validate('edit.*')

        if (this.errors.any('edit')) {
          hasError = true
        }
      } else {
        await this.$validator.validate('add.*')
        if (this.errors.any('add')) {
          hasError = true
        }
      }

      if (hasError) {
        this.$toastr.error('Please complete form then resubmit')
      }

      this.isLoading = true
      try {
        var m = isEditing
          ? this.$util.extend(true, {}, model)
          : this.$util.extend(true, {}, this.newModel)
        m.patientId = this.patientId
        var res = isEditing
          ? await this.$api.signalements.put(m.id, m)
          : await this.$api.signalements.post(m)
        if (res.status < 300) {
          this.$toastr.success('Record was updated')
          this.isEditingRow = 0
          if (isEditing) {
            this.commitEditing(model)
          } else {
            let nm = new PatientSignalement(res.data)
            let nm2 = new PatientSignalement(res.data)
            this.data.push(nm2)
            this.originalData.push(nm2)

            this.newModel.weight = undefined
            this.newModel.temp = undefined
            this.newModel.resp = undefined
            this.newModel.pulse = undefined

            this.selectedRow = nm
            this.$emit('update:is-adding', false)
          }
        }
      } catch (e) {
        var errs = this.$util.err(e, true)
        for (var err of errs) {
          this.$toastr.error(err)
        }
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
tr.selected td
  background-color: #eae8e8;
</style>
