<template>
  <q-expansion-item v-bind="$attrs" v-model="petExpanded">
          <template v-slot:header>
            <q-item-section avatar>
              <q-avatar icon="fas fa-cat" text-color="primary" />
            </q-item-section>
            <q-item-section>
              {{ petPanelTitle }}
              <span class="text-sm"> {{ petPanelCaption }} </span>
            </q-item-section>

            <q-item-section side>
              <div class="row items-center">
                <q-btn
                  round
                  :icon="isAddingPetMode ? 'fa fa-undo' : 'fa fa-plus'"
                  :title="isAddingPetMode ? 'fa fa-undo' : 'fa fa-plus'"
                  text-color="primary"
                  size="sm"
                  @click.stop="isAddingPetMode = !isAddingPetMode"
                  :disabled="!canAddPet"
                />
              </div>
            </q-item-section>
          </template>
          <q-card>
            <q-card-section>
              <client-pets-table
                :clientId="clientId"
                :isAdding.sync="isAddingPetMode"
                @selected-row-change="selectedPetChanged"
                @update:editing-row="petEditingModeHandle"
              />
            </q-card-section>
          </q-card>
        </q-expansion-item>
</template>

<script>
import ClientPetsTable from '../../components/clients/ClientPetsTable'
export default {
  name: 'ClientPetsExpansionCard',
  components: {
    ClientPetsTable
  },
  inheritAttrs: false,
  props: {
    clientId: {
      type: Number,
      default: () => 0
    },
    value: {
      type: Object,
      default: () => ({})
    },
    expanded: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      isAddingPetMode: false,
      isEditingPetMode: 0

    }
  },
  computed: {
    selectedPet: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    },
    petExpanded: {
      get () { return this.expanded },
      set (val) { this.$emit('update:expanded', val) }
    },
    canAddPet () {
      return this.clientId !== 0
    },
    petPanelTitle () {
      return this.petExpanded || this.selectedPet.patientID === undefined
        ? 'Daftar peliharaan'
        : `${this.getAnimalTypeCode(this.selectedPet.animalTypeID)} ${
          this.selectedPet.patientName
        }`
    },
    petPanelCaption () {
      let tday = new Date()
      return this.petExpanded || this.selectedPet.patientID === undefined
        ? ''
        : this.selectedPet.dob !== null && this.selectedPet.dob !== undefined
          ? tday.getFullYear() > new Date(this.selectedPet.dob).getFullYear()
            ? `${this.$util.getDateDiff(tday, this.selectedPet.dob, 'years')} yo`
            : `${this.$util.getDateDiff(tday, this.selectedPet.dob, 'months')} mo`
          : ''
    }
  },
  methods: {
    selectedPetChanged (model) {
      this.selectedPet = model
    },
    petEditingModeHandle (newVal) {
      this.isEditingPetMode = newVal
    }
  }
}
</script>
