<template>
   <q-expansion-item
              v-model="signalementExpanded"
            >
              <template v-slot:header>
                <q-item-section avatar>
                  <q-avatar icon="fa fa-calendar-week" text-color="primary" />
                </q-item-section>
                <q-item-section>
                  <span v-html="signalementPanelTitle"></span>
                  <span class="text-sm"> {{ signalementPanelCaption }} </span>
                </q-item-section>
                <q-item-section side>
                  <div class="row items-center">
                    <q-btn
                      round
                      :icon="isAddingPetSignalementMode ? 'fa fa-undo' : 'fa fa-plus'"
                      :title="isAddingPetSignalementMode ? 'fa fa-undo' : 'fa fa-plus'"
                      text-color="primary"
                      size="sm"
                      @click.stop="toggleSignalement"
                      :disabled="isAddingPetSignalementMode ? false : !canAddSignalement"
                    />
                  </div>
                </q-item-section>
              </template>
              <q-card>
                <q-card-section>
                  <client-pet-signalements-table
                    :patientId="patient.id"
                    :isAdding.sync="isAddingPetSignalementMode"
                    :selectedSignalement="selectedSignalement"
                    @selected-row-change="selectedPetSignalementChanged"
                    @update:editing-row="petSignalementEditingModeHandle"
                  />
                </q-card-section>
              </q-card>
            </q-expansion-item>
</template>

<script>
import ClientPetSignalementsTable from '../../components/clients/ClientPetSignalementsTable'
import { Patient, PatientSignalement } from '../../models'
export default {
  name: 'PetSignalementsExpansionCard',
  components: {
    ClientPetSignalementsTable
  },
  props: {
    patient: {
      type: Object,
      default: () => new Patient()
    },
    value: {
      type: Object,
      default: () => new PatientSignalement()
    },
    expanded: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      isAddingPetSignalementMode: false,
      isEditingPetSignalementMode: 0
    }
  },
  computed: {
    selectedSignalement: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    },
    signalementExpanded: {
      get () { return this.expanded },
      set (val) { this.$emit('update:expanded', val) }
    },
    canAddSignalement () {
      return this.patient.id !== 0
    },
    signalementPanelTitle () {
      let arr = ['Daftar kunjungan dan tanda vital ']
      if (this.patient.id > 0) {
        arr.push('<b>' + this.$util.safeString('Pasien ' + this.patient.name + ` @ ${this.$util.formatDate(
          this.selectedSignalement.visitDate,
          'dddd, YYYY-MM-DD'
        )}`) + '</b>')
      }
      return arr.join('')
    },
    signalementPanelCaption () {
      return this.signalementExpanded
        ? ''
        : `${
          this.selectedSignalement.weight > 0
            ? this.selectedSignalement.weight + ' kg'
            : ''
        }
          ${
  this.selectedSignalement.temp > 0
    ? this.selectedSignalement.temp + ' °C'
    : ''
}
          ${
  this.selectedSignalement.resp > 0
    ? this.selectedSignalement.resp + ' bpm'
    : ''
}
          ${
  this.selectedSignalement.pulse > 0
    ? this.selectedSignalement.pulse + ' bpm'
    : ''
}
        `
    }
  },
  methods: {
    selectedPetSignalementChanged (model) {
      this.selectedSignalement = model
    },
    petSignalementEditingModeHandle (newVal) {
      this.isEditingPetSignalementMode = newVal
    },
    toggleSignalement () {
      this.isAddingPetSignalementMode = !this.isAddingPetSignalementMode
    }
  }
}
</script>
