<template>
  <q-card class="q-mt-sm" v-show="model.id && model.id > 0">
    <q-toolbar>
      <q-item-section avatar>
        <q-avatar icon="fa fa-book" text-color="primary" />
      </q-item-section>
      <q-item-section>
        <span v-html="title"></span>
        <span class="text-sm"> </span>
      </q-item-section>
      <q-space />
      <q-btn
        size="sm"
        round
        text-color="primary"
        :icon="isEditing ? 'fa fa-undo' : 'fa fa-pencil-alt'"
        @click="toggleEdit"
      />
      <q-btn
        size="sm"
        round
        text-color="primary"
        v-show="isEditing"
        icon="fa fa-save"
        @click="save"
      />
    </q-toolbar>
    <q-card-section>
      <div class="row full-width">
        <div class="col-4">
          <q-input
            ref="inpAnamnesa"
            v-model="model.anamnesa"
            name="anamnesa"
            label="Anamnesa"
            v-validate="'max:255'"
            :error="errors.has('anamnesa')"
            :error-message="errors.first('anamnesa')"
            outlined
            autogrow
            dense
            :disable="!isEditing"
          />
        </div>
        <div class="col-4">
          <q-input
            v-model="model.clinicalSign"
            name="clinicalSign"
            label="Gejala klinis"
            v-validate="'max:255'"
            :error="errors.has('clinicalSign')"
            :error-message="errors.first('clinicalSign')"
            outlined
            autogrow
            dense
            :disable="!isEditing"
          />
        </div>
        <div class="col-4">
          <q-input
            treatment
            v-model="model.treatment"
            name="treatment"
            label="Treatment"
            v-validate="'max:255'"
            :error="errors.has('treatment')"
            :error-message="errors.first('treatment')"
            outlined
            autogrow
            dense
            :disable="!isEditing"
          />
        </div>
        <div class="col-12 row full-width q-mt">
          <div class="col-12 q-pa-sm">
            <q-uploader
              ref="uploader"
              label="Lampiran"
              class="full-width"
              :url="uploadUrl"
              accept="image/*,.pdf,.zip,.docx,.xlsx,.rar,.txt,.video"
              :max-file-size="3 * 1024 * 1024"
              @removed="removed"
              @uploaded="uploaded"
              @failed="failed"
            >
              <template
                v-if="showUploaderCustomSlot(model.id)"
                v-slot:header
              >
                <q-toolbar>
                  <q-toolbar-title>
                    Lampiran
                  </q-toolbar-title>
                </q-toolbar>
              </template>
              <template
                v-slot:list="scope"
                v-if="showUploaderCustomSlot(model.id)"
              >
                <q-item>
                  <q-item-section>
                    <q-item-label class="full-width ellipsis">
                      {{ model.fileName }}
                    </q-item-label>

                    <q-item-label caption>
                      {{ $util.humanStorageSize(model.fileSize) }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section
                    v-if="model.fileType && model.fileType != null && model.fileType.indexOf('image') > -1"
                    thumbnail
                    class="gt-xs"
                  >
                    <img :src="model.fileUri" />
                  </q-item-section>
                  <q-item-section v-else>
                    {{ model.fileName }}
                  </q-item-section>

                  <q-item-section top side>
                    <q-btn
                      class="gt-xs"
                      size="sm"
                      flat
                      dense
                      round
                      icon="fa fa-trash-alt"
                      color="negative"
                      @click="removed()"
                    />
                  </q-item-section>
                </q-item>
              </template>
            </q-uploader>
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { PatientSignalement } from '../../models'
export default {
  name: 'PetSignalementsCard2',
  props: {
    value: {
      type: Object,
      default: () => new PatientSignalement()
    }
  },
  data () {
    return {
      isEditing: false,
      model: {},
      ori: {},
      justUploaded: []
    }
  },
  watch: {
    value (val) {
      this.ori = new PatientSignalement(val)
      this.model = new PatientSignalement(val)
    }
  },
  computed: {
    uploadUrl () {
      return this.$api.signalements.uploadUrl(this.model.id)
    },
    title () {
      let arr = ['Rekam medik ']
      if (this.model.id > 0) {
        arr.push(
          '<b>' +
            this.$util.safeString(
              ` @ ${this.$util.formatDate(
                this.model.visitDate,
                'dddd, YYYY-MM-DD'
              )}`
            ) +
            '</b>'
        )
      }
      return arr.join('')
    }
  },
  methods: {
    showUploaderCustomSlot (id) {
      return this.justUploaded && this.justUploaded !== null && (this.justUploaded.indexOf(id) > -1 || (this.model.fileUri && this.model.fileUri.length))
    },
    async save () {
      try {
        await this.$api.signalements.put(this.model.id, this.model)
        this.$toastr.success('Data rekam medik berhasil diupdate')
        this.isEditing = false
        this.$emit('input', this.model)
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
    },
    uploaded ({ files }) {
      if (!this.justUploaded.find(x => x === this.model.id)) {
        this.justUploaded.push(this.model.id)
      }
      var file = files[0]
      this.model.fileName = file.name
      this.model.fileSize = file.size
      this.model.fileType = file.type
      this.model.fileUri = JSON.parse(file.xhr.response).fileUri
      this.$emit('input', this.model)
      this.$toastr.success('File berhasil diupload')
    },
    failed (info) {
      var msg =
        info.xhr.responseText &&
        info.xhr.responseText.length > 10 &&
        info.xhr.responseText.length < 100
          ? info.xhr.responseText
          : 'File gagal diupload'
      this.$toastr.error(msg)
    },
    async removed () {
      try {
        await this.$api.signalements.clearAttachment(this.model.id)
        this.$toastr.success('File berhasil dihapus')
        this.justUploaded = this.justUploaded.filter(x => x !== this.model.id)
        this.model.fileName = null
        this.model.fileType = null
        this.model.fileSize = 0
        this.model.fileUri = null
        this.$emit('input', this.model)
        this.$refs.uploader.reset()
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
    },
    toggleEdit () {
      this.isEditing = !this.isEditing
      if (this.isEditing) {
        // TODO:ref  focus not working
        this.$refs.inpAnamnesa.focus()
      } else {
        this.model = new PatientSignalement(this.ori)
      }
    }
  }
}
</script>
