<template>
  <q-page padding>
    <main-table
      title="Animal types"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
      @create="add"
      @edit="edit"
      @delete="del"
    />
  </q-page>
</template>

<script>
import { Pagination, AnimalType } from '../../models'

export default {
  name: 'animal-types',
  data () {
    return {
      isLoading: false,
      filter: '',
      pagination: new Pagination('id'),
      columns: [
        {
          name: 'id',
          field: 'id',
          required: true,
          format: (val, row, c) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#',
          sortable: true
        },
        {
          name: 'typeCode',
          align: 'left',
          field: 'code',
          label: 'Type code',
          style: 'width:25%',
          sortable: true
        },
        {
          name: 'typeName',
          align: 'left',
          field: 'name',
          label: 'Type name',
          sortable: true
        },
        {
          name: 'actions',
          align: 'center',
          field: 'actions',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: []
    }
  },
  computed: {

  },
  watch: {
  },
  mounted () {
    this.onRequest()
  },
  methods: {
    async onRequest () {
      this.isLoading = true
      try {
        const res = await this.$api.animalTypes.get()
        let data = res.data.map(x => new AnimalType(x))
        this.data = data
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Konfirmasi',
          message: `Apakah ingin menghapus record Id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.animalTypes.delete(id)
            if (res.status === 200) {
              this.data = this.data.filter(val => val.id !== id)
              this.$toastr.success('Record was deleted')
            }
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    edit (id) {
      let animalType = this.data.filter(x => x.id === id)[0]
      this.$router.push({ name: 'admin.animaltype', params: { value: animalType } })
    },
    add () {
      this.$router.push('/admin/animaltype')
    }
  }
}
</script>

<style></style>
