<template>
  <q-page padding>
    <main-card :title="model.id > 0 ? 'Edit animal type Id=' + model.id : 'Create new animal type'" >
      <q-form @submit="onSubmit">
        <q-input filled type="text" autofocus name="code" label="Kode" class="text-capitalize" v-model="model.code" v-validate="'required|max:10'" :error="errors.has('code')" :error-message="errors.first('code')"/>
        <q-input filled type="text" name="name" label="Nama" class="text-capitalize" v-model="model.name" v-validate="'required'" :error="errors.has('name')" :error-message="errors.first('name')"/>

         <submit-button :is-loading="isLoading" @click="onSubmit" class="q-mt-md" />
      </q-form>
    </main-card>
  </q-page>
</template>

<script>
import { AnimalType } from '../../models'

export default {
  name: 'AnimalType',
  props: {
    value: {
      type: AnimalType,
      default: () => new AnimalType()
    }
  },
  data () {
    return {
      isLoading: false,
      model: this.$util.extend({}, this.value)
    }
  },
  watch: {
  },
  computed: {

  },
  methods: {
    async onSubmit () {
      if (this.isLoading) {
        return
      }
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        this.isLoading = true
        var data = this.model
        try {
          const isEditing = data.id > 0
          var res = await (isEditing ? this.$api.animalTypes.put(data.id, data) : this.$api.animalTypes.post(data))
          if (res.status < 300) {
            this.$toastr.success(`${data.id > 0 ? 'Record updated' : 'Record added'}`)
            this.$router.back()
          } else {
            this.$toastr.error(res.statusText)
          }
        } catch (e) {
          let emsg = this.$util.err(e)
          this.$toastr.error(emsg)
          this.$store.commit('addErrors', this.$util.errModelState(e.response.data.modelState))
          this.isLoading = false
        }
      }
    }
  }
}
</script>

<style>
</style>
