<template>
  <q-page>
    <main-card title="Appointment calendar">
     <my-full-calendar
        :events="getEvents"
        @dayClick="dayClick"
        @eventClick="eventClick"
      />
      <!-- <full-calendar :plugins="calendarPlugins" /> -->
    </main-card>
  </q-page>
</template>

<script>
// import FullCalendar from '@fullcalendar/vue'
// import dayGridPlugin from '@fullcalendar/daygrid'
// import interactionPlugin from '@fullcalendar/interaction'
import MyFullCalendar from '../../components/appointments/MyFullCalendar'
export default {
  name: 'AppointmentCalendar',
  components: {
    MyFullCalendar
    // FullCalendar
  },
  data () {
    return {
      // calendarPlugins: [dayGridPlugin, interactionPlugin]
    }
  },
  computed: {

  },
  methods: {
    async getEvents (info, successFn, failFn) {
      try {
        const res = await this.$api.appointments.get(info)
        successFn(res.data)
      } catch (e) {
        this.$toastr.error(e.message)
        failFn(e)
      }
    },
    eventClick (/* calEvent, jsEvent, view */) {
      // var day = this.$util.formatDate(calEvent.event.start, 'YYYY-MM-DD');
      // console.log('eventClick', calEvent, jsEvent, view);
      // console.log('day', day);
      // var url = `/Administrator/Appointment/index?day=${day}`;
    },
    dayClick (/* day */) {
      // console.log('dayClick', day);
      // var day = day.format('YYYY-MM-DD');
      // var url = `/Administrator/Appointment/index?day=${day}`;
      // window.location = url;
    }
  }
}
</script>

<style></style>
