<template>
  <q-page padding>
      <main-table
        title="Daftar Klien"
        :data="data"
        :columns="columns"
        row-key="id"
        :pagination.sync="pagination"
        :isLoading="isLoading"
        @request="onRequest"
        @create="add"
        @edit="edit"
        @delete="del"
      >
      <template #body-cell-name="scoped">
        <q-td>
         <q-btn round size="sm" class="q-mr-sm" text-color="green"
           v-if="showWaButton(scoped.row.phone)" type="a" target="_blank" :href="'https://wa.me/' + normalizePhone(scoped.row.phone)"
            icon="fab fa-whatsapp"
          />
         {{scoped.row.name }}
      </q-td>
      </template>
      </main-table>
  </q-page>
</template>

<script>
import { Client } from '../../models'
export default {
  name: 'ClientList',
  data () {
    return {
      isLoading: false,
      pagination: { page: 1, rowsPerPage: 15, sortBy: 'modifiedAt', descending: true, rowsNumber: 10 },
      columns: [
        { name: 'id', required: true, format: (val, row) => this.data.indexOf(row) + 1, style: 'width: 25px', label: '#' },
        { name: 'code', align: 'left', field: 'code', label: 'id', style: 'width:25%', sortable: true },
        { name: 'name', align: 'left', field: 'name', label: 'Name', sortable: true, format: (val, row) => val },
        { name: 'address', align: 'left', field: 'address', label: 'Address', sortable: true },
        { name: 'phone', align: 'center', field: 'phone', label: 'Phone', style: 'width:25px' },
        { name: 'email', align: 'center', field: 'email', label: 'Email', style: '' },
        { name: 'note', align: 'center', field: 'note', label: 'Note', style: '' },
        { name: 'pets', align: 'center', field: 'pets', label: 'Pets', style: '' },
        { name: 'totalSpend', align: 'right', field: 'totalSpend', label: 'TotalSpend', style: 'width:25px' },
        { name: 'actions', align: 'center', field: 'action', label: 'Actions', style: 'width:25px' }
      ],
      data: [

      ]
    }
  },
  computed: {
  },
  mounted () {
    this.onRequest()
  },
  methods: {
    normalizePhone (phone) {
      if (!phone || !phone.length || phone === null || !phone.indexOf) {
        return ''
      }
      return phone.replace(/[^0-9,]+/g, '').replace(/^0/, '62')
    },
    showWaButton (phone) {
      return this.normalizePhone(phone).length > 10 && this.normalizePhone(phone).indexOf(',') === -1
    },
    // updatePagination(props){
    //   // console.log('props', props)
    // },
    async onRequest (props) {
      this.isLoading = true
      try {
        let pagination = (props && props.pagination) || this.pagination
        const res = await this.$api.clients.get(pagination)

        let data = res.data
        let clients = data.rows.map(x => new Client(x))
        this.pagination.page = data.page
        this.pagination.rowsPerPage = data.rowsPerPage
        this.pagination.sortBy = data.sortBy
        this.pagination.descending = data.descending
        this.pagination.rowsNumber = data.rowsNumber

        this.data.splice(0, this.data.length, ...clients)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id) {
      this.$q.dialog({
        title: 'Confirm',
        message: `Are you sure want to delete this client record with Id = ${id}?`,
        cancel: true,
        persistent: true
      }).onOk(async () => {
        this.isLoading = true
        try {
          var res = await this.$api.clients.delete(id)
          if (res.status === 200) {
            this.data = this.data.filter((val) => val.id !== id)
            this.$toastr.success('Record was deleted')
          }
        } catch (e) {
          this.$toastr.error(e.message)
        } finally {
          this.isLoading = false
        }
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    edit (id) {
      // let client = this.data.filter((x) => x.id === id)[0]
      // console.log(client)
      this.$router.push({ name: 'admin.clients', params: { id } })
    },
    add () {
      this.$router.push(`/admin/clients/0`)
    }
  }
}
</script>

<style></style>
