<template>
  <q-page padding>
    <main-title-banner title="Klien detail dan signalement" />

    <main-loader v-if="!isLoaded" />
    <template v-else>
    <!-- <main-card title="Client detail with pet's signalement"> -->
    <q-expansion-item
      :header-class="headerClass"
      :class="expansionClass"
      :style="expansionStyle"
      v-model="clientDetailsExpanded"
    >
      <template v-slot:header>
        <q-item-section avatar>
          <q-avatar icon="fa fa-user-alt" text-color="primary" />
        </q-item-section>

        <q-item-section>
          {{ clientDetailsTitle }}
          <span class="text-sm"> {{ clientDetailsCaption }} </span>
        </q-item-section>

        <q-item-section side>
          <div class="row items-center">
            <q-btn
              v-if="model.id !== 0"
              rounded
              icon="fa fa-boxes"
              size="sm"
              text-color="primary"
              @click.stop="inventoryUseDialog = true"
              class="q-mr-sm"
            >
            <q-tooltip>
              Penggunaan inventori
            </q-tooltip>
            </q-btn>
            <q-btn
              v-if="model.id !== 0"
              round
              icon="fas fa-calendar-alt"
              size="sm"
              @click="checkAppointment"
              class="q-mr-sm"
              text-color="primary"
            >
            <q-tooltip> Daftar appointment </q-tooltip>
            </q-btn>
            <q-btn
              round
              :icon="isEditingClient ? 'fa fa-undo' : 'fa fa-pencil-alt'"
              :title="isEditingClient ? 'fa fa-undo' : 'fa fa-pencil-alt'"
              text-color="primary"
              size="sm"
              @click.stop="
                isEditingClient ? undoEditingClient() : startEditingClient()
              "
            />
          </div>
        </q-item-section>
      </template>
      <q-card>
        <q-card-section>
          <q-form class="row q-col-gutter-sm justify-center">
            <input type="hidden" :value="model.id" ref="fid" />
            <q-input
              class="col-sm-12 col-md-3 q-my-xs q-py-xs"
              v-model="model.code"
              type="text"
              name="code"
              label="Kode *"
              placeholder="Kode"
              v-validate="'required|max:10|remoteValClientCode:fid'"
              :error="errors.has('code')"
              :error-message="errors.first('code')"
              :readonly="!isEditingClient"
              dense
              autofocus
            />
            <q-input
              class="col-sm-12 col-md-8 q-my-xs q-py-xs"
              v-model="model.name"
              type="text"
              name="name"
              label="Name *"
              placeholder="name"
              v-validate="'required|max:50'"
              :error="errors.has('name')"
              :error-message="errors.first('name')"
              :readonly="!isEditingClient"
              dense
            />
            <q-input
              class="col-sm-12 col-md-11 q-my-xs q-py-xs"
              v-model="model.address"
              type="text"
              name="address"
              label="Address"
              placeholder="address"
              autogrow
              v-validate="'max:255'"
              :error="errors.has('address')"
              :error-message="errors.first('address')"
              :readonly="!isEditingClient"
              dense
            />
            <q-input
              class="col-sm-12 col-md-5 q-my-xs q-py-xs"
              v-model="model.phone"
              type="text"
              name="phone"
              label="Phone"
              placeholder="phone"
              v-validate="'max:100'"
              :error="errors.has('phone')"
              :error-message="errors.first('phone')"
              :readonly="!isEditingClient"
              dense
            />
            <q-input
              class="col-sm-12 col-md-6 q-my-xs q-py-xs"
              v-model="model.email"
              type="text"
              name="email"
              label="Email"
              placeholder="email"
              v-validate="'email'"
              :error="errors.has('email')"
              :error-message="errors.first('email')"
              :readonly="!isEditingClient"
              dense
            />
            <q-input
              class="col-sm-12 col-md-11 q-my-xs q-py-xs"
              v-model="model.note"
              type="text"
              name="note"
              label="note"
              placeholder="note"
              autogrow
              v-validate="'max:255'"
              :error="errors.has('note')"
              :error-message="errors.first('note')"
              :readonly="!isEditingClient"
            />
            <submit-button
              v-show="isEditingClient"
              :isLoading="isSubmittingClientDetail"
              @click="saveClientDetail"
              class="col-sm-12 col-md-11 self-end q-ml-sm"
            >
              SAVE
            </submit-button>
          </q-form>
        </q-card-section>
      </q-card>
    </q-expansion-item>

    <div class="row q-mt-md q-col-gutter-sm" v-if="model.id !== 0">
      <div :class="petContainerClass">
        <client-pets-expansion-card
          :header-class="headerClass"
          :class="expansionClass"
          :style="expansionStyle"
          :clientId="model.id"
          :expanded.sync="petExpanded"
          v-model="selectedPet"
        />
      </div>
      <div :class="visitSigContainerClass"  v-if="selectedPet && selectedPet.id">
        <div class="column  q-gutter-sm" style="display:block;">
          <div class="col">
           <pet-signalements-expansion-card
           :header-class="headerClass"
              :class="expansionClass"
              :style="expansionStyle"
               :patient="selectedPet"
              :expanded.sync="signalementExpanded"
              v-model="selectedSignalement"
           />
          </div>
        </div>
          <div class="col-xs-12 col-sm-12  col-md-4 col-lg-6 col-xl-6">
              <PetSignalementsCard2 v-model="selectedSignalement" />
          </div>
      </div>
    </div>
    <!-- </main-card> -->
    </template>
    <InventoryUseForMedicalDialog v-model="inventoryUseDialog" :clientId="model.id" v-if="model.id !== 0" />
  </q-page>
</template>

<script>
import { Client } from '../../models'
import ClientPetsExpansionCard from '../../components/clients/ClientPetsExpansionCard'
import PetSignalementsExpansionCard from '../../components/clients/PetSignalementsExpansionCard'
import PetSignalementsCard2 from '../../components/clients/PetSignalementsCard2'
import InventoryUseForMedicalDialog from '../../components/clients/InventoryUseForMedicalDialog'
export default {
  name: 'ClientDetails',
  props: {
    id: {
      type: [Number, String],
      required: true
    }
  },
  components: {
    ClientPetsExpansionCard,
    PetSignalementsExpansionCard,
    PetSignalementsCard2,
    InventoryUseForMedicalDialog
  },
  data () {
    return {
      isLoaded: false,
      isSubmittingClientDetail: false,
      clientDetailsExpanded: false,
      petExpanded: true,
      signalementExpanded: true,
      isEditingClient: false,
      headerClass: 'bg-white text-primary border-bottom shadow-1',
      expansionClass: 'shadow-1 overflow-hidden',
      expansionStyle: 'border-radius: 7px;border:1px solid $primary',
      model: new Client(),
      client: {},
      selectedPet: {},
      selectedSignalement: {},
      inventoryUseDialog: false
    }
  },
  mounted () {
    if (this.id) {
      if (this.id !== '0') {
        this.reloadClient()
      } else {
        this.model = new Client()
      }
    } else {
      this.$router.back()
    }
  },
  watch: {
    model (val) {
      this.isLoaded = true
      if (!val.id || val.id === 0) {
        this.isEditingClient = this.clientDetailsExpanded = true
      }
    }
  },
  computed: {
    petContainerClass () {
      return this.isAddingPetMode || this.isEditingPetMode > 0
        ? 'col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6'
        : 'col-xs-12 col-sm-12 col-md-4 col-lg-4'
    },
    visitSigContainerClass () {
      return this.isAddingPetMode || this.isEditingPetMode > 0
        ? 'col-xs-12 col-sm-12  col-md-4 col-lg-6 col-xl-6'
        : 'col-xs-12 col-sm-12 col-md-8 col-lg-8'
    },
    clientDetailsTitle () {
      let cl = this.model
      return this.clientDetailsExpanded || cl.code === undefined
        ? 'Detail client'
        : `${cl.code} ${cl.name}`
    },
    clientDetailsCaption () {
      let cl = this.model
      return this.clientDetailsExpanded || cl.code === undefined
        ? ''
        : `${cl.phone} ${cl.email}`
    }
  },
  methods: {
    checkAppointment () {
      this.$dialog.appointmentTableForCustomer(this, this.model.id, this.model.code + ' ' + this.model.name)
    },
    async reloadClient () {
      try {
        var res = await this.$api.clients.getOne(this.id)
        if (res.status < 300) {
          this.model = this.client = new Client(res.data)
        } else {
          this.$toastr.error('Unable to fetch client\'s records')
          this.$router.back()
        }
      } catch (e) {
        // create new record
        this.model = new Client()
        // this.$toastr.error(this.$util.err(e))
      }
    },
    startEditingClient () {
      this.isEditingClient = true
      this.clientDetailsExpanded = true
    },
    undoEditingClient () {
      this.model.code = this.client.code || ''
      this.model.name = this.client.name || ''
      this.model.address = this.client.address || ''
      this.model.phone = this.client.phone || ''
      this.model.email = this.client.email || ''
      this.model.note = this.client.note || ''

      this.isEditingClient = false
    },
    async saveClientDetail () {
      this.isSubmittingClientDetail = true
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        try {
          let isAdding = !this.model.id || this.model.id === 0
          var res = await (isAdding
            ? this.$api.clients.post(this.model)
            : this.$api.clients.put(this.model.id, this.model))
          if (res.status < 300) {
            this.$toastr.success(
              `${isAdding ? 'Record added' : 'Record updated'}`
            )
            this.isEditingClient = false
            if (res.data && res.data.id) {
              this.$router.replace('/admin/clients/' + this.id)
            } else {
              this.reloadClient()
            }
          } else {
            this.$toastr.error(res.statusText)
          }
        } catch (e) {
          let emsg = this.$util.err(e)
          this.$toastr.error(emsg)
          this.$store.dispatch(
            'addErrors',
            this.$util.errModelState(e.response.data.modelState)
          )
        } finally {
          this.isSubmittingClientDetail = false
        }
      }

      this.isSubmittingClientDetail = false
    }
  }
}
</script>

<style lang="stylus">
.border-bottom
  border-bottom: 1px solid
</style>
