<template>
  <q-page padding>
    <main-table
      title="Rekap penerimaan harian"
      :data="data"
      :columns="columns"
      row-key="closingDate"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
      searchPlaceHolder="YYYY-MM-DD"
    />
  </q-page>
</template>

<script>
import { Pagination } from '../../models'

export default {
  name: 'categories',
  data () {
    return {
      isLoading: false,
      filter: '',
      pagination: new Pagination('closingDate', { descending: true }),
      columns: [
        {
          name: 'id',
          required: true,
          format: (val, row, c) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#',
          sortable: false
        },
        {
          name: 'closingDate',
          align: 'left',
          field: 'closingDate',
          label: 'Tgl closing',
          sortable: false,
          format: (val) => this.$util.formatDate(val, 'dddd, DD MMM YYYY')
        },
        {
          name: 'total',
          align: 'right',
          field: 'total',
          label: 'Total',
          sortable: false,
          format: (val) => this.$options.filters.money(val)
        },
        {
          name: 'totalCashRevenue',
          align: 'right',
          field: 'totalCashRevenue',
          label: 'Total net Cash',
          format: (val) => this.$options.filters.money(val)
        }, {
          name: 'cardBca',
          align: 'center',
          field: 'cardBca',
          label: 'CC/DC Bca',
          format: (val, row) => this.$options.filters.money(row.ccBca) + '/' + this.$options.filters.money(row.dcBca)
        }, {
          name: 'cardMandiri',
          align: 'center',
          field: 'cardMandiri',
          label: 'CC/DC Mandiri',
          format: (val, row) => this.$options.filters.money(row.ccMandiri) + '/' + this.$options.filters.money(row.dcMandiri)
        }, {
          name: 'cardBni',
          align: 'center',
          field: 'cardBni',
          label: 'CC/DC Bni',
          format: (val, row) => this.$options.filters.money(row.ccBni) + '/' + this.$options.filters.money(row.dcBni)
        },
        {
          name: 'totalPayment',
          align: 'right',
          field: 'totalPayment',
          label: 'Total penerimaan',
          format: (val) => this.$options.filters.money(val)
        },
        {
          name: 'totalUnpaid',
          align: 'right',
          field: 'totalUnpaid',
          label: 'Total Hutang',
          classes: 'text-negative',
          format: (val) => this.$options.filters.money(val)
        }
      ],
      data: []
    }
  },
  computed: {},
  watch: {},
  mounted () {
    this.onRequest()
  },
  methods: {
    async onRequest (props) {
      this.isLoading = true
      try {
        let pagination = (props && props.pagination) || this.pagination
        pagination.date = pagination.filter
        const res = await this.$api.reports.getDailyRevenues(pagination)

        let data = res.data
        let model = data.rows
        this.pagination.page = data.page
        this.pagination.rowsPerPage = data.rowsPerPage
        this.pagination.sortBy = data.sortBy
        this.pagination.descending = data.descending
        this.pagination.rowsNumber = data.rowsNumber

        this.data.splice(0, this.data.length, ...model)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Konfirmasi',
          message: `Apakah ingin menghapus record Id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.categories.delete(id)
            if (res.status === 200) {
              this.data = this.data.filter(val => val.id !== id)
              this.$toastr.success('Record was deleted')
            }
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    edit (id) {
      let category = this.data.filter(x => x.id === id)[0]
      this.$router.push({
        name: 'admin.category',
        params: { value: category }
      })
    },
    add () {
      this.$router.push('/admin/category')
    }
  }
}
</script>

<style></style>
