<template>
  <q-page padding>
    <main-table
      title="Insentive"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
    >
    <template #add-button>
      &nbsp;
    </template>
    <template #actions>
      <q-btn icon="fas fa-file-excel" size="sm" color="green" outline flat label="download" @click="dialogOpen = true"/>
    </template>
    <template #body-cell-animal="props">
      <q-td v-if="props.row.salesLine && props.row.salesLine.patient">
        {{getAnimalTypeName(props.row.salesLine.patient.animalTypeId)}} {{props.row.salesLine.patient.name}}
      </q-td>
    </template>
    </main-table>

    <q-dialog v-model="dialogOpen">
      <q-card>
        <q-toolbar class="bg-secondary text-white">
          <q-toolbar-title>
            Pilih bulan
          </q-toolbar-title>
          <q-btn flat size="sm" icon="fa fa-times" v-close-popup/>
        </q-toolbar>
        <q-card-section>
          <q-date
          v-model="month"
          :months="['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember']"
          default-view="Months"
          :title="$util.formatDate(month, 'MMMM')"
          :subtitle="$util.formatDate(month, 'YYYY')"
          emit-immediately
          @input="downloadReport"
          />
        </q-card-section>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import { Pagination, Insentive } from '../../models'

export default {
  name: 'insentive',
  data () {
    return {
      isLoading: false,
      filter: '',
      pagination: new Pagination('id', { descending: true }),
      columns: [
        {
          name: 'id',
          field: 'id',
          required: true,
          format: (val, row, c) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#',
          sortable: false
        },
        {
          name: 'user',
          align: 'left',
          field: 'user',
          label: 'User',
          sortable: false,
          format: (val) => (val.userType ? val.userType.name : '') + ' ' + val.displayName || val.userName
        },
        {
          name: 'createdAt',
          align: 'left',
          field: 'createdAt',
          label: 'Tgl',
          sortable: false,
          format: (val) => this.$util.formatDate(val, 'ddd, DD MMM YY')
        },
        {
          name: 'salesLine',
          align: 'left',
          field: 'salesLine',
          label: 'Produk terkait',
          sortable: false,
          format: (val) => '[' + val.sales.receiptCode + '] ' + '(' + val.qty + ') ' + val.product.sku + ' ' + val.product.name
        },
        {
          name: 'animal',
          align: 'left',
          label: 'Hewan',
          sortable: false
        },
        {
          name: 'value',
          align: 'left',
          field: 'value',
          label: 'Nilai',
          sortable: false,
          format: (val) => this.$options.filters.money(val)
        }
      ],
      data: [],
      animalTypes: [],
      dialogOpen: false,
      month: this.$util.formatDate(new Date(), 'YYYY/MM/DD')
    }
  },
  computed: {},
  watch: {},
  mounted () {
    this.onRequest()
    this.fetchAnimalTypes()
  },
  methods: {
    async onRequest () {
      this.isLoading = true
      try {
        const res = await this.$api.reports.getInsentives()
        let data = res.data.rows.map(x => new Insentive(x))
        this.data = data
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    async fetchAnimalTypes () {
      const res = await this.$api.animalTypes.get()
      this.animalTypes = res.data
    },
    getAnimalTypeName (id) {
      // console.log(id, this.animalTypes)
      return !id || !this.animalTypes.length ? '' : this.animalTypes.find(x => x.id === id).name
    },
    downloadReport (month, reason) {
      if (reason !== 'year') {
        this.dialogOpen = false
        if (this.$util.isValid(this.month)) {
          var url = this.$api.reports.downloadInsentiveUrl(this.month)
          var link = document.createElement('a')
          link.href = url
          link.target = '_blank'
          document.body.append(link)
          link.click()
          document.body.remove(link)
          window.location.reload()
        }
      }
    }
  }
}
</script>

<style></style>
