<template>
  <q-page padding>
    <q-toolbar>
      <q-toolbar-title>
        History Penggunaan Produk
      </q-toolbar-title>
      <q-input
        dense
        debounce="1000"
        v-model="filter"
        placeholder="Masukkan kode Produk"
        clearable
        ref="search"
      >
        <template v-slot:append>
          <q-icon name="fa fa-search" />
        </template>
      </q-input>
    </q-toolbar>
    <div v-show="isLoading">
      <q-linear-progress size="xs" indeterminate />
    </div>
    <div v-show="!isLoading">
      <div class="q-mt-md" v-show="!data.length">
        <span v-show="filter && filter.length">
        Tidak ditemukan produk dengan kode <b class="text-bold"> {{filter}}</b>
        </span>
        <span v-show="!filter || !filter.length">
          Masukkan kode produk
        </span>
      </div>
      <div v-show="data.length" class="q-mt-md">
        <p>
          Tentukan Produk yang ingin dicek history transaksinya
        </p>
        <div class="row q-col-gutter-sm">
          <div class="col-2"  v-for="p in data" :key="p.id">
            <q-card>
              <q-toolbar class="bg-grey text-white">
                <q-toolbar-title>
                  {{p.sku}} {{p.name}}
                </q-toolbar-title>
              </q-toolbar>
              <q-card-section>
                <q-markup-table dense borderless class="no-shadow"  >
                  <q-tr>
                    <q-td>
                      Harga beli(avg)
                    </q-td>
                    <td>
                      {{p.purchasingPrice | money}}
                    </td>
                  </q-tr>
                  <q-tr>
                    <q-td>
                      Harga jual
                    </q-td>
                    <td>
                      {{p.sellingPrice | money}}
                    </td>

                  </q-tr>
                    <q-tr>
                    <q-td>
                      Inventori dilacak?
                    </q-td>
                    <td>
                      <span v-show="p.tranckInventory">
                        <i class="fa fa-check text-positive" aria-hidden="true"></i>
                      </span>
                      <span v-show="!p.tranckInventory">
                        <i class="fa fa-times  text-negative" aria-hidden="true"></i>
                      </span>
                    </td>
                  </q-tr>
                </q-markup-table>
              </q-card-section>
              <q-card-section>
                <q-btn size="sm" label="Cek" icon="fa fa-check-circle" class="text-primary full-width" @click="checkTransaction(p.id)" />
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>

      <div v-show="data2.length" class="q-mt-md q-pa-md">
        <b>Histori Penggunaan Produk</b>
        <q-markup-table flat dense class="q-mt-sm">
          <thead>
          <q-tr>
            <q-td>
              #
            </q-td>
            <q-td>
              CreatedAt
            </q-td>
            <q-td>
              SKU
            </q-td>
            <q-td>
              Name
            </q-td>
            <q-td>
              Stock In
            </q-td>
            <q-td>
              Stock Out
            </q-td>
            <q-td>
              Stock
            </q-td>
            <q-td>
              Note
            </q-td>
            <q-td>
              Invoice number
            </q-td>
            <q-td>
              Receipt code
            </q-td>
          </q-tr>
          </thead>
          <tbody>
            <q-tr v-for="(item, i) in data2" :key="item.id">
              <q-td>
              {{i + 1}}
            </q-td>
            <q-td>
              {{$util.formatDate(item.createdAt, 'ddd DD MMM YYYY hh:mm')}}
            </q-td>
            <q-td>
              {{item.sku}}
            </q-td>
            <q-td>
              {{item.name}}
            </q-td>
            <q-td>
              {{item.stockIn}}
            </q-td>
            <q-td>
              {{item.stockOut}}
            </q-td>
            <q-td>
             <b> {{item.stock}}</b>
            </q-td>
            <q-td>
              {{item.note}}
            </q-td>
            <q-td>
              {{item.invoiceNumber}}
            </q-td>
            <q-td>
              {{item.receiptCode}}
            </q-td>
            </q-tr>
          </tbody>
        </q-markup-table>
      </div>

    </div>
  </q-page>
</template>

<script>
export default {
  name: 'ProductTransaction',
  data () {
    return {
      isLoading: false,
      isLoadingTrx: false,
      filter: '',
      data: [],
      data2: []
    }
  },
  computed: {},
  watch: {
    filter () {
      this.onRequest()
    }
  },
  mounted () {
    this.$refs.search.focus()
  },
  methods: {
    async onRequest () {
      if (!this.filter || !this.filter.length) {
        this.$refs.search.focus()
        return
      }
      if (this.isLoading) return
      this.isLoading = true
      try {
        const res = await this.$api.reports.getProducts(this.filter)

        this.data = res.data
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
      return Promise.resolve()
    },
    async checkTransaction (id) {
      if (!id || this.isLoadingTrx) return
      this.isLoadingTrx = true
      this.data2 = []
      try {
        const res = await this.$api.reports.getProductHistories(id)

        this.data2 = res.data
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }

      this.isLoadingTrx = false
    }
  }
}
</script>

<style></style>
