<template>
  <q-page class="row q-px-xs q-pb-xs" style="">
    <div class="col-12 q-pa-md">
      <q-toolbar>
        <q-toolbar-title>
          Laporan Penjualan dan Deposit
        </q-toolbar-title>
       <q-btn icon="fas fa-file-excel" size="sm" color="green" outline flat label="download" @click="dialogOpen = true"/>
      </q-toolbar>
      <q-toolbar class="q-pa-lg bg-secondary text-white full-width">
        <date-range-input class="" dark minimal v-model="dateRange" :loading="isLoading"/>
      </q-toolbar>
      <div class="full-width text-center q-mt-md">
          <q-btn icon="fa fa-search" label="Cari report" v-show="showButtonSearch"  text-color="primary" color="white" @click="getSalesReport" :loading="isLoading" />
        <div class="full-width q-py-sm q-mt-md text-h5 bg-secondary text-white">
          {{$util.formatDate(dateRange[0], dateFormat)}}
          <span v-show="dateRange[1]">
            - {{$util.formatDate(dateRange[1], dateFormat)}}
          </span>
        </div>
      </div>
      <SalesList ref="sales" :deposits="deposits" :date1="dateRange[0]" :date2="dateRange[1]" />
      <DepositList @input="depositListHandle" ref="deposit"  :date1="dateRange[0]" :date2="dateRange[1]"/>
    </div>
     <q-dialog v-model="dialogOpen">
      <q-card>
        <q-toolbar class="bg-secondary text-white">
          <q-toolbar-title>
            Pilih bulan
          </q-toolbar-title>
          <q-btn flat size="sm" icon="fa fa-times" v-close-popup/>
        </q-toolbar>
        <q-card-section>
          <q-date
          v-model="month"
          :months="['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember']"
          default-view="Months"
          :title="$util.formatDate(month, 'MMMM')"
          :subtitle="$util.formatDate(month, 'YYYY')"
          emit-immediately
          @input="downloadReport"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import SalesList from '../../components/reports/SalesList'
import DepositList from '../../components/reports/DepositList'
export default {
  name: 'Sales',
  data () {
    return {
      deposits: [],
      dateRange: [new Date()],
      isLoading: false,
      isLoadingSalesLines: false,
      dateFormat: 'dddd, DD MMM YYYY',
      dialogOpen: false,
      month: this.$util.formatDate(new Date(), 'YYYY/MM/DD')
    }
  },
  computed: {
    showButtonSearch () {
      if (!this.dateRange.length) { return false }
      return true
    }
  },
  watch: {},
  methods: {
    depositListHandle (deposits) {
      this.deposits = deposits
    },
    async getSalesReport () {
      if (this.isLoading) return
      this.isLoading = true
      try {
        await this.$refs.sales.fetchSales()
        await this.$refs.deposit.fetchDeposit()
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
    },
    downloadReport (month, reason) {
      if (reason !== 'year') {
        this.dialogOpen = false
        if (this.$util.isValid(this.month)) {
          var url = this.$api.reports.downloadSalesUrl(this.month)
          var link = document.createElement('a')
          link.href = url
          link.target = '_blank'
          document.body.append(link)
          link.click()
          document.body.remove(link)
          window.location.reload()
        }
      }
    }
  },
  components: {
    SalesList,
    DepositList
  }
}
</script>
