<template>
  <q-page padding>
    <main-card :title="model.id > 0 ? 'Edit category Id=' + model.id : 'Buat kategori baru'" >
      <q-form @submit="onSubmit">
        <q-input filled type="text" autofocus name="name" label="Label" class="text-capitalize" v-model="model.name" v-validate="'required'" :error="errors.has('name')" :error-message="errors.first('name')"/>
        <q-input filled type="text" name="description" label="Keterangan" class="text-capitalize" v-model="model.description" v-validate="'required'" :error="errors.has('description')" :error-message="errors.first('description')"/>

        <InsentiveRuleTables v-model="model.insentiveRules" v-if="model.id > 0" />
         <submit-button :is-loading="isLoading" @click="onSubmit" class="q-mt-md" />
      </q-form>
    </main-card>
  </q-page>
</template>

<script>
import { Category, InsentiveModel } from '../../models'
import InsentiveRuleTables from '../../components/insentiveModels/InsentiveRuleTables'
export default {
  description: 'Category',
  props: {
    value: {
      type: Category,
      default: () => new Category()
    }
  },
  components: {
    InsentiveRuleTables
  },
  data () {
    return {
      isLoading: false,
      model: new InsentiveModel()
    }
  },
  watch: {
    value (val) {
      this.model = new InsentiveModel(val)
    }
  },
  computed: {

  },
  methods: {
    async onSubmit () {
      if (this.isLoading) {
        return
      }
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        this.isLoading = true
        var data = this.model
        try {
          const isEditing = data.id > 0
          var res = await (isEditing ? this.$api.categories.put(data.id, data) : this.$api.categories.post(data))
          if (res.status < 300) {
            this.$toastr.success(`${data.id > 0 ? 'Record updated' : 'Record added'}`)
            this.$router.back()
          } else {
            this.$toastr.error(res.statusText)
          }
        } catch (e) {
          let emsg = this.$util.err(e)
          this.$toastr.error(emsg)
          this.$store.commit('addErrors', this.$util.errModelState(e.response.data.modelState))
          this.isLoading = false
        }
      }
    }
  }
}
</script>

<style>
</style>
