<template>
  <q-page padding>
    <main-table
      title="Kategori produk"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
      @create="add"
      @edit="edit"
      @delete="del"
    />
  </q-page>
</template>

<script>
import { Pagination, Category } from '../../models'

export default {
  name: 'categories',
  data () {
    return {
      isLoading: false,
      filter: '',
      pagination: new Pagination('id'),
      columns: [
        {
          name: 'id',
          field: 'id',
          required: true,
          format: (val, row, c) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#',
          sortable: true
        },
        {
          name: 'name',
          align: 'left',
          field: 'name',
          label: 'Label',
          sortable: true
        },
        {
          name: 'description',
          align: 'left',
          field: 'description',
          label: 'Keterangan',
          sortable: true
        },
        {
          name: 'actions',
          align: 'center',
          field: 'actions',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: []
    }
  },
  computed: {},
  watch: {},
  mounted () {
    this.onRequest()
  },
  methods: {
    async onRequest () {
      this.isLoading = true
      try {
        const res = await this.$api.categories.get()
        let data = res.data.map(x => new Category(x))
        this.data = data
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Konfirmasi',
          message: `Apakah ingin menghapus record Id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.categories.delete(id)
            if (res.status === 200) {
              this.data = this.data.filter(val => val.id !== id)
              this.$toastr.success('Record was deleted')
            }
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    edit (id) {
      let category = this.data.filter(x => x.id === id)[0]
      this.$router.push({
        name: 'admin.category',
        params: { value: category }
      })
    },
    add () {
      this.$router.push('/admin/category')
    }
  }
}
</script>

<style></style>
