<template>
  <q-page class="q-pa-md">
    <h6 class="q-ma-xs">
      Dashboard
    </h6>
    <div class="row justify-center" v-if="isAdminVetFinance">
      <div :class="cardColClass">
        <q-card :style="cardItemsStyle">
          <q-card-section>
            <q-item>
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  size="xl"
                  name="fas fa-money-bill-wave"
                />
              </q-item-section>

              <q-item-section class="text-center">
                <q-item-label :style="labelCardItemStyle">
                  {{ cardItems.todaysRevenue | money }}
                </q-item-label>
                <q-item-label caption>Todays revenue</q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div :class="cardColClass">
        <q-card :style="cardItemsStyle">
          <q-card-section>
            <q-item>
              <q-item-section avatar>
                <q-icon color="negative" size="xl" name="fas fa-chart-line" />
              </q-item-section>

              <q-item-section class="text-center">
                <q-item-label :style="labelCardItemStyle">
                  {{ cardItems.thisMonthRevenue | money }}
                </q-item-label>
                <q-item-label caption>Month revenue</q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div :class="cardColClass">
        <q-card :style="cardItemsStyle">
          <q-card-section>
            <q-item>
              <q-item-section avatar>
                <q-icon color="yellow" size="xl" name="fas fa-users" />
              </q-item-section>

              <q-item-section class="text-center">
                <q-item-label :style="labelCardItemStyle">
                  {{ cardItems.totalCustomers }}
                </q-item-label>
                <q-item-label caption>Customers</q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
      <div :class="cardColClass">
        <q-card :style="cardItemsStyle">
          <q-card-section>
            <q-item>
              <q-item-section avatar>
                <q-icon color="positive" size="xl" name="fas fa-paw" />
              </q-item-section>

              <q-item-section class="text-center">
                <q-item-label :style="labelCardItemStyle">
                  {{ cardItems.totalPatients }}
                </q-item-label>
                <q-item-label caption>Patients </q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <q-card class="col-xs-12" style="margin: 12px 0;">
        <!-- charts -->
        <q-card-section>
          <q-toolbar-title>
          Sales overview
          </q-toolbar-title>
          <q-select
            label="Pick year"
            v-model="selectedYear"
            :options="yearsData"
            emit-value
          />
        </q-card-section>
        <q-card-section>
          <transaction-overviews-bar-chart
            :data="transactionSerries"
            :style="chartOverviewsStyle"
          />
        </q-card-section>
      </q-card>
    </div>
    <!-- {{transactionChartData[0].value.map(x=> x.label + ' ' + x.total)}} -->
  </q-page>
</template>

<script>
import TransactionOverviewsBarChart from '../components/index/TransactionOverviewsBarChart'

export default {
  name: 'AdminIndex',
  components: {
    TransactionOverviewsBarChart
  },
  data () {
    return {
      selectedYear: 0,
      isRequestingCard: false,
      cardItems: {
        todaysRevenue: 0,
        thisMonthRevenue: 0,
        totalCustomers: 0,
        totalPatients: 0
      },
      cardColClass: 'col-md-3 col-sm-6 col-xs-12 q-pa-sm',
      cardItemsStyle: 'min-width:18em',
      labelCardItemStyle: 'font-size:1.5em;',
      chartOverviewsStyle: '',
      yearsData: [],
      transactionOverviews: []
    }
  },
  watch: {
    yearsData (nval) {
      if (nval && nval.length > 0) {
        this.selectedYear = nval[0].value
      }
    },
    selectedYear () {
      if (this.isAdminVetFinance) this.requestTransactionOverview()
    }
  },
  computed: {
    isAdmin () {
      return this.user && this.user.roles.find(x => x === 'Admin')
    },
    isAdminVetFinance () {
      return this.isAdmin || this.isFinance | this.isVet
    },
    user () {
      return this.$store.state.auth
    },
    transactionSerries () {
      if (this.selectedYear === 0 || this.yearsData === undefined) return []
      let model = this.transactionChartData.find(
        x => x.key === this.selectedYear
      )
      if (model === undefined) return []
      return model.value
    },
    transactionChartData () {
      if (
        this.transactionOverviews === undefined ||
        this.transactionOverviews.length === 0
      ) { return [] }
      let arr = []
      this.transactionOverviews.forEach(function (elm) {
        if (
          arr.length === 0 ||
          arr.find(x => x.key === elm.year) === undefined
        ) {
          arr.push({ key: elm.year, value: [elm] })
        } else {
          arr.find(x => x.key === elm.year).value.push(elm)
        }
      })
      // data normalization
      var months = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
      ]
      arr.forEach(elm => {
        let a2 = [],
          values = elm.value,
          year = elm.key
        for (var i = 0; i < months.length; i++) {
          var c = values.find(x => x.month === i + 1)
          if (c) {
            a2.push({
              count: c.count,
              label: `${year}-${(i + 1).toString().padStart(2, '0')}`,
              month: i + 1,
              monthLabel: months[i],
              total: c.total,
              year: year
            })
          } else {
            a2.push({
              count: 0,
              label: `${year}-${(i + 1).toString().padStart(2, '0')}`,
              month: i + 1,
              monthLabel: months[i],
              total: 0,
              year: year
            })
          }
        }

        elm.value = a2
      })
      return arr
    }
  },
  mounted () {
    if (this.isAdminVetFinance) {
      this.requestCards()
      this.requestYears()
    }
  },
  beforeMount () {
    if (this.isAdminVetFinance) {

    } else {
      this.$router.replace('/frontdesk')
    }
  },
  methods: {
    async requestCards () {
      try {
        this.isRequestingCard = true
        const res = await this.$api.dashboard.getCardItems()
        this.cardItems = Object.assign({}, this.cardItems, res.data)
      } catch (e) {
        this.$toastr.error(e.message)
      }

      this.isRequestingCard = false
    },
    async requestYears () {
      const res = await this.$api.dashboard.getSalesYears()
      this.yearsData = res.data
    },
    async requestTransactionOverview () {
      try {
        if (!(this.selectedYear > 0)) return
        this.isRequestingTransactionOverview = true
        const res = await this.$api.dashboard.getSalesOverview()
        this.transactionOverviews = res.data
      } catch (e) {
        this.$toastr.error(e.message)
      }

      this.isRequestingTransactionOverview = false
    }

  }
}
</script>

<style lang="styl"></style>
