<template>
  <q-page class="q-pa-sm q-pt-lg q-pl-lg">
    <q-toolbar>
      <q-toolbar-title>
        On Site Board - {{ $util.formatDate(new Date(), 'dddd, D MMM YYYY') }}
      </q-toolbar-title>
       <q-btn
        dense
        class="glossy q-ml-md"
        icon="fa fa-sync-alt"
        title="Refresh"
        color="primary"
        size="xs"
        :disable="isLoading"
        @click="onRequest"
      />
    </q-toolbar>

    <q-circular-progress size="xl" class="text-center full-width" indeterminate v-show="isLoading" />
    <template v-show="!isLoading">
      <q-tabs v-model="tab" active-color="primary" sw>
        <q-tab name="reguler" label="Umum" />
        <q-tab name="boarding" :label="boardingTabLabel" />
      </q-tabs>
      <q-tab-panels v-model="tab" class="bg-transparent" swipeable   style="min-height:300px">
        <q-tab-panel name="reguler">
          <RegularVisitor v-model="visitorsOnsiteModel" :animalTypes="animalTypes" @boardingAdded="boardingAdded" />
        </q-tab-panel>
        <q-tab-panel name="boarding">
          <BoardingPets v-model="boardingOnsiteModel" :animalTypes="animalTypes" />
        </q-tab-panel>
      </q-tab-panels>
    </template>
  </q-page>
</template>

<script>
import { OnSite } from '../models'
import RegularVisitor from '../components/frontdesk/index/RegularVisitor'
import BoardingPets from '../components/frontdesk/index/BoardingPets'
export default {
  name: 'FrontDeskIndex',
  components: {
    RegularVisitor,
    BoardingPets
  },
  data () {
    return {
      tab: 'reguler', // boarding
      animalTypes: [],
      visitorsOnsiteModel: [],
      boardingOnsiteModel: [],
      isLoading: false
    }
  },
  watch: {},
  computed: {
    boardingTabLabel () {
      let l = this.boardingOnsiteModel.length
      if (!l) { return 'Boarding' }

      return `Boarding (${l})`
    }
  },
  async mounted () {
    await this.fetchAnimalTypes()
    this.onRequest()
  },
  methods: {
    async onRequest () {
      try {
        this.isLoading = true
        var res = await this.$api.onSites.get()
        this.boardingOnsiteModel = res.data.boarding.map(x => new OnSite(x))
        this.visitorsOnsiteModel = res.data.os.map(x => new OnSite(x))
      } catch (e) {
        this.$toastr.error('Gagal mengunduh data')
      }
      this.isLoading = false
    },
    async fetchAnimalTypes () {
      const res = await this.$api.animalTypes.get()
      this.animalTypes = res.data
    },
    boardingAdded (onsite) {
      this.boardingOnsiteModel.unshift(new OnSite(onsite))
    }
  }
}
</script>

<style lang="styl"></style>
