<template>
  <q-page padding>

  </q-page>
</template>

<script>
export default {
  name: 'HomeIndex',
  data () {
    return {
      value: ''
    }
  },
  methods: {

  }
}
</script>

<style></style>
