<template>
  <q-page class="flex flex-center">
   <q-form>
   <q-input v-validate="'required'" v-model="asd" name="asd" :error="errors.has('asd')" :error-message="errors.first('asd')" />
   <q-btn type="submit"/>
   </q-form>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      asd: ''
    }
  }
}
</script>
