<template>
  <div
    class="window-height row items-center text-center justify-center col-6 col-sm-12"
  >
    <q-card class="my-card col-4 col-xs-10" style="max-width:400px;">
      <q-card-section class="ma-sm bg-white">
        <q-form class="q-gutter-md" @submit="onSubmit">
          <!-- <q-avatar size="5rem"> -->
            <!-- <img src="statics/app-logo-128x128.png" /> -->

          <!-- </q-avatar> -->
          <img src="statics/logo_opet.png" style="width:200px" />

          <q-item-label class="text-grey">
            Please login using your credential below
          </q-item-label>

          <validation-summary :error-messages="errorMessages" />

          <q-input
            v-model="userName"
            v-validate="'required'"
            filled
            label="userName *"
            name="userName"
            hint=""
            :error="errors.has('userName')"
            :error-message="errors.first('userName')"
          />

          <q-input
            v-model="password"
            v-validate="'required'"
            filled
            type="password"
            label="Password *"
            name="password"
            :error="errors.has('password')"
            :error-message="errors.first('password')"
          />
          <div>
            <submit-button :is-loading="loading" @click="simulateProgress">
              Login
            </submit-button>
          </div>
        </q-form>
      </q-card-section>

      <q-card-actions vertical align="center" />
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      loading: false,
      userName: '',
      password: '',
      errorMessages: []
    }
  },
  methods: {
    async simulateProgress () {
      this.loading = true
      if (this.errors.count() > 0) {
        this.loading = false
        return
      }
      this.$store.commit('auth/error')
      await this.$store.dispatch('auth/login', {
        userName: this.userName,
        password: this.password
      })
      this.loading = false
      if (this.$store.state.auth.errors !== '') {
        this.errorMessages.push(this.$store.state.auth.errors)
        // this.$toastr.error(this.$store.state.auth.errors)
      } else {
        this.$toastr.success('Signed in')

        if (this.isAdmin || this.isFinance) {
          this.$router.replace('/admin')
        } else if (this.isVet) {
          this.$router.replace('/frontdesk')
        } else {
          this.$router.replace('/frontdesk')
        }
      }
    },
    onSubmit () {
      // if (this.accept !== true) {
      //   this.$toastr.success('You need to accept the license and terms first')
      // } else {
      //   this.$toastr.success('Submitted')
      // }
    }
  }
}
</script>

<style></style>
