<template>
  <q-drawer
    v-if="isLogin"
    ref="drawer"
    :value="isShowing"
    side="right"
    behavior="mobile"
    bordered
    @input="onInput"
  >
    <!-- drawer content -->
    <q-scroll-area
      style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd"
    >
      <q-list padding>
        <q-item v-ripple clickable active @click="signout">
          <q-item-section avatar>
            <q-icon name="fas fa-sign-out-alt" />
          </q-item-section>

          <q-item-section>
            Logout
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item v-ripple clickable active @click="changePasswordDialog = true">
          <q-item-section avatar>
            <q-icon name="fa fa-key" />
          </q-item-section>

          <q-item-section>
            Change password
          </q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>
    <q-img
      class="absolute-top bg-accent"
      src=""
      style="height: 150px"
    >
      <div class="absolute-bottom bg-transparent text-center">
        <q-avatar
          size="56px"
          class="q-mb-sm non-selectable"
          color="secondary"
          text-color="white"
        >
          <span v-if="true">
            {{ userInitial }}
          </span>
        </q-avatar>
        <div class="text-weight-bold">
          {{ user.displayName }}
        </div>
        <div>{{ user.userName }}</div>
      </div>
    </q-img>

    <q-dialog v-model="changePasswordDialog" persistent>
      <q-card style="min-width: 400px">
        <q-card-section>
          <q-input
            type="password"
            name="password2"
            ref="password2"
            label="Password"
            v-model="model.password"
            v-validate="'required'"
            :error="errors.has('password2')"
            :error-message="errors.first('password2')"
            class="q-pa-sm col-md-6 col-sm-12"
            dense
            autofocus
          />
          <q-input
            type="password"
            name="confirmPassword2"
            label="Confirm password"
            v-model="model.confirmPassword"
            v-validate="'required|confirmed:password2'"
            :error="errors.has('confirmPassword2')"
            :error-message="errors.first('confirmPassword2')"
            class="q-pa-sm col-md-6 col-sm-12"
            dense
            @keydown.enter="saveNewPassword"
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary col-4">
          <q-btn flat label="Cancel" v-close-popup />
          <submit-button
            @click="saveNewPassword()"
            class="q-ml-xs col-8 full-width"
            :isLoading="isLoading"
            style="margin-top: 20px;"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-drawer>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'RightDrawer',
  props: {
    isShowing: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    userInitial () {
      let used =
        this.user.displayName && this.user.displayName !== null && this.user.displayName.trim().length > 0
          ? this.user.displayName
          : this.user.userName
      return used.charAt(0).toUpperCase()
    },
    isLogin () {
      return this.$store.getters['auth/isLogin']
    },
    ...mapState({
      user: 'auth'
    })
  },
  data () {
    return {
      changePasswordDialog: false,
      model: {
        password: null,
        confirmPassword: null,
        userName: this.$store.state.auth.userName
      },
      isLoading: false
    }
  },
  methods: {
    async signout () {
      await this.$store.dispatch('auth/logout')

      const l = window.history.length
      // console.log('aaa', l, this.$router)
      this.$router.go(-l)
      this.$router.replace('/login')
    },
    async saveNewPassword () {
      await this.$validator.validateAll()
      if (this.errors.any() || this.errors.items.length > 0) {
        this.$toastr.error('Please fix all error(s)')
        return
      }

      try {
        this.isLoading = true
        var data = Object.assign({}, this.model, { userName: this.$store.state.auth.userName })
        var res = await this.$api.users.changePassword(data)

        if (res.status === 200) {
          this.$toastr.success('Success updating password')
          this.changePasswordDialog = false
        } else {
          this.$toastr.error('Something goes wrong while updating password')
        }
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      } finally {
        this.isLoading = false
      }
    },
    onInput (val) {
      this.$emit('update:is-showing', val)
    }
  }
  // mounted () {
  //   this.$watch(this.$refs.drawer.value, (val) => {
  //     this.$emit('update:isShowing', val)
  //   })
  // }
}
</script>

<style></style>
