<template>
  <q-drawer
    id="drawer-l"
    :value="isShowing"
    @input="onInput"
    side="left"
    bordered
  >
    <!-- drawer content -->
    <q-list
      bordered
      padding
      class="rounded-borders"
      style="max-width: 350px"
    >
      <div v-for="menu in menus" :key="menu.name">
        <template v-if="typeof(menu.filter) === 'undefined' || menu.filter">
          <q-separator v-if="menu.separator" spaced />
          <q-item-label v-else-if="!menu.to"  class="q-py-md q-pl-md text-bold text-primary">
            {{menu.label}}
          </q-item-label>
          <q-item
            dense
            v-ripple
            clickable
            active-class="bg-secondary text-white"
            :to="menu.to"
            v-else
          >
            <q-item-section
              avatar
              top
            >
              <q-icon
                :name="menu.icon"
                size="xs"
                class="q-mt-xs"
              />
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1">
                {{menu.label}}
              </q-item-label>
            </q-item-section>

            <q-item-section side v-if="menu.sideTo">
              <q-btn
                round
                size="xs"
                :icon="menu.sideIcon"
                text-color="white"
                color="secondary"
                :to="menu.sideTo"
              />
            </q-item-section>
          </q-item>
        </template>
      </div>
      <left-administrator-menus />
    </q-list>
  </q-drawer>
</template>

<script>
import LeftAdministratorMenus from '../components/LeftAdministratorMenus'

export default {
  name: 'LeftDrawer',
  components: {
    LeftAdministratorMenus
  },
  props: {
    isShowing: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      left: true

    }
  },
  computed: {
    menus () {
      var arr =
       [
         {
           to: '/admin',
           label: 'Beranda',
           icon: 'fa fa-home'
         },
         {
           separator: true
         },
         {
           to: '/frontdesk',
           label: 'Front Desk',
           icon: 'fa fa-home'
         },
         {
           separator: true
         },
         {
           label: 'Front Desk'
         },
         {
           to: '/admin/sales-today',
           label: 'Buat struk',
           icon: 'fa fa-receipt'
         },
         {
           to: '/admin/reports/daily-revenues',
           label: 'Rekap penerimaan harian',
           icon: 'fa fa-calendar-alt',
           filter: this.isAdmin || this.isFinance
         },
         {
           to: '/admin/sales-list',
           label: 'Daftar Penjualan Dan Deposit',
           icon: 'fa fa-receipt'
         },
         {
           to: '/admin/purchases',
           label: 'Pembelian',
           icon: 'fas fa-file-invoice-dollar',
           filter: this.isAdmin || this.isFinance
         },
         {
           to: '/admin/reports/product-transaction-history',
           label: 'Histori Penggunaan Produk',
           icon: 'fa fa-history',
           filter: this.isAdmin || this.isFinance
         },
         {
           separator: true
         },
         {
           to: '/admin/clients',
           label: 'Klien',
           icon: 'fa fa-user-friends',
           sideTo: '/admin/clients/0',
           sideIcon: 'fa fa-plus'
         },
         {
           separator: true
         },
         {
           label: 'Katalog'
         },
         {
           to: '/admin/products',
           label: 'Produk',
           icon: 'fa fa-gift',
           sideTo: '/admin/product',
           sideIcon: 'fa fa-plus'
         },
         {
           to: '/admin/stockOpname',
           label: 'Stok opname',
           icon: 'fa fa-cubes',
           filter: this.isAdmin || this.isFinance
         },
         {
           separator: true
         },
         {
           label: 'Report',
           filter: this.isAdmin || this.isFinance
         },
         {
           to: '/admin/reports/sales',
           label: 'Penjualan',
           icon: 'fa fa-gift',
           filter: this.isAdmin || this.isFinance
         },
         {
           to: '/admin/reports/insentives',
           label: 'Insentif',
           icon: 'fa fa-cubes',
           filter: this.isAdmin || this.isFinance
         },
         {
           separator: true,
           filter: this.isAdmin || this.isFinance
         },
         {
           label: 'Konfigurasi'
         },
         {
           to: '/admin/animalTypes',
           label: 'Jenis hewan',
           icon: 'fa fa-cat',
           sideTo: '/admin/animaltype',
           sideIcon: 'fa fa-plus'
         },
         {
           to: '/admin/units',
           label: 'Daftar Satuan',
           icon: 'fa fa-cogs',
           sideTo: '/admin/unit',
           sideIcon: 'fa fa-plus',
           filter: this.isAdmin || this.isFinance
         },
         {
           to: '/admin/categories',
           label: 'Kategori produk',
           icon: 'fa fa-cube',
           sideTo: '/admin/category',
           sideIcon: 'fa fa-plus'
         },
         {
           to: '/admin/insentiveModels',
           label: 'Model Insentif',
           icon: 'fa fa-cubes',
           filter: this.isAdmin || this.isFinance
         }
       ]

      return arr
    }
  },
  methods: {
    onInput (val) {
      this.$emit('update:is-showing', val)
    }
  }
}
</script>

<style>
</style>
