<template>
  <div v-if="isAdmin">
    <q-separator spaced />
    <div class="bg-red-1 q-pa-xs">
      <q-item-label header>
        Administrators
      </q-item-label>

      <q-expansion-item
        icon="fa fa-user-shield"
        label="Security"
        style="font-size:1em"
        :content-inset-level="0.5"
      >
        <q-item v-ripple clickable to="/admin/users">
          <q-item-section avatar>
            <q-icon name="fa fa-id-card" size="xs" />
          </q-item-section>

          <q-item-section>
            Users
          </q-item-section>
        </q-item>
      </q-expansion-item>
    </div>
    <q-separator spaced />
  </div>
</template>

<script>
export default {
  name: 'LeftAdministratorMenus',
  props: {},
  data () {
    return {}
  },
  computed: {
    isAdmin () {
      // console.log(this.user, this.$store.state.auth)
      return this.user && this.user.roles.find(x => x === 'Admin')
    },
    user () {
      return this.$store.state.auth
    }
  }
}
</script>

<style></style>
