// app global css in Sass form
/* width */
#drawer-l ::-webkit-scrollbar
  width: 2px

/* Track */
#drawer-l  ::-webkit-scrollbar-tract
  box-shadow: inset 0 0 5px grey
  border-radius: 10px
 
/* Handle */
#drawer-l  ::-webkit-scrollbar-thumb
  background: $primary
  border-radius: 2px

/* Handle on hover */
#drawer-l  ::-webkit-scrollbar-thumb:hover 
  background: #b30000


.q-notifications 
  @media print 
    display:none!important
    
