<template>
  <div class="row full-width" v-if="model.length">
    <div class="q-pa-md col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="item in model" :key="item.id">
      <q-card class="my-card">
        <q-card-section class="bg-primary text-white">
          <q-toolbar>
            <span class="text-h6">
              {{ getAnimalCode(item.patient.animalTypeId) }} -
              {{ item.patient.name }}
            </span>
            <q-space />
            <q-btn flat icon="fas fa-ellipsis-v" class="text-right" size="xs">
              <q-menu>
                <q-list>
                  <q-item dense :clickable="!isLoading"  @click="$router.push(`/admin/clients/${item.patient.clientId}`)">
                     <q-item-section side>
                      <q-icon color="primary" round name="fa fa-cat" size="xs" />
                    </q-item-section>
                    <q-item-section>
                      Details
                    </q-item-section>
                  </q-item>
                  <q-item dense :clickable="!isLoading" @click="delOnSite(item.id)">
                    <q-item-section side>
                      <q-icon
                        round
                        name="fa fa-trash"
                        color="red"
                        size="xs"
                      />
                    </q-item-section>
                    <q-item-section>
                      Hapus
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </q-card-section>
        <q-card-section>
          <div>
            Mulai boarding:
            <b>
              {{ item.startAtString }} <i>({{ item.boardingDuration }})</i></b
            >
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { AnimalType } from '../../../models'
export default {
  name: 'BoarginPets',
  props: {
    value: {
      type: Array,
      required: true
    },
    animalTypes: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      isLoading: false
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    getAnimalCode (id) {
      if (id === undefined || this.animalTypes.length === 0) {
        return ''
      }
      var model = this.animalTypes.find(x => x.id === id) || new AnimalType()
      return model.code
    },
    async delOnSite (id) {
      if (this.isLoading) return
      this.isLoading = true
      try {
        await this.$api.onSites.delete(id)
        this.model = this.model.filter(x => x.id !== id)
        this.$toastr.success('Berhasil dihapus')
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
    }
  }
}
</script>
