<template>
  <div class="row full-width" v-if="model.length">
    <div class="q-pa-md col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="item in model" :key="item.id">
      <q-card class="my-card">
          <q-toolbar class="bg-secondary text-white">
            <div class="text-h6">{{ item.client.code }} - {{ item.client.name }}</div>
          <div class="text-subtitle2 text-uppercase">{{ item.client.address }}</div>
            <q-space />
            <q-btn flat icon="fas fa-ellipsis-v" class="text-right" size="xs">
              <q-menu>
                <q-list>
                  <q-item dense clickable  @click="copy(item.client.code)" title="Copy code">
                     <q-item-section side>
                      <q-icon color="primary" round name="fa fa-copy" size="xs" />
                    </q-item-section>
                    <q-item-section>
                      <q-badge>{{item.client.code}}</q-badge>
                    </q-item-section>
                  </q-item>
                  <q-item dense :clickable="!isLoading"  @click="$router.push(`/admin/clients/${item.client.id}`)">
                     <q-item-section side>
                      <q-icon color="primary" round name="fa fa-cat" size="xs" />
                    </q-item-section>
                    <q-item-section>
                      Details
                    </q-item-section>
                  </q-item>
                  <q-item dense :clickable="!isLoading" @click="delOnSite(item.id)">
                    <q-item-section side>
                      <q-icon
                        round
                        name="fa fa-trash"
                        color="red"
                        size="xs"
                      />
                    </q-item-section>
                    <q-item-section>
                      Hapus
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        <q-list v-if="item.client.patients && item.client.patients.length">
          <q-item v-for="p in item.client.patients" :key="p.id">
            <q-item-section side top>
              <q-checkbox :value="true" disable color="secondary" />
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-bold">
                {{ getAnimalCode(p.animalTypeId) }} {{ p.name }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-btn flat="" icon="fas fa-ellipsis-v" size="xs">
                <q-menu>
                  <q-list>
                    <q-item :clickable="!isLoading" v-close-popup @click="setBoarding(p.id, p.name)">
                      <q-item-section>
                      Tambahkan ke boarding
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card>
    </div>
  </div>
</template>

<script>
import { AnimalType } from '../../../models'
export default {
  name: 'RegularVisitor',
  props: {
    value: {
      type: Array,
      required: true
    },
    animalTypes: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      isLoading: false
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    getAnimalCode (id) {
      if (id === undefined || this.animalTypes.length === 0) {
        return ''
      }
      var model = this.animalTypes.find(x => x.id === id) || new AnimalType()
      return model.code
    },
    async setBoarding (id, name = '') {
      if (this.isLoading) return
      this.isLoading = true
      try {
        var res = await this.$api.onSites.setBoarding(id)
        this.$toastr.success(`Pasien ${name} berhasil masuk daftar boarding`)
        this.$emit('boardingAdded', res.data)
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
    },
    async delOnSite (id) {
      if (this.isLoading) return
      this.isLoading = true
      try {
        await this.$api.onSites.delete(id)
        this.model = this.model.filter(x => x.id !== id)
        this.$toastr.success('Berhasil dihapus')
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
    },
    async copy (text) {
      try {
        await this.$util.copyToClipboard(text)
        this.$toastr.warning(`${text.toUpperCase()} has been copied to clipboard`)
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
    }
  }
}
</script>
