<template>
  <div class="row" v-if="client.id !== 0">
    <div  class="col-3 q-pa-sm" style="min-width: 100px;">
      <q-card>
       <q-btn size="lg" icon="fa fa-plus" label="Tambah Pet" text-color="secondary" color="grey-1" class="full-width" @click="addPetDialog = true"  />
      </q-card>
    </div>
    <div v-for="item in data" :key="item.id" class="col-3 q-pa-sm">
    <q-card>
       <q-item tag="label" v-ripple>
        <q-item-section avatar>
          <q-checkbox v-model="petIds" :val="item.id" color="primary" />
        </q-item-section>
        <q-item-section>
          <q-item-label> {{getAnimalCode(item.animalTypeId)}}  {{item.name}} </q-item-label>
          <q-item-label caption></q-item-label>
        </q-item-section>
      </q-item>
    </q-card>
    </div>
    <div v-if="!data.length" class="text-italic col-3 q-pa-sm self-center"> Belum ada pet </div>
    <q-toolbar class="full-width q-mt-xl">
      <div class="full-width" v-if="client.id !== 0">
        Yang berkunjung hari ini: <br/>
        <b>Customer</b>: <q-badge class="q-ml-xs"> {{client.code}} - {{client.name}} </q-badge><br>
        <b>Pasien</b>: <span v-show="!selectedPets.length" class="text-italic"> -tidak membawa pasien- </span> <q-badge class="q-ml-xs" v-for="item in selectedPets" :key="item.id">  <q-item-label> {{getAnimalCode(item.animalTypeId)}}  {{item.name}} </q-item-label> </q-badge>
      </div>
      <q-btn label="Tambahkan" style="width:50%" no-caps color="primary" @click="commitVisitor" :disable="isLoading"/>
    </q-toolbar>

    <q-dialog v-model="addPetDialog" persistent>
      <q-card>
        <q-card-section style="width:500px;max-width:calc(100vw - 25px)">
      <q-form class="full-width">
         <q-select
            v-model="selectedAnimalType"
            data-vv-scope="add"
            name="animalTypeId"
            :options="animalTypes"
            option-label="code"
            option-value="id"
            v-validate="'required'"
            :error="errors.has('add.animalTypeId')"
            :error-message="errors.first('add.animalTypeId')"
            outlined
            input-debounce="50"
            @input="newPet.animalTypeId = selectedAnimalType.id"
            label="Jenis hewan"
          />
             <q-input
            v-model="newPet.name"
            data-vv-scope="add"
            name="name"
            class=""
            v-validate="'required|max:255'"
            :error="errors.has('add.name')"
            :error-message="errors.first('add.name')"
            outlined
            @keydown.enter="saveRow"
            label="Nama"
          />
          <q-select
            v-model="newPet.sex"
            :options="sexOptions"
            outlined
            emit-value
            label="Jenis kelamin"
          />
           <q-input
            outlined
            readonly
              :value="$util.formatDate(newPet.doB, 'YYYY/MM/DD')"
            mask="date"
            :rules="['date']"
            label="Tanggal lahir"
            class="q-mt-md"
          >
            <template #after>
              <q-icon name="fa fa-calendar-day" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="newPet.doB"
                    @input="closePopup('qDateProxy')"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

            <q-btn
              :loading="isLoading"
              icon="fa fa-save"
              label="Simpan"
              title="Save"
              text-color="white"
              class="full-width"
              color="secondary"
              size="sm"
              :disable="isLoading"
              @click.stop="saveNewPet()"
            />
            <q-btn
              :loading="isLoading"
              label="Batal"
              size="sm"
              class="full-width q-mt-md"
             @click="addPetDialog = false"/>
      </q-form></q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { AnimalType, Client, Patient } from '../../../models'
export default {
  name: 'PetsBrought',
  props: {
    client: {
      type: Object,
      default: () => new Client()
    }
  },
  data () {
    return {
      isLoading: false,
      data: [],
      animalTypes: [],
      petIds: [],
      addPetDialog: false,
      selectedAnimalType: {},
      newPet: new Patient()
    }
  },
  watch: {
    'client.id' (val) {
      this.onRequest()
    }
  },
  computed: {
    sexOptions () {
      return this.$util.getSexTypes()
    },
    selectedPets () {
      if (!this.petIds.length) { return [] }
      return this.data.filter(x => this.petIds.indexOf(x.id) > -1)
    }
  },
  methods: {
    async commitVisitor () {
      if (this.isLoading) return
      this.isLoading = true
      try {
        if (this.petIds.length) {
          await this.$api.onSites.postByPatients(this.petIds)
        } else {
          await this.$api.onSites.postByClient(this.client.id)
        }
        this.$toastr.success('Pengunjung berhasil didaftarkan')
        this.$router.replace('/frontdesk')
      } catch (e) {
        this.$toastr.error('Gagal mendapatkan data')
      }
      this.isLoading = false
    },
    async onRequest () {
      if (this.client.id === 0) return
      this.isLoading = true
      try {
        const res = await this.$api.patients.get({ clientId: this.client.id })
        let data = res.data
        this.data.splice(0, this.data.length, ...data)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    },
    closePopup (ref) {
      this.$refs[ref].hide()
    },
    async saveNewPet () {
      let hasError = false

      await this.$validator.validate('add.*')
      if (this.errors.any('add')) {
        hasError = true
      }

      if (hasError) {
        this.$toastr.error('Please complete form then resubmit')
        return
      }

      this.isLoading = true

      this.newPet.clientId = this.client.id
      try {
        var res = await this.$api.patients.post(this.newPet)
        if (res.status < 300) {
          this.addPetDialog = false
          this.$toastr.success('Pet baru berhasil di simpan')
          var nPatient = new Patient(res.data)
          this.data.push(nPatient)
          this.newPet = new Patient({ animalTypeId: nPatient.animalTypeId })
        } else {
          this.$toastr.error(res.message)
        }
      } catch (e) {
        this.$toastr.error(e.message)
      } finally {
        this.isLoading = false
      }
    },
    getAnimalCode (id) {
      if (id === undefined || this.animalTypes.length === 0) {
        return ''
      }
      var model =
        this.animalTypes.find((x) => x.id === id) ||
        new AnimalType()
      return model.code
    },
    async fetchAnimalTypes () {
      const res = await this.$api.animalTypes.get()
      this.animalTypes = res.data
    }
  },
  async mounted () {
    await this.fetchAnimalTypes()
    this.onRequest()
  }
}
</script>
