<template>
  <div class="q-pa-md" style="min-height:calc(100vh - 150px);position:relative">
      <div class="text-primary text-h5">
      <q-btn flat icon="fa fa-arrow-left" @click="$router.back()"/>  Menambahkan Pengunjung Hari Ini
      </div>
    <q-card>
      <q-card-section>
         <q-form class="row full-width">
            <input type="hidden" :value="model.id" ref="fid" />
            <q-input
              class="col-sm-12 col-md-3 q-my-xs q-py-xs"
              v-model="model.code"
              type="text"
              name="code"
              label="Kode *"
              placeholder="Kode"
              v-validate="'required|max:10|remoteValClientCode:fid'"
              :error="errors.has('code')"
              :error-message="errors.first('code')"
              :readonly="isLoading"
              dense
            />
            <q-input
              class="col-sm-12 col-md-8 q-my-xs q-py-xs"
              v-model="model.name"
              type="text"
              name="name"
              label="Name *"
              placeholder="name"
              v-validate="'required|max:50'"
              :error="errors.has('name')"
              :error-message="errors.first('name')"
              :readonly="isLoading"
              dense
            />
            <q-input
              class="col-sm-12 col-md-11 q-my-xs q-py-xs"
              v-model="model.address"
              type="text"
              name="address"
              label="Address"
              placeholder="address"
              autogrow
              v-validate="'max:255'"
              :error="errors.has('address')"
              :error-message="errors.first('address')"
              :readonly="isLoading"
              dense
            />
            <q-input
              class="col-sm-12 col-md-5 q-my-xs q-py-xs"
              v-model="model.phone"
              type="text"
              name="phone"
              label="Phone"
              placeholder="phone"
              v-validate="'max:100'"
              :error="errors.has('phone')"
              :error-message="errors.first('phone')"
              :readonly="isLoading"
              dense
            />
            <q-input
              class="col-sm-12 col-md-6 q-my-xs q-py-xs"
              v-model="model.email"
              type="text"
              name="email"
              label="Email"
              placeholder="email"
              v-validate="'email'"
              :error="errors.has('email')"
              :error-message="errors.first('email')"
              :readonly="isLoading"
              dense
            />
            <q-input
              class="col-sm-12 col-md-11 q-my-xs q-py-xs"
              v-model="model.note"
              type="text"
              name="note"
              label="note"
              placeholder="note"
              autogrow
              v-validate="'max:255'"
              :error="errors.has('note')"
              :error-message="errors.first('note')"
              :readonly="isLoading"
            />
            <submit-button
            v-if="model.id === 0"
              :isLoading="isLoading"
              @click="saveClientDetail"
              class="full-width"
            >
              SIMPAN
            </submit-button>
            <submit-button
            v-else
              :isLoading="isLoading"
              @click="saveClientDetail"
              class="full-width bg-grey text-white"
            >
              UPDATE
            </submit-button>
          </q-form>
      </q-card-section>
    </q-card>
    <div class="text-h6" v-show="model.id > 0">
    Pilih pasien yang dibawa:
    </div>
    <PetsBrought :client="model"  v-show="model.id !== 0"/>
  </div>
</template>

<script>
import { Client } from '../../models'
import PetsBrought from '../../components/frontdesk/clients/PetsBrought'
export default {
  name: 'frontdesk-client',
  props: {
    id: {
      type: [Number, String],
      required: true
    }
  },
  components: {
    PetsBrought
  },
  data () {
    return {
      isLoading: false,
      model: new Client()
    }
  },
  mounted () {
    if (this.id) {
      if (this.id !== '0') {
        this.reloadClient()
      }
    } else {
      this.$router.back()
    }
  },
  methods: {
    async reloadClient () {
      try {
        var res = await this.$api.clients.getOne(this.id)
        if (res.status < 300) {
          this.model = this.client = new Client(res.data)
        } else {
          this.$toastr.error('Unable to fetch client\'s records')
          this.$router.back()
        }
      } catch (e) {
        // create new record
        this.model = new Client()
        // this.$toastr.error(this.$util.err(e))
      }
    },
    async saveClientDetail () {
      this.isLoading = true
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        try {
          let isAdding = !this.model.id || this.model.id === 0
          var res = await (isAdding
            ? this.$api.clients.post(this.model)
            : this.$api.clients.put(this.model.id, this.model))
          if (res.status < 300) {
            this.$toastr.success(
              `${isAdding ? 'Record added' : 'Record updated'}`
            )
            if (res.data && res.data.id) {
              this.model = new Client(res.data)
              // this.$router.replace('/frontdesk/clients/' + res.data.id)
            } else {
              this.reloadClient()
            }
          } else {
            this.$toastr.error(res.statusText)
          }
        } catch (e) {
          let emsg = this.$util.err(e)
          this.$toastr.error(emsg)
          this.$store.dispatch(
            'addErrors',
            this.$util.errModelState(e.response.data.modelState)
          )
        } finally {
          this.isLoading = false
        }
      }

      this.isLoading = false
    }
  }
}
</script>
