<template>
  <q-page padding>
    <main-table
      title="Pembelian"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
      @create="add"
      @edit="edit"
      @delete="del"
    >
    <template #body-cell-actions2="props">
      <q-td class="text-center">
        <q-btn size="sm" label="Details" type="a" :href="`/admin/purchase/${props.row.id}`" />
      </q-td>
    </template>
    </main-table>
  </q-page>
</template>

<script>
import { Pagination, Purchase } from '../../models'

export default {
  name: 'categories',
  data () {
    return {
      isLoading: false,
      filter: '',
      pagination: new Pagination('purchaseDate', { descending: true }),
      columns: [
        {
          name: 'id',
          field: 'id',
          required: true,
          format: (val, row, c) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#',
          sortable: true
        },
        {
          name: 'purchaseDate',
          align: 'left',
          field: 'purchaseDate',
          label: 'Tgl Pembelian',
          sortable: true,
          format: (val) => this.$util.formatDate(val, 'dddd, DD MMM YYYY')
        },
        {
          name: 'invoiceNumber',
          align: 'left',
          field: 'invoiceNumber',
          label: 'No Invoice',
          sortable: true
        },
        {
          name: 'supplier',
          align: 'left',
          field: 'supplier',
          label: 'Supplier',
          sortable: true
        },
        {
          name: 'totalQty',
          align: 'center',
          field: 'totalQty',
          label: 'Jumlah Item',
          sortable: true
        },
        {
          name: 'realCost',
          align: 'right',
          field: 'realCost',
          label: 'Total Pembelian',
          sortable: true,
          format: (val) => this.$options.filters.money(val)
        },
        {
          name: 'actions2',
          align: 'center',
          field: 'actions',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: []
    }
  },
  computed: {},
  watch: {},
  mounted () {
    this.onRequest()
  },
  methods: {
    async onRequest () {
      this.isLoading = true
      try {
        const res = await this.$api.purchases.get()
        let data = res.data.map(x => new Purchase(x))
        this.data = data
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Konfirmasi',
          message: `Apakah ingin menghapus record Id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.purchases.delete(id)
            if (res.status === 200) {
              this.data = this.data.filter(val => val.id !== id)
              this.$toastr.success('Record was deleted')
            }
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    edit (id) {
      let purchase = this.data.filter(x => x.id === id)[0]
      this.$router.push({
        name: 'admin.purchase',
        params: { value: purchase }
      })
    },
    add () {
      this.$router.push('/admin/purchase')
    }
  }
}
</script>

<style></style>
