<template>
  <q-page padding>
    <main-card
      :title="
        model.id > 0 ? 'Details Pembelian Id=' + model.id : 'Buat Pembelian '
      "
      backTo="/admin/purchases"
    >
      <template v-if="isLoading">
        <q-circular-progress indeterminate size="lg" />
      </template>
      <q-form @submit="onSubmit" v-else>
        <date-input
          v-model="model.purchaseDate"
          name="purchaseDate"
          maxToday
          v-validate="'required'"
          :error="errors.has('purchaseDate')"
          :errorMessage="errors.first('purchaseDate')"
          dense
          :disable="!formEnabled"
        />
        <q-input
          filled
          type="text"
          autofocus
          name="invoiceNumber"
          label="Nomor invoice"
          class="text-capitalize"
          v-model="model.invoiceNumber"
          v-validate="'required|max:100'"
          :error="errors.has('invoiceNumber')"
          :error-message="errors.first('invoiceNumber')"
          :disable="!formEnabled"
        />

         <q-input
          filled
          type="text"
          autofocus
          name="supplier"
          label="Supplier"
          class="text-capitalize"
          v-model="model.supplier"
          v-validate="'max:255'"
          :error="errors.has('supplier')"
          :error-message="errors.first('supplier')"
          :disable="!formEnabled"
        />

        <PurchaseLinesList v-model="model.purchaseLines" :purchase="model" />

        <q-input
          type="number"
          label="Total Item"
          :value="model.totalQty"
          disable
          input-class="text-right"
        />
        <money-field
          label="Total Harga Pembelian Bruto"
          :value="model.totalCost"
          disable
        />
        <money-field
          filled
          name="realCost"
          label="Total Harga Pembelian Net"
          v-model="model.realCost"
          v-validate="'required'"
          :error="errors.has('realCost')"
          :error-message="errors.first('realCost')"
          :disable="!formEnabled"
        />
        <submit-button
          :is-loading="isLoading"
          @submit="onSubmit"
          class="q-mt-md"
          v-if="formEnabled"
        />
      </q-form>
    </main-card>
  </q-page>
</template>

<script>
import { Purchase, PurchaseLine } from '../../models'
import PurchaseLinesList from '../../components/purchases/PurchaseLinesList'
export default {
  name: 'Purchase',
  components: {
    PurchaseLinesList
  },
  props: {
    value: {
      type: Purchase,
      default: () => new Purchase()
    },
    id: {
      type: [Number, String]
    }
  },
  data () {
    return {
      isLoading: false,
      model: new Purchase(this.value)
    }
  },
  watch: {
    'model.totalCost' (val) {
      this.model.realCost = val
    }
  },
  mounted () {
    if (Number(this.id) > 0) {
      this.reloadPurchase()
    }
  },
  computed: {
    formEnabled () {
      return this.model.id < 1
    }
  },
  methods: {
    async reloadPurchase () {
      try {
        var res = await this.$api.purchases.getOne(this.id)
        if (res.status < 300) {
          this.model = new Purchase(res.data)
        } else {
          this.$toastr.error("Unable to fetch purchase's records")
          this.$router.back()
        }
      } catch (e) {
        // create new record
        this.model = new Purchase()
        // this.$toastr.error(this.$util.err(e))
      }
    },
    async onSubmit () {
      if (this.isLoading) {
        return
      }
      if (!this.model.purchaseLines.length) {
        this.$toastr.error('Mohon tambahkan minimal 1 item yang dibeli')
        return
      }
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        this.isLoading = true
        var data = this.model
        data.purchaseLines = data.purchaseLines.map(x => x.id < 1 ? new PurchaseLine({ ...x, id: 0 }) : x)
        try {
          const isEditing = data.id > 0
          var res = await (isEditing
            ? this.$api.purchases.put(data.id, data)
            : this.$api.purchases.post(data))
          if (res.status < 300) {
            this.$toastr.success(
              `${data.id > 0 ? 'Record updated' : 'Record added'}`
            )
            if (!isEditing) {
              this.$router.replace('/admin/purchases')
            }
          } else {
            this.$toastr.error(res.statusText)
          }
        } catch (e) {
          let emsg = this.$util.err(e)
          this.$toastr.error(emsg)
          this.$store.commit(
            'addErrors',
            this.$util.errModelState(e.response.data.modelState)
          )
        }
        this.isLoading = false
      }
    }
  }
}
</script>

<style></style>
