<template>
  <q-page padding>
    <main-card :title="model.id > 0 ? 'Edit Model Insentif Id=' + model.id : 'Buat Model insentif'" >
      <q-form @submit="onSubmit">
        <q-input filled type="text" autofocus name="name" label="Nama" class="text-capitalize" v-model="model.name" v-validate="'required'" :error="errors.has('name')" :error-message="errors.first('name')"/>
        <q-input filled type="text" name="description" label="Keterangan" class="text-capitalize" v-model="model.description" v-validate="'required'" :error="errors.has('description')" :error-message="errors.first('description')"/>
        <InsentiveRuleTables v-if="model.id > 0" v-model="model.insentiveRules" :insentiveModelId="model.id" />

         <submit-button :is-loading="isLoading" @click="onSubmit" class="q-mt-md" />
      </q-form>
    </main-card>
  </q-page>
</template>

<script>
import { InsentiveModel } from '../../models'
import InsentiveRuleTables from '../../components/insentiveModels/InsentiveRuleTables'
export default {
  description: 'InsentiveModel',
  components: {
    InsentiveRuleTables
  },
  props: {
    value: {
      type: InsentiveModel,
      default: () => new InsentiveModel()
    }
  },
  data () {
    return {
      isLoading: false,
      model: this.$util.extend({}, this.value)
    }
  },
  watch: {
  },
  computed: {

  },
  methods: {
    async onSubmit () {
      if (this.isLoading) {
        return
      }
      this.isLoading = true
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        var data = new InsentiveModel(this.model)
        if (data.insentiveRules.length) {
          data.insentiveRules.forEach(element => {
            if (element.id < 0) {
              element.id = 0
            }
          })
        }
        try {
          const isEditing = data.id > 0
          var res = await (isEditing ? this.$api.insentiveModels.put(data.id, data) : this.$api.insentiveModels.post(data))
          if (res.status < 300) {
            this.$toastr.success(`${data.id > 0 ? 'Record updated' : 'Record added'}`)
            if (isEditing) {
              this.$router.back()
            } else {
              this.model = new InsentiveModel(res.data)
            }
          } else {
            this.$toastr.error(res.statusText)
          }
        } catch (e) {
          let emsg = this.$util.err(e)
          this.$toastr.error(emsg)
          this.$store.commit('addErrors', this.$util.errModelState(e.response.data.modelState))
        }
      }
      this.isLoading = false
    }
  }
}
</script>

<style>
</style>
