<template>
<div>
  <vue-apex-charts height='300px' type="bar" :options="options" :series="series"></vue-apex-charts>
</div>
</template>

<script>

import VueApexCharts from 'vue-apexcharts'

export default {
  name: 'TransactionOverviewsBarChart',
  components: {
    VueApexCharts
  },
  props: {
    data: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      options: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        }
      },
      series: [
        // {
      //   name: 'Total Receipt',
      //   data: this.s1
      // },
        {
          name: 'Total Revenue',
          data: this.s2
        }]
    }
  },
  computed: {
    // s1(){
    //   return this.data === undefined || this.data.length === 0 ? [] : this.data.map(x=> x.count);
    // },
    s2 () {
      return this.data === null || this.data === undefined || !this.data.length ? [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] : this.data.map(x => x.total)
    }
  },
  watch: {
    data (nval) {
      console.log('barcart data watch', nval, this.s2)
      this.series = [
        // {data: this.s1},
        { data: this.s2 }
      ]
    }
  }
}
</script>

<style>
</style>
