<template>
  <q-page class="row q-px-xs q-pb-xs" style="">
    <div class="col-md-7 col-sm-6 col-xs-12 q-pa-md">
      <SalesTodayList ref="sales" :deposits="deposits" @sales-closed="salesClosed"/>
      <DepositTodayList @input="depositListHandle" ref="depositTodayList" />
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 q-py-md bg-white" style="position:relative;">
      <AddSales @sales-saved="salesSaved"/>
    </div>
  </q-page>
</template>

<script>
import SalesTodayList from '../../components/sales/SalesTodayList'
import DepositTodayList from '../../components/sales/DepositTodayList'
import AddSales from '../../components/sales/AddSales'
export default {
  name: 'SalesToday',
  data () {
    return {
      deposits: []
    }
  },
  computed: {

  },
  watch: {},
  methods: {
    salesSaved (model) {
      this.$refs.sales.add(model)
    },
    depositListHandle (deposits) {
      this.deposits = deposits
    },
    salesClosed () {
      this.$refs.depositTodayList.closeDeposit()
    }
  },
  components: {
    SalesTodayList,
    DepositTodayList,
    AddSales
  }
}
</script>
