<template>
  <q-page class="row q-px-xs q-pb-xs" style="">
    <div class="col-12 q-px-md q-pt-md">
      <q-toolbar class="primary">
        <q-toolbar-title>
          Sales and Deposit list
        </q-toolbar-title>
        <q-checkbox
          label="Show tracked receipt"
          v-model="showIncomplete"
          class="q-mx-md"
          :disable="isLoading"
        />
        <q-input
          class=""
          debounce="500"
          v-model="search"
          filled
          placeholder="Search"
          :loading="isLoading"
        >
          <template #prepend>
            <q-icon name="fa fa-search" />
          </template>
        </q-input>
      </q-toolbar>
    </div>
    <div class="col-12 q-px-md q-pb-md">
      <SalesList ref="sales" :deposits="deposits" @sales-closed="salesClosed" />
      <DepositList
        @input="depositListHandle"
        ref="DepositList"
        v-show="!showIncomplete"
      />
    </div>
  </q-page>
</template>

<script>
import SalesList from '../../components/sales/SalesList'
import DepositList from '../../components/sales/DepositList'
export default {
  name: 'SalesToday',
  data () {
    return {
      deposits: [],
      isLoading: false,
      search: undefined,
      showIncomplete: false
    }
  },
  computed: {},
  watch: {
    async search (val) {
      await this.searchSalesAndDeposit()
    },
    async showIncomplete (val) {
      await this.searchSalesAndDeposit()
    }
  },
  methods: {
    salesSaved (model) {
      this.$refs.sales.add(model)
    },
    depositListHandle (deposits) {
      this.deposits = deposits
    },
    salesClosed () {
      this.$refs.DepositList.closeDeposit()
    },
    async searchSalesAndDeposit () {
      this.isLoading = true
      try {
        await this.$refs.sales.search(this.search, this.showIncomplete)
        if (!this.showIncomplete) {
          await this.$refs.DepositList.search(this.search)
        }
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
    }
  },
  components: {
    SalesList,
    DepositList
  }
}
</script>
