<template>
  <q-layout view="lhh LpR lff">
    <q-header elevated class="text-primary bg-grey-1">
      <!-- <q-toolbar class="text-center q-py-md">
           <q-toolbar-title class="col-md-3 col-sm-6 col-xs-11">
          <template v-if="mainOffice.logo">
        <img :src="mainOffice.logo" style="width:6em" />
        </template>
          <template v-else >
            {{mainOffice.name}}
            </template>
        </q-toolbar-title>

      </q-toolbar> -->
      <q-toolbar>
        <q-btn
          dense
          flat
          rounded
          icon="fa fa-bars"
          @click="left = !left"
          class=""
        />
        <img :src="mainOffice.logo" style="width:6em" />
        <q-space />
        <div class="" style="text-align: right;">
          <template v-if="isLogin">
            <q-btn
              icon="fas fa-calendar-alt"
              dense
              flat
              round
              @click="openCalendar"
              class="q-mr-md"
            >
              <q-badge
                v-show="appointmentCount > 0"
                :label="appointmentCount"
                floating
                color="red"
              />
            </q-btn>

            <!-- <q-btn
              dense
              flat
              round
              icon="schedule"
              @click="openAppointmentTable"
            />
            <router-link to="/admin/calendar">
              <q-avatar
                v-ripple
                class="q-mr-xl q-pr-sm"
                icon="calendar_today"
                text-color="black"
                clickable
              >
                <q-badge color="primary" floating transparent label="99+ " />
              </q-avatar>
            </router-link> -->

            <q-avatar
              size="40px"
              class="q-my-sm cursor-pointer non-selectable"
              @click="right = !right"
              color="secondary"
              text-color="white"
            >
              <span>
                {{ userInitial }}
              </span>
            </q-avatar>
          </template>
          <q-btn flat dense v-else label="Login" to="/login" />
        </div>
      </q-toolbar>
    </q-header>

    <drawer-left :is-showing.sync="left" />

    <drawer-right :is-showing.sync="right" />

    <q-page-container class="bg-grey-1">
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-5 text-black">
      <q-toolbar>
        <q-toolbar-title>
          {{ mainOffice.name }}
        </q-toolbar-title>
        <q-space />
        <div
          style="font-size: small; font-style: italic; line-height: 5px; margin-top: 12px;"
        >
          <p>{{ mainOffice.address }}</p>
          <p v-if="mainOffice.phone && mainOffice.phone.length > 0">
            Telp. {{ mainOffice.phone }}
          </p>
        </div>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import DrawerLeft from '../components/DrawerLeft.vue'
import DrawerRight from '../components/DrawerRight.vue'
import AppointmentsTable from '../components/appointments/AppointmentsTable'
import AppointmentCalendar from '../components/appointments/AppointmentCalendar'

import { mapState } from 'vuex'
export default {
  data () {
    return {
      left: false,
      right: false,
      appointmentCount: 0,
      tid: undefined
    }
  },
  components: {
    DrawerLeft,
    DrawerRight
  },
  computed: {
    mainOffice () {
      return this.$store.state.office || {}
    },
    userInitial () {
      let used =
        this.user.displayName && this.user.displayName !== null ? this.user.displayName : this.user.userName
      return used.charAt(0).toUpperCase()
    },
    isLogin () {
      return this.$store.getters['auth/isLogin']
    },
    ...mapState({
      user: 'auth'
    })
  },
  mounted () {
    this.startCheckingAppointmentCount(true)
  },
  destroyed () {
    clearTimeout(this.tid)
  },
  methods: {
    async fetchCount () {
      try {
        const res = await this.$api.appointments.getCount()
        if (res.status < 300) {
          this.appointmentCount = res.data
        } else {
          this.appointmentCount = 0
        }
      } catch (e) {
        this.appointmentCount = 0
      }
      this.startCheckingAppointmentCount()
    },
    async startCheckingAppointmentCount (immediate) {
      clearTimeout(this.tid)
      this.tid = setTimeout(this.fetchCount, immediate ? 0 : 1 * 60 * 1000)
    },
    openCalendar () {
      // this.$dialog.calendar()
      this.$q.dialog({
        component: AppointmentCalendar,
        parent: this
      })
    },
    openAppointmentTable () {
      this.$q
        .dialog({
          component: AppointmentsTable,
          parent: this,
          $store: this.$store
        })
        .onOk(() => {
          // console.log('ok');
        })
        .onCancel(() => {
          // console.log('Cancel');
        })
        .onDismiss(() => {
          // console.log('dismiss');
        })
    }
  }
}
</script>
