<template>
  <q-dialog ref="dialog" @hide="onHide" full-width>
    <q-card class="full-height q-pa-md bg-primary text-white">
      <q-toolbar class="full-width">
        <q-space />
        <q-btn flat @click="onHide" icon="fa fa-times" />
      </q-toolbar>
      <my-full-calendar @dateClick="dayClick" @eventClick="eventClick"
      :customButtons="customButtons" :header="header"
       :events="getEvents" />
    </q-card>
  </q-dialog>
</template>

<script>
import MyFullCalendar from './MyFullCalendar'
import appointmentTable from './AppointmentsTable'

export default {
  name: 'AppointmentCalendar',
  components: {
    MyFullCalendar
  },
  data () {
    return {
      customButtons: {
        addApointment: {
          text: 'Add appointment',
          bootstrapFontAwesome: 'fa fa-plus',
          click: () => this.openAppointmentDetailsModal()
        }
      },
      header: {
        right: 'addApointment today prev,next'
      }
    }
  },
  computed: {},
  mounted () {},
  methods: {
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    },
    onHide () {
      this.$emit('hide')
    },
    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    async getEvents (info, successFn, failFn) {
      try {
        const res = await this.$api.appointments.get(info)
        successFn(res.data)
      } catch (e) {
        this.$toastr.error(e.message)
        failFn(e)
      }
    },
    openAppointmentDetailsModal () {
      this.$dialog.appointmentDetails(this, 0)
    },
    openAppointmentModal (val) {
      this.$store.commit('setAppointmentListAt', {
        atMonth: null,
        atDate: val
      })
      // console.log('openAppointmentModal at', val);
      // this.$dialog.appointmentTable(this)
      this.$q.dialog({
        component: appointmentTable,
        parent: this
      })
    },
    eventClick (calEvent) {
      // var day = this.$util.formatDate(calEvent.event.start, 'YYYY-MM-DD');
      // console.log('eventClick', calEvent)
      // // console.log('day', day);
      this.openAppointmentModal(calEvent.event.start)
    },
    dayClick (day) {
      this.openAppointmentModal(day.date)
    }
  }
}
</script>

<style></style>
