<template>
  <q-dialog ref="dialog" @hide="onHide" full-width>
    <main-table
      title="Appointment list"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
      @create="add"
      @edit="edit"
      @delete="del"
    >
      <template #body-cell-isConfirmed="props">
        <q-td>
        <q-checkbox
          type="checkbox"
          disable
          :value="props.row['isConfirmed']"
        />
        </q-td>
      </template>
      <template #body-cell-appointmentTypeId="props">
        <q-td>
        {{ getTypeName(props.row['appointmentTypeId']) }}
        </q-td>
      </template>

      <template #body-cell-dueDate="props">
        <q-td>
        {{ $util.formatDate(props.row['dueDate'], 'dddd, DD MMM YYYY') }}
        </q-td>
      </template>

      <template #title>
        <div class="col-2 q-table__title">Appointment list</div>
        {{ title }}
      </template>

      <!-- <template #actions>
        <q-btn
          rounded
          icon="fa fa-calendar-day"
          label="Pick date"
          title="Get dates"
          text-color="grey"
          size="sm"
          :disable="isLoading"
          class="q-mx-sm "
          @click="showDates"
        />
        <q-btn
          rounded
          icon="fa fa-calendar-week"
          label="Pick month"
          title="Get months"
          text-color="grey"
          size="sm"
          :disable="isLoading"
          class="q-mx-sm "
          @click="showMonths"
        />
      </template> -->
    </main-table>
    <q-dialog v-model="atDateDialog" persistent>
      <key-value-table
        url="/appointments/getdates"
        @selected-row-change="selectedDateHandle"
        label="Appointment's dates"
      >
        <template #bottom>
          <q-space />
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn flat label="OK" v-close-popup @click="onRequest" />
        </template>
      </key-value-table>
    </q-dialog>
    <q-dialog v-model="atMonthDialog" persistent>
      <key-value-table
        url="/appointments/getmonths"
        @selected-row-change="selectedMonthHandle"
        label="Appointment's months"
      >
        <template #bottom>
          <q-space />
          <q-btn flat label="cancel" v-close-popup />
          <q-btn flat label="OK" v-close-popup @click="onRequest" />
        </template>
      </key-value-table>
    </q-dialog>
  </q-dialog>
</template>

<script>
import AppointmentDetails from './AppointmentDetails.vue'

export default {
  name: 'AppointmentTable',
  props: {
    // $store: {type:Object}
  },
  components: {

  },
  data () {
    return {
      atDateDialog: false,
      atMonthDialog: false,
      isLoading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        sortBy: 'id',
        descending: false
      },
      columns: [
        {
          name: 'id',
          required: true,
          format: (val, row) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#'
        },
        {
          name: 'appointmentTypeId',
          align: 'center',
          field: 'appointmentTypeId',
          label: 'Type',
          style: '',
          sortable: true
        },
        {
          name: 'name',
          align: 'center',
          field: 'name',
          label: 'Name',
          sortable: true
        },
        {
          name: 'phone',
          align: 'center',
          field: 'phone',
          label: 'Phone',
          style: 'width:25px'
        },
        {
          name: 'dueDate',
          align: 'center',
          field: 'dueDate',
          label: 'Due date',
          style: ''
        },
        { name: 'for', align: 'center', field: 'for', label: 'For', style: '' },
        {
          name: 'isConfirmed',
          align: 'center',
          field: 'isConfirmed',
          label: 'Is confirmed',
          style: ''
        },
        {
          name: 'clientCode',
          align: 'center',
          field: 'clientCode',
          label: 'clientCode',
          style: ''
        },
        {
          name: 'actions',
          align: 'center',
          field: 'action',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: []
    }
  },
  watch: {

  },
  computed: {
    atDate () {
      return this.$store.state.showAppointmentListAt.atDate
    },
    atMonth () {
      return this.$store.state.showAppointmentListAt.atMonth
    },
    title () {
      let checkDate =
        this.$store.state.showAppointmentListAt.atDate !== undefined
      let atDate =
        this.$store.state.showAppointmentListAt.atDate ||
        this.$store.state.showAppointmentListAt.atMonth
      if (checkDate) {
        return `At date: ${this.$util.formatDate(
          new Date(atDate),
          'YYYY-MMM-DD'
        )}`
      }
      return `At month: ${this.$util.formatDate(
        new Date(atDate),
        'YYYY MMMM'
      )}`
    }
  },
  mounted () {
    this.onRequest()
  },
  methods: {
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    },
    onHide () {
      this.$emit('hide')
    },
    selectedDateHandle (model) {
      this.$store.commit('setAppointmentListAt', {
        atDate: model.key,
        atMonth: undefined
      })
    },
    selectedMonthHandle (model) {
      this.$store.commit('setAppointmentListAt', {
        atDate: undefined,
        atMonth: model.key
      })
    },
    showMonths () {
      this.atMonthDialog = true
    },
    showDates () {
      this.atDateDialog = true
    },
    getTypeName (id) {
      var str = this.$store.state.list.appointmentTypes
      var t = str.find(x => x.id === id)
      return t.name
    },
    async onRequest () {
      if (this.atDate === undefined && this.atMonth === undefined) return

      let date = this.atDate || this.atMonth
      let getAt = this.atDate === undefined ? 'getAtMonth' : 'getAtDate'
      this.isLoading = true
      try {
        const res = await this.$api.appointments[getAt](date)
        let data = res.data

        this.data.splice(0, this.data.length, ...data)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Confirm',
          message: `Are you sure want to delete this appointment record with Id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.appointments.delete(id)
            if (res.status === 200) {
              this.data = this.data.filter(val => val.id !== id)
              this.$toastr.success('Record was deleted')
            }
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    edit (id) {
      // this.$store.commit('setid', id)
      // console.log('preedit', this.$store.state);
      this.$q
        .dialog({
          component: AppointmentDetails,
          parent: this, // WHAYYYYYYYYY!!!!!!!!!!!!!!!
          $store: this.$store,
          id: id
        })
        .onOk(() => {
          // console.log('ok');
        })
        .onCancel(() => {
          // console.log('Cancel');
        })
        .onDismiss(() => {
          // console.log('dismiss');
        })
    },
    add () {
      // this.$store.commit('setid', 0)
      this.$q
        .dialog({
          component: AppointmentDetails,
          parent: this,
          $store: this.$store,
          id: 0
        })
        .onOk(() => {
          // // console.log('ok');
        })
        .onCancel(() => {
          // // console.log('Cancel');
        })
        .onDismiss(() => {
          // // console.log('dismiss');
        })
    }
  }
}
</script>

<style></style>
