<template>
  <q-dialog ref="dialog" @hide="onHide" full-width>
    <q-card style="min-width: 400px">
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>
          Appointments details
        </q-toolbar-title>
        <q-btn flat icon="fa fa-times" v-close-popup />
      </q-toolbar>
      <q-card-section>
        <appointment-type-select
          label="Appointment type"
          v-model="model.appointmentTypeId"
          name="appointmentTypeId"
          v-validate="'required|min:1'"
          :error="errors.has('appointmentTypeId')"
          :error-message="errors.first('appointmentTypeId')"
          class="q-pa-sm col-md-6 col-sm-12"
          dense
          autofocus
          :store="$store"
        />
    <customer-select
          ref="cselect"
          label="Klien"
          v-model="model.clientId"
          class="col-md-4 col-sm-12"
          name="clientId"
           v-validate="'required'"
          :error="errors.has('clientId')"
          :error-message="errors.first('clientId')"
          dense
          filled
          @selected="selectedClientChange"
          :disable="disableClientSelect"
        />

        <q-input
          name="name"
          label="Name"
          disable
          v-model="model.name"
          v-validate="'required'"
          :error="errors.has('name')"
          :error-message="errors.first('name')"
          class="q-pa-sm col-md-6 col-sm-12"
          dense
        />
        <q-input
          label="Phone"
          name="phone"
          disable
          v-model="model.phone"
          v-validate="'numeric'"
          :error="errors.has('phone')"
          :error-message="errors.first('phone')"
          class="q-pa-sm col-md-6 col-sm-12"
          dense
        />
        <date-input
          label="Due date"
          v-model="model.dueDate"
          name="dueDate"
          v-validate="'required'"
          :error="errors.has('dueDate')"
          :error-message="errors.first('dueDate')"
          class="q-pa-sm col-md-6 col-sm-12"
          dense
          :maxToday="false"
        />

        <q-input
          label="For"
          name="for"
          v-model="model.for"
          v-validate="'required'"
          :error="errors.has('for')"
          :error-message="errors.first('for')"
          class="q-pa-sm col-md-6 col-sm-12"
          dense
          autogrow
          count
        />

        <q-toggle
          v-if="model && model.id > 0"
          label="Confirmed by client?"
          name="isConfirmed"
          v-model="model.isConfirmed"
          :error="errors.has('isConfirmed')"
          :error-message="errors.first('isConfirmed')"
          class="q-pa-sm col-md-6 col-sm-12"
          dense
        />
      </q-card-section>

      <q-card-actions align="right" class="text-primary col-4">
        <q-btn flat label="Cancel" text-color="black" v-close-popup />
        <submit-button
          @click="submit"
          class="q-ml-xs col-8 full-width"
          :isLoading="isLoading"
          style="margin-top: 20px;"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import AppointmentTypeSelect from './AppointmentTypeSelect'

export default {
  name: 'AppointmentDetailsDialog',
  props: {
    id: {
      type: Number,
      default: () => 0
    },
    clientId: {
      type: Number,
      default: () => undefined
    }
  },
  components: {
    AppointmentTypeSelect
  },
  data () {
    return {
      isLoading: false,
      model: {
        dueDate: new Date()
      },
      disableClientSelect: false
    }
  },
  computeds: {
    appointmentTypes () {
      return this.$store.state.list.appointmentTypes
    }
    // id () {
    //   return this.$store.state.appointmentId
    // }
  },
  watch: {
    id () {
      this.onRequest()
    }
  },
  mounted () {
    // if (this.$store.state.showAppointmentListAt && this.$store.state.showAppointmentListAt.atDate && this.$store.state.showAppointmentListAt.atDate.getMonth) {
    //   this.model = Object.assign({}, this.model, { dueDate: this.$store.state.showAppointmentListAt.atDate })
    // }
    if (this.clientId && this.clientId !== 0) {
      this.model = Object.assign({}, this.model, { clientId: this.clientId })
      this.disableClientSelect = true
    }

    this.onRequest()
  },
  methods: {
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    },
    onHide () {
      this.$emit('hide')
    },
    selectedClientChange (client) {
      alert(123123)
      if (client == null) {
        this.model = Object.assign({}, this.model, { name: undefined, phone: undefined, clientCode: undefined })
      } else {
        this.model = Object.assign({}, this.model, { name: client.name, phone: client.phone, clientCode: client.code })
      }
      console.log('model', this.model)
    },
    async onRequest () {
      if (!this.id || this.id === 0) return
      try {
        var res = await this.$api.appointments.getOne(this.id)
        // console.log('res.data', res.data)
        this.model = Object.assign({}, res.data, { dueDate: new Date(res.data.dueDate) })
      } catch (e) {
        this.$toastr.error(e.message)
      }
    },
    async submit () {
      await this.$validator.validateAll()
      if (!this.errors.any()) {
        this.isLoading = true
        try {
          let isAdding = this.model.id > 0
          var res = await (isAdding
            ? this.$api.appointments.put(this.model.id, this.model)
            : this.$api.appointments.post(this.model))
          if (res.status < 300) {
            this.$toastr.success(
              `${isAdding ? 'Record updated' : 'Record added'}`
            )
            this.$store.commit('setAppointmentListAt', {
              atDate: this.model.dueDate,
              atMonth: undefined
            })
            this.hide()
          } else {
            this.$toastr.error(res.statusText)
          }
        } catch (e) {
          let emsg = this.$util.err(e)
          this.$toastr.error(emsg)
        } finally {
          this.isLoading = false
        }
      }
    }
  }
}
</script>
