<template>

  <q-select
    use-input
    v-model="selected"
    :options="data"
    :loading="isLoading"
    v-bind="$attrs"
    clearable
  >
  </q-select>
</template>

<script>
export default {
  name: 'AppointmentTypeSelect',
  inheritAttrs: false,
  props: {
    value: {
      type: Number,
      // required: true,
      default: () => undefined
    },
    store: {
      type: Object
    }
  },
  data () {
    return {
      selected: undefined,
      isLoading: false
    }
  },
  mounted () {

  },
  computed: {
    data () {
      return this.store.state.list.appointmentTypes.map(x => ({
        label: x.name,
        value: x.id
      }))
    }
  },
  watch: {
    value (val) {
      if (this.data === undefined) return
      this.selected = this.data.find(x => x.value === val)
    },
    selected (newval) {
      this.$emit('input', newval.value)
    }
  }
}
</script>

<style></style>
