<template>
  <q-dialog ref="dialog" @hide="onHide" full-width>
    <main-table
      title="Appointment list"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :isLoading="isLoading"
      @request="onRequest"
      @create="add"
      @edit="edit"
      @delete="del"
    >
     <template #body-cell-isConfirmed="props">
       <q-td>
        <q-checkbox
          type="checkbox"
          disable
          :value="props.row['isConfirmed']"
        />
       </q-td>
      </template>
      <template #body-cell-appointmentTypeId="props">
        <q-td>
        {{ getTypeName(props.row['appointmentTypeId']) }}
        </q-td>
      </template>

      <template #body-cell-dueDate="props">
        <q-td>
        {{ $util.formatDate(props.row['dueDate'], 'dddd, DD MMM YYYY') }}
        </q-td>
      </template>

      <template #title>
        <div class="col-md-3 col-sm-6 col-xs-12 q-table__title">
          Appointment list for customer
        </div>
        <q-badge color="grey" class="q-pa-md">{{ title }}</q-badge>
      </template>

      <template #actions> </template>
    </main-table>
  </q-dialog>
</template>

<script>
import AppointmentDetails from './AppointmentDetails'

export default {
  name: 'AppointmentsTableForCustomer',
  props: {
    // $store: {type:Object}
    clientId: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      default: () => ''
    }
  },
  components: {},
  data () {
    return {
      isLoading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        sortBy: 'clientId',
        descending: false
      },
      columns: [
        {
          name: 'clientId',
          required: true,
          format: (val, row) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#'
        },
        {
          name: 'appointmentTypeId',
          align: 'center',
          field: 'appointmentTypeId',
          label: 'Type',
          style: '',
          sortable: true
        },
        // {
        //   name: 'name',
        //   align: 'center',
        //   field: 'name',
        //   label: 'Name',
        //   sortable: true
        // },
        {
          name: 'phone',
          align: 'center',
          field: 'phone',
          label: 'Phone',
          style: 'width:25px'
        },
        {
          name: 'dueDate',
          align: 'center',
          field: 'dueDate',
          label: 'Due date',
          style: ''
        },
        { name: 'for', align: 'center', field: 'for', label: 'For', style: '' },
        {
          name: 'isConfirmed',
          align: 'center',
          field: 'isConfirmed',
          label: 'Is confirmed',
          style: ''
        },
        // {
        //   name: 'clientCode',
        //   align: 'center',
        //   field: 'clientCode',
        //   label: 'clientCode',
        //   style: ''
        // },
        {
          name: 'actions',
          align: 'center',
          field: 'action',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: []
    }
  },
  computed: {

  },
  mounted () {
    this.onRequest()
  },
  methods: {
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    },
    onHide () {
      this.$emit('hide')
    },
    getTypeName (id) {
      var str = this.$store.state.list.appointmentTypes
      var t = str.find(x => x.id === id)
      return t.name
    },
    async onRequest () {
      if (!this.clientId || this.clientId === 0) return

      this.isLoading = true
      try {
        const res = await this.$api.appointments.getByClient(this.clientId)
        let data = res.data

        this.data.splice(0, this.data.length, ...data)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id) {
      this.$q
        .dialog({
          title: 'Confirm',
          message: `Are you sure want to delete this appointment record with id = ${id}?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.appointments.delete(id)
            if (res.status === 200) {
              this.data = this.data.filter(val => val.id !== id)
              this.$toastr.success('Record was deleted')
            }
          } catch (e) {
            this.$toastr.error(e.message)
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    edit (id) {
      // console.log('preedit', this.$store.state);
      this.$q
        .dialog({
          component: AppointmentDetails,
          parent: this, // WHAYYYYYYYYY!!!!!!!!!!!!!!!
          $store: this.$store,
          clientId: this.clientId,
          id: id
        })
        .onOk(() => {
          // console.log('ok');
        })
        .onCancel(() => {
          // console.log('Cancel');
        })
        .onDismiss(() => {
          // console.log('dismiss');
        })
    },
    add () {
      this.$q
        .dialog({
          component: AppointmentDetails,
          parent: this, // WHAYYYYYYYYY!!!!!!!!!!!!!!!
          $store: this.$store,
          clientId: this.clientId,
          id: 0
        })
        .onOk(() => {
          // console.log('ok');
        })
        .onCancel(() => {
          // console.log('Cancel');
        })
        .onDismiss(() => {
          // console.log('dismiss');
        })
    }
  }
}
</script>

<style></style>
