<template>
  <full-calendar
    ref="fcalendar"
    :plugins="calendarPlugins"
    v-on="$listeners"
    defaultView="dayGridMonth"
    :weekends="true"

    :customButtons="customButtons"
    :header="header"
    :events="events"
  />

    <!-- v-bind="$attrs" FAILED, declare props instead-->

</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
export default {
  name: 'my-full-calendar',
  components: {
    FullCalendar
  },
  inheritAttrs: false,
  props:
    [
      'customButtons',
      'header',
      'events'
    ],
  data () {
    return {
      calendarPlugins: [dayGridPlugin, interactionPlugin],
      calendarApi: {}
    }
  },
  mounted () {
    this.calendarApi = this.$refs.fcalendar.getApi()

    setTimeout(() => {
      this.calendarApi.hydrate()
    }, 1000)
  },
  methods: {

  }
}
</script>

<style lang='scss'>
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
</style>
