<template>
  <q-page padding>

      <main-table
        title="App Users"
        :data="data"
        :columns="columns"
        row-key="id"
        :pagination.sync="pagination"
        :isLoading="isLoading"
        @request="onRequest"
        @create="add"
        @edit="edit"
        @delete="del"
      >
      <template #body-cell-userType="props">
        <q-td class="text-center">
          <q-badge :color="props.row.isActive ? 'primary' : 'grey'">
          {{props.row.userType && props.row.userType.name ? props.row.userType.name : ''}}
          </q-badge>
        </q-td>
      </template>

      </main-table>
  </q-page>
</template>

<script>
import { Pagination, User } from '../../models'
export default {
  name: 'Users',
  data () {
    return {
      isLoading: false,
      pagination: new Pagination('id'),
      columns: [
        {
          name: 'id',
          required: true,
          format: (val, row) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#'
        },
        {
          name: 'userName',
          align: 'left',
          field: 'userName',
          label: 'userName',
          style: 'width:35%',
          sortable: true
        },
        {
          name: 'displayName',
          align: 'left',
          field: 'displayName',
          label: 'displayName',
          style: 'width:35%',
          sortable: true
        },
        {
          name: 'roles',
          align: 'left',
          field: 'roles',
          label: 'roles',
          style: 'width:35%',
          sortable: false,
          format: (val) => val.join(', ')
        },
        {
          name: 'userType',
          align: 'left',
          field: 'userType',
          label: 'userType',
          sortable: true,
          format: (val, row) => { return val && val.name ? val.name : '' }// this.getUserTypeName(val) }
        },
        {
          name: 'actions',
          align: 'center',
          field: 'action',
          label: 'Actions',
          style: 'width:25px'
        }
      ],
      data: []
    }
  },
  computed: {

  },
  mounted () {
    this.onRequest()
  },
  methods: {
    async onRequest (props) {
      this.isLoading = true
      try {
        let pagination = (props && props.pagination) || this.pagination
        const res = await this.$api.users.get({ ...pagination })
        let data = res.data.rows.map(x => new User(x))
        this.data = data
        this.pagination.page = res.data.page
        this.pagination.rowsPerPage = res.data.rowsPerPage
        this.pagination.sortBy = res.data.sortBy
        this.pagination.descending = res.data.descending
        this.pagination.rowsNumber = res.data.rowsNumber
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
      return Promise.resolve()
    },
    del (id, row) {
      this.$q
        .dialog({
          title: 'Confirm',
          message: `Are you sure want to delete  ${row.userName.toUpperCase()} ?`,
          cancel: true,
          persistent: true,
          sanitize: false
        })
        .onOk(async () => {
          this.isLoading = true
          try {
            var res = await this.$api.users.delete(id)
            if (res.status < 300) {
              this.$toastr.success('Record was deleted')
              this.data = this.data.filter(x => x.id !== id)
            }
          } catch (e) {
            this.$toastr.error(this.$util.err(e))
          } finally {
            this.isLoading = false
          }
        })
        .onCancel(() => {})
        .onDismiss(() => {})
    },
    edit (id) {
      let user = this.data.find(x => x.id === id)
      this.$router.push({ name: 'admin.userdetails', params: { user } })
    },
    add () {
      this.$router.push('/admin/userdetails')
    }
  }
}
</script>

<style></style>
