<template>
  <q-page padding>
    <main-card title="User details">
      <div class="row q-col-gutter-sm q-pa-md">
        <q-input
          name="userName"
          label="userName"
          v-model="model.userName"
          v-validate="'required'"
          :error="errors.has('userName')"
          :error-message="errors.first('userName')"
          class="q-pa-sm col-12"
          autofocus
          dense
        />
        <q-input
          name="email"
          label="Email"
          v-model="model.email"
          v-validate="'email'"
          :error="errors.has('email')"
          :error-message="errors.first('email')"
          class="q-pa-sm col-12"
          autofocus
          dense
        />
        <q-input
          name="displayName"
          label="Display name"
          v-model="model.displayName"
          v-validate="'required|max:255'"
          :error="errors.has('displayName')"
          :error-message="errors.first('displayName')"
          class="q-pa-sm col-12"
          dense
        />
        <user-type-select
          name="userTypeId"
          v-model="model.userTypeId"
          label="User type"
          v-validate="'required'"
          :error="errors.has('userTypeId')"
          :error-message="errors.first('userTypeId')"
          class="q-pa-sm col-12"
          dense
        />

        <!-- <q-select
          name="groupIds"
          multiple
          v-model="selectedGroups"
          :options="optionsGroups"
          label="Groups"
          v-validate="'required'"
          :error="errors.has('groupIds')"
          :error-message="errors.first('groupIds')"
          class="q-pa-sm col-12"
          dense
        /> -->

        <roles-select
          name="roleIds"
          multiple
          v-model="model.roleIds"
          label="Roles"
          v-validate="'required'"
          :error="errors.has('roleIds')"
          :error-message="errors.first('roleIds')"
          class="q-pa-sm col-12"
          dense
        />

        <q-toggle
        label="Aktif"
        v-model="model.isActive"
        class="q-pa-sm col-12"
        />

        <template v-if="isCreating">
          <q-input
            type="password"
            name="password"
            ref="password"
            label="Password"
            v-model="model.password"
            v-validate="'required'"
            :error="errors.has('password')"
            :error-message="errors.first('password')"
            class="q-pa-sm col-md-6 col-sm-12"
            @keyup.enter="save"
            dense
          />
          <q-input
            type="password"
            name="confirmPassword"
            label="Confirm password"
            v-model="model.confirmPassword"
            v-validate="'required|confirmed:password'"
            :error="errors.has('confirmPassword')"
            :error-message="errors.first('confirmPassword')"
            class="q-pa-sm col-md-6 col-sm-12"
            @keyup.enter="save"
            dense
          />
        </template>
        <submit-button
          @click="save"
          class="q-ml-xs col-12 full-width"
          :isLoading="isLoading"
          style="margin-top: 20px;"
        />
      </div>

      <template #action-buttons>
        <q-btn
          v-if="!isCreating"
          rounded
          icon="fa fa-key"
          text-color="primary"
          label="Change password"
          class="q-ml-md"
          title="Back"
          size="sm"
          @click="changePasswordDialog = true"
        />
      </template>
    </main-card>

    <q-dialog v-model="changePasswordDialog" persistent>
      <q-card style="min-width: 400px">
        <q-card-section>
          <q-input
            type="password"
            name="password2"
            ref="password2"
            label="Password"
            v-model="model.password"
            v-validate="'required'"
            :error="errors.has('password2')"
            :error-message="errors.first('password2')"
            class="q-pa-sm col-md-6 col-sm-12"
            dense
            autofocus
          />
          <q-input
            type="password"
            name="confirmPassword2"
            label="Confirm password"
            v-model="model.confirmPassword"
            v-validate="'required|confirmed:password2'"
            :error="errors.has('confirmPassword2')"
            :error-message="errors.first('confirmPassword2')"
            class="q-pa-sm col-md-6 col-sm-12"
            dense
            @keydown.enter="saveNewPassword"
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary col-4">
          <q-btn flat label="Cancel" v-close-popup />
          <submit-button
            @click="saveNewPassword()"
            class="q-ml-xs col-8 full-width"
            :isLoading="isLoading"
            style="margin-top: 20px;"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { User } from '../../models'

export default {
  name: 'UserDetail',
  props: {
    id: {
      type: String,
      default: () => undefined
    },
    user: {
      type: User,
      default: () => new User()
    }
  },
  data () {
    return {
      isLoading: false,
      model: new User(this.user),
      changePasswordDialog: false
    }
  },
  computed: {
    isCreating () {
      return !(this.model.id !== '' && this.model.id !== undefined)
    }
  },
  mounted () {
    if (this.id && this.id.length && this.id.trim().length > 0) { this.onRequest() }
  },
  methods: {
    async onRequest () {
      if (this.isLoading) return
      this.isLoading = true
      try {
        var res = await this.$api.users.getOne(this.id)
        this.model = new User(res.data)
        console.log(this.model)
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }

      this.isLoading = false
    },
    async save () {
      await this.$validator.validateAll()
      if (this.errors.any() || this.errors.items.length > 0) {
        this.$toastr.error('Please fix all error(s)')
        return
      }

      try {
        this.isLoading = true
        var res = await (this.isCreating
          ? this.$api.users.post(this.model)
          : this.$api.users.put(this.model.id, this.model))
        if (res.status < 300) {
          this.$toastr.success('Success updating data')
          this.$router.back()
        } else {
          this.$toastr.error('Something goes wrong')
        }
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      } finally {
        this.isLoading = false
      }
    },
    async saveNewPassword () {
      await this.$validator.validateAll()
      if (this.errors.any() || this.errors.items.length > 0) {
        this.$toastr.error('Please fix all error(s)')
        return
      }

      try {
        this.isLoading = true
        var res = await this.$api.users.changePassword(this.model)

        if (res.status < 300) {
          this.$toastr.success('Success updating password')
          this.changePasswordDialog = false
        } else {
          this.$toastr.error('Something goes wrong while updating password')
        }
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style></style>
