<template>
  <q-select
    use-input
    v-bind="$attrs"
    input-debounce="500"
    v-model="selected"
    :options="data"
    :loading="isLoading"
    @filter="filterFn"
    @input="inputFn"
    clearable
  />
</template>

<script>
import { Client } from '../../models'

export default {
  name: 'customer-select',
  inheritAttrs: false,
  props: {
    value: {
      type: String,
      required: false,
      default: () => undefined
    },
    immediate: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      data: [],
      originalData: [],
      selected: undefined,
      isLoading: false
    }
  },
  mounted () {
    // this.onRequest(this.value);
  },
  watch: {
    async value (val) {
      await this.onRequest(val)
    },
    selectedOffice () {
      this.onRequest()
    }
  },
  computed: {
    selectedOffice () {
      return this.$store.state.auth.selectedOffice
    }
  },
  methods: {
    async onRequest (filter) {
      this.isLoading = true
      try {
        const res = await this.$api.selectDatas.customers(filter)
        let data = res.data
        if (Array.isArray(data)) {
          data = data.map(x => new Client(x))
          this.data.splice(0, this.data.length, ...data)

          if (this.value) {
            this.selected = this.data.find(x => x.value === this.value) || {}
            if (this.immediate && this.selected !== {}) {
              this.inputFn(this.selected)
            }
          }
        }
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    },
    inputFn (val) {
      this.$emit('selected', val)
      this.$emit('input', val.value)
    },
    filterFn (val, update) {
      update(() => {
        this.onRequest(val)
      })
    }
  }
}
</script>

<style></style>
