<template>
  <q-input
    :label="label"
    :value="$util.formatDate(myValue, 'YYYY/MM/DD')"
    mask="date"
    :rules="['date']"
    :error="error"
    :error-message="errorMessage"
    @blur="blurHandler"
    :outlined="outlined"
    readonly
    :disable="disable"
    v-bind="$attrs"
    @click.stop="$refs.qDateProxy.show"
  >
    <template #append>
      <q-icon name="fa fa-calendar-alt" :class="{'cursor-pointer': !disable, 'cursor-not-allowed': disable}">
        <q-popup-proxy
          ref="qDateProxy"
          transition-show="scale"
          transition-hide="scale"
          v-if="!disable"
        >
          <q-date
            v-model="myValue"
            @input="updateValue"
            :options="options || calendarOptions"
          />
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script>
export default {
  name: 'date-input',
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => ''
    },
    name: {
      type: String,
      default: () => ''
    },
    value: {
      type: [Date, String, Number],
      default: () => null
    },
    maxToday: {
      type: Boolean,
      default: () => true
    },
    error: {
      type: Boolean,
      required: false
    },
    errorMessage: {
      type: String,
      required: false
    },
    outlined: {
      type: Boolean,
      default: () => false
    },
    disable: {
      type: Boolean,
      default: () => false
    },

    options: {
      type: [Array, Function],
      default: undefined
    }
  },
  data () {
    return {
      myValue: this.value
    }
  },
  computed: {

  },
  watch: {
    value (val) {
      this.myValue = val
    }
  },
  methods: {
    calendarOptions (val) {
      if (!this.maxToday) {
        return true
      }
      let cd = this.$util.formatDate(new Date(), 'YYYY/MM/DD')
      return val <= cd
    },
    blurHandler (val) {
      if (isNaN(new Date(val)) || val.length !== 8) {
        this.myValue = ''
        return
      }
      this.updateValue(val)
    },
    updateValue (val) {
      this.myValue = new Date(val)
      this.$refs.qDateProxy.hide()
      this.$emit('input', new Date(val))
    }
  }
}
</script>

<style>
</style>
