<template>
  <q-select
          :options="selectData"
          option-value="name"
          option-label="name"
          v-model="selected"
          :loading="isLoading"
          input-debounce="500"
          v-bind="$attrs"
          clearable
        />
</template>

<script>
export default {
  name: 'InsentiveModelSelect',
  inheritAttrs: false,
  props: {
    value: {
      type: Number,
      default: () => undefined
    }
  },
  data () {
    return {
      isLoading: false,
      selectData: []
    }
  },
  computed: {
    selected: {
      get () {
        return this.selectData.length ? this.selectData.find(x => x.id === this.value) : {}
      },
      set (val) {
        if (val && val.id) {
          this.$emit('input', val.id)
          this.$emit('selectedChanged', val)
        } else {
          this.$emit('input', undefined)
          this.$emit('selectedChanged', {})
        }
      }
    }
  },
  methods: {
    async fetchSelectData () {
      if (this.isLoading) {
        return
      }
      this.isLoading = true
      try {
        var res = await this.$api.selectDatas.insentiveModels()
        this.selectData = res.data
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
    }
  },
  mounted () {
    this.fetchSelectData()
  }
}
</script>
