<template>
  <q-card>
    <q-table
      dense
      flat
      :title="title"
      row-key="key"
      :data="data"
      :columns="columns"
      :isLoading="isLoading"
      :bordered="false"
      :pagination.sync="pagination"
      @request="onRequest"
    >
      <template #top>
        <slot name="title">
          <div class="col-sm-12 col-md-6 q-table__title q-table__title">
            {{ title }}
          </div>
        </slot>

        <q-space />
        <q-btn
          dense
          class="glossy q-ml-md"
          icon="fa fa-sync-alt"
          title="Refresh"
          color="positive"
          size="xs"
          @click="onRequest"
        />
      </template>
      <template #body="props">
        <q-tr
          :props="props"
          class="cursor-pointer"
          :class="{ selected: props.row.key === selectedRow.key }"
          @click.native="rowClickHandler(props)"
        >
          <q-td key="key" :props="props" :style="qtdStyle">
            {{ props.row.value }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-card-actions>
      <slot name="bottom"> </slot>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: 'KeyValueTable',
  props: {
    title: {
      type: String,
      default: () => ''
    },
    url: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      isLoading: false,
      filter: '',
      selectedRow: {},
      pagination: {
        page: 1,
        rowsPerPage: 5,
        sortBy: 'key',
        descending: true,
        rowsNumber: 10
      },
      columns: [
        {
          name: 'key',
          align: 'left',
          field: 'key',
          label: this.label || 'Label',
          style: 'width:100%',
          sortable: true
        }
      ],
      data: []
    }
  },
  async mounted () {
    this.onRequest()
  },
  watch: {
    selectedRow (newVal) {
      this.$emit('selected-row-change', newVal)
    },
    selectedOffice () {
      this.onRequest()
    }
  },
  computed: {
    selectedOffice () {
      return this.$store.state.auth.selectedOffice
    },
    qtdStyle () {
      return {
        padding: '4px!important'
      }
    }
  },
  methods: {
    rowClickHandler (props) {
      this.selectedRow = props.row
    },
    async onRequest (props) {
      this.isLoading = true
      try {
        let { page, rowsPerPage, sortBy, descending, filter } =
          (props && props.pagination) || this.pagination
        const res = await this.$axios.get(this.url, {
          params: {
            page,
            rowsPerPage,
            sortBy,
            descending,
            filter,
            date: this.date || 'null'
          },
          headers: {
            'X-Branche-Token': this.$store.state.auth.selectedOffice.value
          }
        })
        let data = res.data
        this.data = Object.assign([], data.rows)

        this.pagination.page = data.page
        this.pagination.rowsPerPage = data.rowsPerPage
        this.pagination.sortBy = data.sortBy
        this.pagination.descending = data.descending
        this.pagination.rowsNumber = data.rowsNumber

        if (this.selectedRow && !this.selectedRow.key) {
          this.selectedRow = this.data[0]
        }
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    }
  }
}
</script>

<style lang="stylus" scoped>
tr.selected td
  background-color: #eae8e8;
</style>
