<template>
  <q-card  class="flex-center text-center">
      <q-spinner size="xl" color="primary" />
  </q-card>
</template>

<script>
export default {
  name: 'MainLoader',
  data () {
    return {}
  }
}
</script>
