<template>
  <div class="full-width q-mb-xs" style="min-height:60px;">
    <q-card-section title key="header" class="text-italic text-grey row">
        <q-btn v-if="showBackButton" flat icon="fa fa-arrow-left" text-color="secondary" style="margin-right:0;" class="" title="Back" size="xs" @click="$router.go(-1)"/>
      <slot name="header">
          <span class="text-bold"> {{ title }}</span>
      </slot>
    </q-card-section>
    </div>

</template>

<script>
export default {
  name: 'main-title-banner',
  props: {
    title: {
      type: String,
      default: () => 'Page title'
    },
    showBackButton: {
      type: Boolean,
      default: () => true
    }
  },
  data () {
    return {}
  }
}
</script>

<style>
</style>
