<template>
<div  class="full-width full-height q-pa-sm">
  <q-card class="full-width full-height">
    <template v-if="withHeader">
    <q-card-section title key="header" class="text-italic text-grey no-padding">
      <q-toolbar color="white"
          background-color="primary"
          style=""
          class="full-width"
          >
      <slot name="header">
          <q-btn flat icon="fa fa-arrow-left" text-color="secondary" style="margin-right:0;" class="" title="Back" size="xs" @click="backToClick"/>
              <!-- <span class="text-italic text-bold text-primary">  </span> -->
          <q-toolbar-title style="padding-left: 0;font-size:1.2em;" class="text-primary">
            {{title}}
          </q-toolbar-title>
        <!-- <q-chip outline square color="primary" text-color="white">
          {{title}}
        </q-chip> -->
      </slot>
      <q-space class="gt-xs" />
      <slot name="action-buttons">
      </slot>
      </q-toolbar>
    </q-card-section>
    <q-separator/>
    </template>
    <q-card-section class="" key="content">
    <slot name="validation-summary-container">
        <validation-summary :error-messages="globalErrors"/>
    </slot>
      <slot>
      </slot>
    </q-card-section>
  </q-card>
</div>
</template>

<script>
export default {
  name: 'MainCard',
  props: {
    title: {
      type: String,
      default: () => 'Your title'
    },
    withHeader: {
      type: Boolean,
      default: () => true
    },
    backTo: {
      type: String,
      default: () => undefined
    }
  },
  data () {
    return {

    }
  },
  methods: {
    backToClick () {
      if (this.backTo) {
        this.$router.replace(this.backTo)
      } else {
        this.$router.go(-1)
      }
    }
  },
  computed: {
    globalErrors () {
      return this.$store.state && this.$store.state.errors ? this.$store.state.errors : ''
    }
  },
  mounted () {

  }
}
</script>

<style>
</style>
