<template>
  <q-table
    :title="title"
    :data="data"
    :columns="columns"
    :row-key="rowKey"
    :filter="filter"
    :pagination.sync="paginationData"
    :loading="isLoading"
    @request="onRequest"
    class="full-width"
    :selected.sync="selectedModel"
    v-bind="$attrs"
    table-header-class="bg-primary text-white"
  >
    <template #top>
      <slot name="title">
        <div class="col-sm-12 col-md-6 q-table__title q-table__title">
          {{ title }}
          <p v-if="subtitle && subtitle.length" class="text-secondary text-italic" style="font-size:1em"> {{subtitle}}</p>
        </div>
      </slot>

      <q-space />
      <slot name="actions"> </slot>
      <slot name="add-button">
        <q-btn
          round
          icon="fa fa-plus"
          title="Add"
          color="primary"
          size="sm"
          :disable="isLoading"
          class="q-mx-sm "
          @click="add"
        />
      </slot>
      <q-input
        dense
        debounce="1000"
        v-model="filter"
        :placeholder="searchPlaceHolder"
        clearable
      >
        <template v-slot:append>
          <q-icon name="fa fa-search" />
        </template>
      </q-input>
      <q-btn
        dense
        class="glossy q-ml-md"
        icon="fa fa-sync-alt"
        title="Refresh"
        color="primary"
        size="xs"
        :disable="isLoading"
        @click="onRequest"
      />
    </template>

    <q-td slot="body-cell-actions" class="text-right" slot-scope="scope">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          round
          icon="fa fa-pencil-alt"
          title="Edit"
          text-color="primary"
          size="sm"
          :disable="isLoading"
          @click="edit(scope.row[rowKey], scope.row)"
        />
        <q-btn
          round
          icon="fa fa-trash-alt"
          title="Delete"
          text-color="red"
          size="sm"
          :disable="isLoading"
          @click="del(scope.row[rowKey], scope.row)"
        />
      </div>
    </q-td>

    <!-- pass through scoped slots -->
    <template
      v-for="(_, scopedSlotName) in $scopedSlots"
      v-slot:[scopedSlotName]="slotData"
    >
      <slot :name="scopedSlotName" v-bind="slotData" />
    </template>

    <!-- pass through normal slots -->
    <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
      <slot :name="slotName" />
    </template>
  </q-table>
</template>

<script>
import { Pagination } from '../../models'

/// supply actions  to generate action buttons (Delete and Edit)
export default {
  name: 'MainTable',
  inheritAttrs: false,
  props: {
    title: {
      required: true,
      type: String
    },
    searchPlaceHolder: {
      type: String,
      default: () => 'Search...'
    },
    subtitle: {
      required: false,
      default: () => ''
    },
    rowKey: {
      type: String,
      required: true
    },
    data: {
      type: Array,
      required: true
    },
    columns: {
      type: Array,
      required: true
    },
    pagination: {
      type: Object,
      required: false
    },
    isLoading: {
      type: Boolean,
      default: () => false
    },
    selected: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      firstLoad: true,
      filter: undefined,
      paginationData: new Pagination('id'),
      selectedModel: this.selected
    }
  },
  computed: {},
  methods: {
    onRequest (params) {
      if (!params || !params.pagination) {
        params = params || {}
        params.pagination = Object.assign({}, this.paginationData)
      }
      params.pagination.filter = this.filter
      this.$emit('request', params)
    },
    add () {
      this.$emit('create')
    },
    edit (id, row) {
      this.$emit('edit', id, row)
    },
    del (id, row) {
      this.$emit('delete', id, row)
    }
  },
  mounted () {
    this.paginationData = this.pagination || undefined
  },
  watch: {
    paginationData () {
      // console.log('paginationData', this.paginationData)
      this.$emit('update:pagination', this.paginationData)
    },
    selectedModel () {
      this.$emit('update:selected', this.selectedModel)
    }
  }
}
</script>

<style></style>
