<template>
   <q-field v-bind="$attrs" v-model="model">
  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
    <money :id="id" class="q-field__input text-right" :value="value" @input="emitValue" />
  </template>
  <template v-if="percentToggle" #after>
    <q-btn-toggle no-caps :options="toggleOptions" v-model="toggleModel" />
  </template>
</q-field>
</template>

<script>
export default {
  name: 'money-field',
  inheritAttrs: false,
  props: {
    value: {
      type: [String, Number],
      required: true
    },
    percentToggle: {
      type: Boolean,
      default: false
    },
    valuePercent: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      toggleOptions: [
        { label: '%', value: true },
        { label: 'Rp', value: false }
      ]
    }
  },
  methods: {
  },
  computed: {
    toggleModel: {
      get () { return this.valuePercent },
      set (val) { this.$emit('update:value-percent', val) }
    },
    model: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    }
  }
}
</script>
