<template>
  <q-circular-progress size="lg" color="primary" indeterminate>
            Please wait
          </q-circular-progress>
</template>

<script>
export default {
  name: 'my-loader',
  data () {
    return {}
  }
}
</script>
