<template>
  <q-select
    v-model="selected"
    :options="data"
    :loading="isLoading"
    @input="inputFn"
    v-bind="$attrs"
    @click.stop
  />
</template>

<script>
export default {
  name: 'patient-select',
  inheritAttrs: false,
  props: {
    value: {
      type: Number,
      default: () => 0
    },
    clientId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      data: [],
      originalData: [],
      selected: {},
      isLoading: false
    }
  },
  async mounted () {
    await this.onRequest()
  },
  updated () {
    if (this.value !== undefined && this.value !== '') {
      var model = this.data.find(x => x.value === this.value)
      this.selected = model
    }
  },
  computed: {
  },
  methods: {
    async onRequest () {
      this.isLoading = true
      try {
        const res = await this.$api.patients.getSelectDataByClient(this.clientId)
        let data = res.data
        if (Array.isArray(data)) {
          // console.log('data', data)
          data = data.map(x => ({
            value: x.id,
            label: x.animalType.code + ' ' + x.name,
            id: x.id,
            animalType: x.animalType
          }))

          this.data.splice(0, this.data.length, ...data)
          this.originalData.splice(0, this.originalData.length, ...data)
        }
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    },
    inputFn (val) {
      this.$emit('input', val.value)
    }
  }
}
</script>

<style></style>
