<template>
  <q-select
    multiple
    v-model="selected"
    :options="data"
    :loading="isLoading"
    @input="inputFn"
    v-bind="$attrs"
    @click.stop
  />
</template>

<script>
export default {
  name: 'RoleSelect',
  inheritAttrs: false,
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      data: [],
      originalData: [],
      selected: this.value,
      isLoading: false
    }
  },
  async mounted () {
    await this.onRequest()
  },
  computed: {
  },
  watch: {
    value (val) {
      this.selected = this.data.filter(x => val.indexOf(x.value) > -1)
    }
  },
  methods: {
    async onRequest () {
      this.isLoading = true
      try {
        const res = await this.$api.roles.get()
        let data = res.data
        if (Array.isArray(data)) {
          this.data = data.map(x => ({
            value: x.id,
            label: x.name,
            id: x.id
          }))
          this.originalData.splice(0, this.originalData.length, ...data)

          this.selected = this.data.filter(x => this.value.indexOf(x.value) > -1)
        }
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    },
    inputFn (val) {
      this.$emit('input', val.map(x => x.value))
    }
  }
}
</script>

<style></style>
