<template>
  <q-select
          :options="unitSelectData"
          v-model="selectedUnit"
          :loading="isLoading"
          v-bind="$attrs"
          clearable
        />
</template>

<script>
export default {
  name: 'UnitSelect',
  inheritAttrs: false,
  props: {
    value: {
      type: Number,
      default: () => undefined
    }
  },
  data () {
    return {
      isLoading: false,
      unitSelectData: []
    }
  },
  computed: {
    selectedUnit: {
      get () {
        return this.unitSelectData.length ? this.unitSelectData.find(x => x.value === this.value) : {}
      },
      set (val) {
        if (val && val.value) {
          this.$emit('input', val.value)
          this.$emit('selectedChanged', val)
        } else {
          this.$emit('input', undefined)
          this.$emit('selectedChanged', {})
        }
      }
    }
  },
  methods: {
    async fetchUnitSelectData (val) {
      if ((!val || !val.length) && this.value < 0) {
        return
      }
      if (this.isLoading) {
        return
      }
      this.isLoading = true
      try {
        var res = await this.$api.units.get()
        this.unitSelectData = res.data.map(x => ({ id: x.id, value: x.id, label: x.code }))
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
    }
  },
  mounted () {
    this.fetchUnitSelectData()
  }
}
</script>
