<template>
  <q-select
    v-model="selected"
    :options="data"
    :loading="isLoading"
    @input="inputFn"
    :outlined="outlined"
    v-bind="$attrs"
  />
</template>

<script>
export default {
  name: 'user-select',
  inheritAttrs: false,
  props: {
    vetsOnly: {
      type: Boolean,
      default: () => false
    },
    userTypeId: {
      type: Number,
      default: () => undefined
    },
    outlined: {
      type: Boolean,
      default: () => false
    },
    value: {
      type: String,
      default: () => ''
    }
  },
  data () {
    return {
      data: [],
      originalData: [],
      selected: {},
      isLoading: false
    }
  },
  async mounted () {
    await this.onRequest()
  },
  // watch: {
  //   value(newVal){
  //     if(newVal !== undefined && newVal !== ''){
  //       var model = this.data.find(x => x.value === this.value);
  //       this.selected = model;
  //     }
  //   }
  // },
  updated () {
    if (this.value !== undefined && this.value !== '') {
      var model = this.data.find(x => x.value === this.value)
      this.selected = model
    }
  },
  computed: {
  },
  methods: {
    async onRequest () {
      this.isLoading = true
      try {
        const res = this.vetsOnly ? await this.$api.selectDatas.vets() : await this.$api.selectDatas.users({ userTypeId: this.userTypeId })
        let data = res.data
        if (Array.isArray(data)) {
          data = data.map(x => ({
            value: x.id,
            label: this.vetsOnly
              ? `${x.displayName}`
              : `${
                x.displayName
              } <div class="q-badge flex inline items-center no-wrap q-badge--single-line" style="vertical-align: top;">${
                x.userType
              }</div>`,
            sanitize: false
          }))

          this.data.splice(0, this.data.length, ...data)
          this.originalData.splice(0, this.originalData.length, ...data)
        }
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
    },
    inputFn (val) {
      this.$emit('input', val.value)
    }
  }
}
</script>

<style></style>
