<template>
<transition appear
  enter-active-class="animated bounceIn slower"
  leave-active-class="animated fadeOut slower">
  <div v-show="errorMessages.length > 0" class="q-my-sm">
    <q-banner class="text-white bg-red">
      <template v-slot:avatar>
        <q-icon name="fa fa-exclamation-triangle" color="white" />
      </template>
      <ul class="text-left text-italic" style="list-style: none;padding-left:0;">
        <li v-for="error in uniqueeErrors" :key="error">
          {{ error }}
        </li>
      </ul>
    </q-banner>
  </div>
</transition>
</template>

<script>
export default {
  props: {
    errorMessages: {
      type: [Array, String],
      required: false,
      default: () => []
    }
  },
  computed: {
    uniqueeErrors () {
      let err = this.errorMessages.filter ? this.errorMessages.filter((val, ix, arr) => arr.indexOf(val) === ix) : [this.errorMessages.filter]
      if (err.length > 0 && Array.isArray(err[0])) {
        err = err.map((val) => val[1] || val[0])
      }
      // console.log(err)
      return err
    }
  },
  mounted () {
    // console.log(1, this.errorMessages.length)
  }
}
</script>
