<template>
  <q-dialog
    v-model="model"
    maximized
    >
   <q-card style="max-height:100vh row;flex-direction:column; display:flex">
      <q-toolbar class="bg-primary text-white">
        <q-btn flat icon="fa fa-arrow-left"  @click="model = false"/>
        <q-input debounce="500" clearable standout dark v-model="search" dense class="full-width" placeholder="Cari klien" @input="fetchItems" :loading="isLoading" autofocus>
          <template #append>
            <q-icon name="fa fa-search"/>
          </template>
        </q-input>
      </q-toolbar>
      <q-card-section>
        <template v-if="clientModel.id !== 0">
          Selected: {{clientModel.code}} -- {{clientModel.name}}
        </template>
        <q-list>
          <div v-for="item in data" :key="item.id" >
          <q-item dense>
            <q-item-section title>
              <q-item-label class="text-bold">
                {{ item.code }} - {{ item.name }}
              </q-item-label>
            </q-item-section>
            <q-item-section side>
             <q-btn size="sm" color="secondary" label="Pilih" @click="pickItem(item)" />
            </q-item-section>
          </q-item>
            <q-separator />
          </div>
        </q-list>
      </q-card-section>
   </q-card>

  </q-dialog>
</template>

<script>
import { Client } from '../../models'
export default {
  name: 'add-client-in-receipt-dialog',
  props: {
    value: {
      type: Boolean,
      default: () => false
    },
    client: {
      type: Client,
      default: () => new Client()
    }
  },
  data () {
    return {
      search: '',
      data: [],
      clientModel: this.client,
      isLoading: false
    }
  },
  computed: {
    model: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    }
  },
  watch: {
    client (val) {
      this.clientModel = new Client(val)
    }
  },
  methods: {
    async fetchItems () {
      if (this.isLoading) return
      this.isLoading = true
      try {
        var res = await this.$api.clients.get({ filter: this.search, rowsPerPage: 10 })
        this.data = res.data.rows.map(x => new Client(x))
      } catch (e) {
        this.$toastr.error('Gagal mendapatkan data')
      }
      this.isLoading = false
    },
    pickItem (item) {
      this.$emit('update:client', new Client(item))
      this.model = false
    }
  }
}
</script>
