<template>
  <q-dialog v-model="model">
    <q-card>
      <q-toolbar>
        <q-toolbar-title>
          Tambah klien deposit
        </q-toolbar-title>
      </q-toolbar>
      <q-card-section>
      <q-form @submit="onSubmit">
        <customer-select autofocus v-model="depositModel.clientId"  name="clientId" v-validate="'required'" :error="errors.has('clientId')" :error-message="errors.first('clientId')" />
         <money-field
            label="Masuk"
            v-model="depositModel.credit"
            name="credit"
            v-validate="'required|min:0'"
            :error="errors.has('credit')"
            :error-message="errors.first('credit')"
          />
         <money-field
            label="Keluar"
            v-model="depositModel.debit"
            name="debit"
            v-validate="'required|min:0'"
            :error="errors.has('debit')"
            :error-message="errors.first('debit')"
          />

        <q-input v-model="depositModel.note" label="Keterangan" name="note" v-validate="'required'" :error="errors.has('note')" :error-message="errors.first('note')" />
        <submit-button :loading="isLoading" @submit="onSubmit" />
      </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { DepositTransaction } from '../../models'
export default {
  name: 'AddDepositDialog',
  props: {
    value: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      depositModel: new DepositTransaction(),
      isLoading: false
    }
  },
  computed: {
    model: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    }
  },
  methods: {
    async onSubmit () {
      if (this.isLoading) { return }
      this.isLoading = true
      await this.$validator.validateAll()
      if (this.errors.any()) {
        this.$toastr.error('Mohon pastikan semua data terisi')
        this.isLoading = false
      } else {
        try {
          var res = await this.$api.deposits.post(this.depositModel)
          this.$toastr.success('Berhasil menambah deposit')
          this.$emit('added', new DepositTransaction(res.data))
          this.depositModel = new DepositTransaction()
          this.model = false
        } catch (e) {
          this.$toastr.error(this.$util.err(e))
        }
        this.isLoading = false
      }
    }
  }
}
</script>
