<template>
  <div class="full-width">
    <q-toolbar class="bg-primary text-white">
      <q-toolbar-title class="text-bold">
        Struk
      </q-toolbar-title>
      <q-space />
       <q-btn
              v-if="model.client && model.client.id !== 0 && $refs.iuDialog && $refs.iuDialog.hasToday"
              rounded
              icon="fa fa-boxes"
              size="sm"
              color="white"
              text-color="primary"
              @click.stop="inventoryUseDialog = true"
              class="q-mr-sm"
              title="Rekam medik"
            />
      <q-spinner class="q-mr-md" size="md" v-else-if="$refs.iuDialog && $refs.iuDialog.isLoading" />
      <q-btn
          rounded
          size="sm"
          no-caps
          :label="clientButtonLabel"
          class="bg-white text-primary q-mr-md"
          @click="addClientDialog = true"
        />
      <q-btn v-show="hasItem" rounded icon="fa fa-times" color="white" text-color="negative" size="sm" label="Clear" @click="clearItems" />
      <q-btn rounded icon="fa fa-plus" color="white" text-color="positive" size="sm" label="Item" @click="searchDialogOpen = true" />
    </q-toolbar>
    <div class="col flex-center">
    <q-card class="bg-primary text-white " style="opacity:.8">
      <q-card-section class="text-center" style="font-size:2em">
        {{ grossTotal | money }}
      </q-card-section>
    </q-card>
    <SalesLineList v-model="model.salesLines" :clientId="model.clientId"  style="margin-bottom: 15px;" />
    <div
      v-show="hasItem"
      class="full-width q-px-sm"
      style="position:absolute;bottom:0;left:0"
    >
      <q-btn-group class="full-width no-shadow">
        <q-btn
          label="Pembayaran"
          class="full-width"
          color="primary"
          @click="openPaymentDialog"
        />
      </q-btn-group>
    </div>
    </div>
    <PaymentDialog v-model="paymentDialogOpen" :sales="model" @sales-saved="salesSaved" />
    <SearchItemDialog v-model="searchDialogOpen" :search="search" @item-picked="itemPicked" />
    <AddClientInReceiptDialog
      v-model="addClientDialog"
      :client="model.client" @update:client="clientUpdated"
    />
    <InventoryUseForMedicalDialog ref="iuDialog" v-if="model.client && model.client.id !== 0" :clientId="model.client.id"  v-model="inventoryUseDialog"/>
  </div>
</template>

<script>
import { Sales, SalesLine, Client } from '../../models'

import SalesLineList from '../../components/sales/SalesLineList'
import PaymentDialog from '../../components/sales/PaymentDialog'
import SearchItemDialog from '../../components/sales/SearchItemDialog'
import AddClientInReceiptDialog from './AddClientInReceiptDialog'
import InventoryUseForMedicalDialog from './InventoryUseForMedicalDialog'
export default {
  name: 'AddSales',
  props: {
    value: {
      type: Object,
      default: () => new Sales()
    }
  },
  data () {
    return {
      model: this.value,
      paymentDialogOpen: false,
      searchDialogOpen: false,
      addClientDialog: false,
      inventoryUseDialog: false,
      search: ''
    }
  },
  components: {
    SalesLineList,
    PaymentDialog,
    SearchItemDialog,
    AddClientInReceiptDialog,
    InventoryUseForMedicalDialog
  },
  watch: {
    value (val) {
      if (Array.isArray(val.salesLines)) {
        val.salesLines = val.salesLines.map(x => new SalesLine(x))
      }
    }
    // 'model.client.id' (nval) {
    //   console.log('nval', nval)
    //   this.model.clientId = nval
    // }
  },
  methods: {
    clientUpdated (client) {
      if (client && client !== null) {
        // console.log('client', client.id, client, this.model.clientId)
        // this.model = Object.assign({}, this.model, { client: new Client(client) })
        this.model.client = new Client(client)
        this.model.clientId = client.id
      } else {
        this.model.client = undefined
        this.model.clientId = undefined
      }

      this.clearItems()
      // console.log('client', client.id, client, this.model.clientId)
    },
    openPaymentDialog () {
      this.$set(this.model, 'subTotal', this.grossTotal)
      // this.$set(this.model, 'totalItem', this.totalItem)
      this.model.salesLines = this.model.salesLines.map(x => new SalesLine(x))
      this.paymentDialogOpen = true
    },
    itemPicked (val) {
      // console.log(this.model.salesLines)
      this.model.salesLines.push(new SalesLine(val))
    },
    clearItems () {
      this.model.salesLines = []
    },
    clearAll () {
      this.model = new Sales()
    },
    salesSaved (model) {
      this.$toastr.success('Transaksi tersimpan')
      this.$emit('sales-saved', model)
      this.clearAll()
    }
  },
  computed: {
    grossTotal () {
      return this.model.salesLines.reduce((a, b, i, arr) => {
        return a + b.totalPrice
      }, 0)
    },
    totalItem () {
      return this.model.salesLines.reduce((a, b, i, arr) => {
        return a + b.qty
      }, 0)
    },
    edcTypes () {
      return this.$store.state.list.edcTypes
    },
    hasItem () {
      return this.model.salesLines.length > 0
    },
    clientButtonLabel () {
      let m = this.model.client
      if (!m || m === null || !m.id || m.id === 0) {
        return 'Pembeli'
      }
      return this.model.client.code + ' - ' + this.model.client.name
    }
  }
}
</script>
