<template>
  <div>
    <!-- <q-card-section title class="text-h6" style="padding-bottom:0">
      <q-toolbar>
        <q-toolbar-title>
          Deposit hari ini
        </q-toolbar-title>
        <q-btn size="sm" icon="fa fa-plus" :disable="isLoading" @click="addDialog = true" />
      </q-toolbar>
    </q-card-section> -->
    <q-card-section class="q-pt-xs"  style="padding-top:0">
      <q-list>
        <q-card v-if="isLoading" class="text-center">
          <my-loader />
        </q-card>
        <q-card v-else-if="!hasItem">
          <q-card-section>
            Belum ada deposit
          </q-card-section>
        </q-card>

        <template v-else>
          <q-table
            title=""
            :data="data"
            :columns="columns"
            row-key="id"
            :pagination.sync="pagination"
            :isLoading="isLoading"
            @request="onRequest"
          >
            <template #header>
              <tr class="bg-primary text-white">
                <td>
                  #
                </td>
                <td>
                  Struk
                </td>
                <td>
                  Nama klien
                </td>
                <td class="text-negative">
                  Masuk
                </td>
                <td>
                  Keluar
                </td>
                 <td>
                  Note
                </td>
                <td>
                  Actions
                </td>
              </tr>
            </template>
            <template #body="scoped">
              <tr>
                <td>
                  {{ data.indexOf(scoped.row) + 1 }}
                </td>
                <td>
                  {{ scoped.row.depositCode }}
                </td>
                <td>
                  {{ scoped.row.clientName }}
                </td>
                <td class="text-negative">
                  {{ scoped.row.credit | money }}
                </td>
                <td>
                  {{ scoped.row.debit | money }}
                </td>
                <td>
                  {{ scoped.row.note}}
                </td>
                <td>
                  <q-btn icon="fa fa-print" size="sm" round text-color="primary" title="print" @click="printDeposit(scoped.row.id, scoped.row)" />
                </td>
              </tr>
            </template>
            <template #bottom-row>
              <tr class="bg-secondary text-white">
                <td colspan="3" class="text-center">
                  TOTAL
                </td>
                <td>
                  {{ data.reduce((a,b)=> a + b.credit,0) | money }}
                </td>
                <td>
                  {{ data.reduce((a,b)=> a + b.debit,0) | money }}
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
            </template>
          </q-table>
        </template>
      </q-list>
    </q-card-section>
       <PrintDepositDialog v-model="printDepositDialog" :depositTransaction="selectedDeposit" />
  </div>
</template>

<script>
import { DepositTransaction, Pagination } from '../../models'

import PrintDepositDialog from './PrintDepositDialog'
export default {
  name: 'DepositTodayList',
  components: {
    PrintDepositDialog
  },
  data () {
    return {
      filter: undefined,
      isLoading: false,
      addDialog: false,
      columns: [
        {
          name: 'id',
          required: true,
          format: (val, row) => this.data.indexOf(row) + 1,
          style: 'width: 25px',
          label: '#'
        },
        {
          name: 'depositCode',
          align: 'left',
          field: 'depositCode',
          label: 'Struk',
          style: 'width:50px',
          sortable: true
        },
        {
          name: 'clientName',
          align: 'left',
          field: 'clientName',
          label: 'Nama Client',
          sortable: true,
          format: (val, row) => val
        },
        {
          name: 'credit',
          align: 'right',
          field: 'credit',
          label: 'kredit',
          sortable: true
        },
        {
          name: 'debit',
          align: 'right',
          field: 'debit',
          label: 'Debit'
        },
        {
          name: 'note',
          align: 'left',
          field: 'note',
          label: 'Note',
          sortable: true
        }
      ],
      data: [],
      selectedDeposit: undefined,
      printDepositDialog: false,
      pagination: new Pagination('receiptCode', { descending: true })
    }
  },
  mounted () {
    this.onRequest()
  },
  watch: {
    data (val) {
      this.$emit('input', val)
    }
  },
  computed: {
    hasItem () {
      return this.data.length
    }
  },
  methods: {
    async search (filter) {
      this.filter = filter
      this.pagination.filter = filter
      await this.onRequest()
    },
    async onRequest (props) {
      this.isLoading = true
      try {
        let pagination = (props && props.pagination) || this.pagination
        const res = await this.$api.deposits.get(pagination)

        let data = res.data
        let clients = data.rows.map(x => new DepositTransaction(x))
        this.pagination.page = data.page
        this.pagination.rowsPerPage = data.rowsPerPage
        this.pagination.sortBy = data.sortBy
        this.pagination.descending = data.descending
        this.pagination.rowsNumber = data.rowsNumber

        this.data.splice(0, this.data.length, ...clients)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    printDeposit (id, row) {
      this.selectedDeposit = row
      // this.printDepositDialog = true
      this.$router.push({ name: 'printDeposit', params: { depositTransaction: this.selectedDeposit } })
    }
  }
}
</script>
