<template>
  <q-dialog
    v-model="model"
    transition-show="slide-up"
    transition-hide="slide-down"
    persistent
  >
    <q-card style="max-height:100vh row;flex-direction:column; display:flex">
      <q-toolbar class="bg-primary text-white">
        <!-- <q-btn flat icon="arrow_right_alt" class="rotate-180"  @click="$router.go(-1)"/> -->
        <q-item-label>
          Total
        </q-item-label>
        <q-toolbar-title class="text-center">
          {{ salesModel.grandTotal - salesModel.cardSurcharge | money }}
        </q-toolbar-title>
        <q-btn
          flat
          icon="fa fa-times"
          :disable="isLoading"
          @click="model = false"
        />
      </q-toolbar>
      <q-card-section v-if="salesModel.client && salesModel.client.id !== 0" class="no-margin q-my-xs q-py-xs">
          {{ sales.client.code }} - {{ salesModel.client.name }}
           <span class="text-italic" v-if="totalClientDeposit > 0">
             ( memiliki deposit: {{totalClientDeposit | money }})
           </span>
      </q-card-section>
      <q-card-section class="text-center q-mt-xs q-pt-xs">
        <span style="font-size:3em" class="text-primary">
          {{ totalPayment +  salesModel.cardSurcharge | money }}</span
        >
        <div class="text-grey">
          <span :class="{ 'text-primary': paymentType === 'cash' }">
            cash <span class="money-large"> {{ payment.cash | money }}</span>
          </span>
          <span v-if="salesModel.cardSurcharge > 0" :class="{ 'text-primary': paymentType === 'creditCard' }">
            (
              CC {{payment.creditCard}} + {{salesModel.cardSurcharge}} =
            <span class="money-large">{{ payment.creditCard + salesModel.cardSurcharge | money }}</span>
            )
          </span>
          <span v-else :class="{ 'text-primary': paymentType === 'creditCard' }">
              CC
            <span class="money-large">{{ payment.creditCard | money }}</span>

          </span>
          <span :class="{ 'text-primary': paymentType === 'debitCard' }">
            DC
            <span class="money-large">{{ payment.debitCard | money }}</span>
          </span>
          <span :class="{ 'text-primary': paymentType === 'deposit' }">
            deposit
            <span class="money-large">{{ payment.deposit | money }}</span>
          </span>
          <br />
        </div>
      </q-card-section>
      <q-card-section class="bg-grey-3 q-gutter-xs text-grey q-py-xs">
        <q-btn-toggle
          :options="[
            { label: 'Cash', value: 'cash' },
            { label: 'CCard', value: 'creditCard' },
            { label: 'DCard', value: 'debitCard' },
            { label: 'Deposit', value: 'deposit', disable: this.totalClientDeposit < 1 }
          ]"
          class="shadow-1 bg-white text-black"
          size="md"
          v-model="paymentType"
          toggle-text-color="white"
        />
        <q-btn
          :disable="isLoading"
          no-caps
          size="md"
          :label="discountLabel"
          class="bg-white text-black"
        >
          <q-popup-edit v-model="discPopup">
            <money-field
              label="Diskon Rp"
              stack-label
              v-model="salesModel.discount"
              autofocus
            />
            <money-field
              label="Diskon %"
              v-model="salesModel.discountPercent"
            />
          </q-popup-edit>
        </q-btn>
        <q-btn
          :disable="isLoading"
          no-caps
          size="md"
          :label="'Pajak: ' + salesModel.tax + '%'"
          class="bg-white text-black"
        >
          <q-popup-edit v-model="taxPopup">
            <money-field
              label="Pajak"
              stack-label
              v-model="salesModel.tax"
              autofocus
            />
          </q-popup-edit>
        </q-btn>
        <q-btn no-caps disable v-if="salesModel.cardSurcharge > 0" color="white" text-color="black">
          + CCard Surcharge: {{salesModel.cardSurcharge | money}}
        </q-btn>
        <!-- <q-btn
          :disable="isLoading"
          size="md"
          no-caps
          label="Pembeli"
          class="bg-white text-primary"
          @click="addClientDialog = true"
        /> -->
        <edc-type-select
          v-model="salesModel.ccEdcType"
          v-if="payment.creditCard > 0"
          label="CC Edc yang digunakan"
          name="ccEdcType"
          v-validate="'required'"
          :error="errors.has('ccEdcType')"
          :error-message="errors.first('ccEdcType')"
          stack-label
          outlined
        />

        <edc-type-select
          v-model="salesModel.dcEdcType"
          v-if="payment.debitCard > 0"
          label="DC Edc yang digunakan"
          name="dcEdcType"
          v-validate="'required'"
          :error="errors.has('dcEdcType')"
          :error-message="errors.first('dcEdcType')"
          stack-label
          outlined
        />

        <q-input
          :disable="isLoading"
          label="Catatan struk"
          v-model="salesModel.note"
          clearable
          stack-label
          outlined
        />
      </q-card-section>

      <q-card-section class="" style="flex-grow:1">
        <MoneyKeypad
          v-model="tempValue"
          :disable="isLoading"
          :requiredMoney="sales.grandTotal"
          @ok="saveRecord"
        />
      </q-card-section>
    </q-card>

    <AddClientInReceiptDialog
      v-model="addClientDialog"
      :client.sync="salesModel.client"
    />
  </q-dialog>
</template>

<script>
import { Sales } from '../../models'
import MoneyKeypad from './MoneyKeypad'
import AddClientInReceiptDialog from './AddClientInReceiptDialog'

export default {
  name: 'payment-dialog',
  components: {
    MoneyKeypad,
    AddClientInReceiptDialog
  },
  props: {
    value: {
      type: Boolean,
      default: () => false
    },
    sales: {
      type: Object,
      default: () => new Sales()
    }
  },
  data () {
    return {
      payment: {
        cash: 0,
        creditCard: 0,
        debitCard: 0,
        deposit: 0
      },
      paymentType: 'cash',
      taxPopup: false,
      discPopup: false,
      tempValue: 0,
      addClientDialog: false,
      isLoading: false,
      totalClientDeposit: 0
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    salesModel: {
      get () {
        return this.sales
      },
      set (val) {
        this.$emit('update:sales', val)
      }
    },
    totalPayment () {
      return this.payment.cash + this.payment.creditCard + this.payment.debitCard + this.payment.deposit
    },
    discountLabel () {
      let arr = ['Diskon: ']
      if (
        this.salesModel.discountPercent > 0 ||
        this.salesModel.discount === 0
      ) {
        arr.push(this.salesModel.discountPercent + '%')
      }
      if (arr.length > 1 && this.salesModel.discount > 0) {
        arr.push('+')
      }
      if (this.salesModel.discount > 0) {
        arr.push(' Rp ' + this.salesModel.discount)
      }

      return arr.join('')
    }
  },
  watch: {
    tempValue (nval) {
      if (this.paymentType === 'cash') {
        this.payment.cash = nval
      } else if (this.paymentType === 'creditCard') {
        this.payment.creditCard = nval
      } else if (this.paymentType === 'debitCard') {
        this.payment.debitCard = nval
      } else {
        this.payment.deposit = nval
      }
    },
    'payment.creditCard' (nval) {
      if (nval < 1) {
        this.salesModel.ccEdcType = undefined
        this.salesModel.cardSurcharge = 0
      } else {
        this.salesModel.cardSurcharge = nval * 3 / 100
      }
    },
    'payment.debitCard' (nval) {
      if (nval < 1) {
        this.salesModel.dcEdcType = undefined
      }
    },
    'salesModel.client' (nval) {
      if (!nval || nval === null) return
      this.salesModel.clientId = nval.id
      this.getClientDeposit(nval.id)
    },
    paymentType (nval) {
      if (nval === 'cash') {
        this.tempValue = this.payment.cash
      } else if (nval === 'creditCard') {
        this.tempValue = this.payment.creditCard
      } else if (nval === 'debitCard') {
        this.tempValue = this.payment.debitCard
      } else {
        this.tempValue = this.payment.deposit
      }
    }
  },
  methods: {
    async saveRecord () {
      if (this.isLoading) return
      try {
        if (this.payment.creditCard > 0 && !this.salesModel.ccEdcType) {
          this.$toastr.error('Pembayaran via Kartu harus mencantumkan Jenis EDC yang dipakai')
          return
        }

        if (this.payment.debitCard > 0 && !this.salesModel.dcEdcType) {
          this.$toastr.error('Pembayaran via Kartu harus mencantumkan Jenis EDC yang dipakai')
          return
        }

        if (this.totalPayment < this.sales.total) {
          if (!this.salesModel.clientId || this.salesModel.clientId === 0) {
            this.$toastr.error(
              'Pembayaran kurang. Mohon pilih Klien untuk struk ini'
            )
            return
          } else {
            if (!confirm('Pembayaran kurang untuk. Apakah yakin melanjutkan?')) {
              return
            }
          }
        }

        if (this.payment.deposit > this.totalClientDeposit) {
          this.$toastr.error(
            `Maximal deposit yang dapat digunakan ${this.$options.filters.money(this.totalClientDeposit)}`
          )
          return
        }

        this.isLoading = true

        // console.log('sales', this.sales)
        let postModel = Object.assign({}, this.sales, this.payment)
        if (postModel.cardSurcharge > 0) {
          postModel.creditCard = postModel.creditCard + postModel.cardSurcharge
        }
        if (postModel.client) {
          postModel.client = undefined
        }
        if (postModel.clientId < 1) {
          postModel.clientId = undefined
        }
        var res = await this.$api.sales.post(postModel)
        if (res.status < 300) {
          this.$emit('sales-saved', new Sales(res.data))
          this.model = false
          this.tempValue = 0
        } else {
          this.$$toastr.error(this.$util.err(res))
        }
      } catch (e) {
        console.log('err', e)
        this.$toastr.error('Gagal menyimpan data')
      }
      this.isLoading = false
    },
    async getClientDeposit (id) {
      if (!id || id === 0) {
        return
      }
      try {
        var res = await this.$api.deposits.getTotalByClient(id)
        this.totalClientDeposit = res.data
        if (this.totalClientDeposit > 0) {
          this.$toastr.warning('Klien masih memiliki deposit yang dapat digunakan')
        }
        this.payment.deposits = this.totalClientDeposit
      } catch (e) {

      }
    }
  }
}
</script>

<style lang="sass" scoped>
.money-large
  font-size : 1em
</style>
