<template>
  <q-dialog v-model="dialogOpen">
    <q-card
      :style="receiptPaperStyle"
      v-if="sales && sales.id && sales.salesLines && sales.salesLines.length"
    >
   <receipt-header />
        <q-card-section class="row no-padding" style="padding-left:12px!important;padding-right:12px!important">
         {{sales.receiptCode}}
         <q-space/>
         {{$store.state.auth.displayName}}
        </q-card-section>
       <hr/>
      <q-card-section class="full-width no-padding">
        <q-list class="no-padding">
          <q-item v-for="item in groupedSalesItems" :key="item.id" class="full-width">
            <q-item-section>
              <q-item-label>
                {{ item.itemName }}
              </q-item-label>
              <q-item-label caption :style="subtitleStyle">
                {{ item.qty }} * {{ item.unitPrice | money({style: undefined}) }}
                <template v-if="item.hasDiscount">
                  <span v-if="item.discountPercent" class="text-red">
                    - {{ item.discountPercent }}%</span
                  >
                  <span v-if="item.discount" class="text-red">
                    - {{ item.discount | money({style: undefined}) }}
                  </span>
                </template>
              </q-item-label>
            </q-item-section>
            <q-item-section side class="text-right">
              {{ item.totalPrice | money({style: undefined}) }}
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
      <hr />
      <div v-if="sales.client && sales.client.name">
        Member: {{sales.client.code}} - {{sales.client.name}}
      </div>
      <q-card-section>
        <q-markup-table flat dense style="overflow:hidden;">
          <tr>
            <th style="width:60%;font-weight: unset;" class="text-right">SubTotal</th>
            <td style="width:40%" class="text-right">
              {{ sales.subTotal | money }}
            </td>
          </tr>
         <tr v-if="sales.discountPercent > 0">
            <th style="width:60%;font-weight: unset" class="text-right">% Discount {{sales.discountPercent}} %</th>
            <td style="width:40%" class="text-right">
              {{ sales.discountPercentMoneyValue | money }}
            </td>
          </tr>
          <tr v-if="sales.discount > 0">
            <th style="width:60%;font-weight: unset" class="text-right">Discount</th>
            <td style="width:40%" class="text-right">
              {{ sales.discount | money }}
            </td>
          </tr>
          <tr v-if="sales.tax > 0">
            <th style="width:60%;font-weight: unset" class="text-right">Tax {{sales.tax}} %</th>
            <td style="width:40%" class="text-right">
              {{ sales.taxMoneyValue | money }}
            </td>
          </tr>
          <tr v-if="sales.cardSurcharge > 0">
            <th style="width:60%;font-weight: unset" class="text-right">Card surcharge</th>
            <td style="width:40%" class="text-right">
              {{ sales.cardSurcharge | money }}
            </td>
          </tr>
          <tr class="">
            <th style="width:60%;font-weight: unset" class="text-right text-bold">
              TOTAL
            </th>
            <td style="width:40%;font-weight: unset" class="text-right text-bold">
              {{ sales.grandTotal | money }}
            </td>
          </tr>
          <tr v-if="sales.cash > 0">
            <th style="width:60%;font-weight: unset" class="text-right">Cash</th>
            <td style="width:40%" class="text-right">
              {{ sales.cash | money }}
            </td>
          </tr>
         <tr v-if="sales.creditCard > 0">
            <th style="width:60%;font-weight: unset" class="text-right">
              CC
              <span class="text-bold" v-if="sales.ccEdcType !== 0">
                {{ getEdcTypeName(sales.ccEdcType) }}
              </span>
            </th>
            <td style="width:40%" class="text-right">
              {{ sales.creditCard | money }}
            </td>
          </tr>
          <tr v-if="sales.debitCard > 0">
            <th style="width:60%;font-weight: unset" class="text-right">
              DC
              <span class="text-bold" v-if="sales.dcEdcType !== 0">
                {{ getEdcTypeName(sales.dcEdcType) }}
              </span>
            </th>
            <td style="width:40%" class="text-right">
              {{ sales.debitCard | money }}
            </td>
          </tr>
          <tr v-if="sales.deposit > 0">
            <th style="width:60%;font-weight: unset" class="text-right">Deposit</th>
            <td style="width:40%" class="text-right">
              {{ sales.deposit | money }}
            </td>
          </tr>
           <tr v-if="sales.cash === 0 && sales.card === 0 && sales.deposit === 0">
            <th style="width:60%;font-weight: unset" class="text-right">Payment</th>
            <td style="width:40%" class="text-right text-bold">
              {{ 0 | money }}
            </td>
          </tr>
          <tr>
            <th style="width:60%;font-weight: unset;" class="text-right">Change</th>
            <td style="width:40%" class="text-right">
              {{ sales.change | money }}
            </td>
          </tr>
        </q-markup-table>
      </q-card-section>
      <q-card-section class="text-center">
        {{ sales.note }}
      </q-card-section>
       <q-card-section class="text-italic">
        {{footNotes}}
      </q-card-section>
      <hr/>
    </q-card>
  </q-dialog>
</template>

<script>
import ReceiptHeader from './ReceiptHeader'
import { Sales } from '../../models'
export default {
  name: 'print-sales-dialog',
  components: {
    ReceiptHeader
  },
  props: {
    value: {
      type: Boolean,
      default: () => false
    },
    sales: {
      type: Sales,
      required: true
    }
  },
  data () {
    return {
      receiptPaperStyle: {
        width: '221px',
        fontSize: '9px!important'
      },
      subtitleStyle: {
        fontSize: '8px!important',
        color: 'black'
      },
      footNotes: 'Barang yang sudah dibeli tidak bisa dikembalikan',
      animalTypes: []
    }
  },
  computed: {
    dialogOpen: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    edcTypes () {
      return this.$store.state.list.edcTypes
    },
    groupedSalesItems () {
      if (!this.sales.salesLines || !this.sales.salesLines.length) {
        return []
      }
      var arr = this.sales.salesLines.reduce((a, b) => {
        if (!b.productId || b.productId === 0) {
          a.push(b)
        } else {
          var m = a.find(x => x.productId === b.productId)
          if (!m) {
            a.push(b)
          } else {
            m.qty += b.qty
          }
        }
        return a
      }, [])
      return arr
    }
  },
  methods: {
    getEdcTypeName (id) {
      var t = this.edcTypes.find(x => x.id === id)
      if (!t) return ''

      return t.label
    }
  },
  mounted () {}
}
</script>

<style lang="sass" scoped>
hr
  border: none!important
  border-top: 1px dashed!important
  height: 1px!important
  width:  90%
table th
  font-size:  10px
table td
  padding-right: 0!important
</style>
