<template>
  <q-dialog v-model="dialogOpen">
    <q-card
      :style="receiptPaperStyle"
      v-if="depositTransaction && depositTransaction.id"
    >
   <receipt-header />
   <q-card-section class="no-padding" style="padding: 0 12px!important">
     {{ depositTransaction.depositCode }}
   </q-card-section>
       <hr/>
      <q-card-section class="full-width no-padding">
        <q-list class="no-padding">
          <q-item class="full-width" dense>
            <q-item-section>
              <q-item-label>
                Name
              </q-item-label>
            </q-item-section>
            <q-item-section side class="text-right">
              Credit | Debit
            </q-item-section>
          </q-item>
          <q-item class="full-width" dense>
            <q-item-section>
              <q-item-label>
                {{ depositTransaction.clientName }}
              </q-item-label>
            </q-item-section>
            <q-item-section side top style="margin-top:4px;" class="text-right">
              {{ depositTransaction.credit | money({style: undefined}) }}
              |
              {{ depositTransaction.debit | money({style: undefined}) }}
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
      <hr />
      <q-card-section>
        <q-markup-table flat dense style="overflow:hidden;">
          <tr>
            <th style="width:60%;font-weight: unset;" class="text-right">SubTotal</th>
            <td style="width:40%" class="text-right">
              {{ depositTransaction.credit - depositTransaction.debit | money }}
            </td>
          </tr>
        </q-markup-table>
      </q-card-section>
      <q-card-section class="text-center">
        {{ depositTransaction.note }}
      </q-card-section>
      <hr/>
    </q-card>
  </q-dialog>
</template>

<script>
import ReceiptHeader from './ReceiptHeader'
import { DepositTransaction } from '../../models'
export default {
  name: 'print-deposit-dialog',
  components: {
    ReceiptHeader
  },
  props: {
    value: {
      type: Boolean,
      default: () => false
    },
    depositTransaction: {
      type: DepositTransaction,
      default: () => undefined
    }
  },
  data () {
    return {
      receiptPaperStyle: {
        width: '221px',
        fontSize: '9px!important'
      },
      subtitleStyle: {
        fontSize: '8px!important'
      },
      animalTypes: []
    }
  },
  computed: {
    dialogOpen: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    edcTypes () {
      return this.$store.state.list.edcTypes
    }
  },
  methods: {

  },
  mounted () {}
}
</script>

<style lang="sass" scoped>
hr
  border: none!important
  border-top: 1px dashed!important
  height: 1px!important
  width:  90%
table th
  font-size:  10px
table td
  padding-right: 0!important
</style>
