<template>
   <q-card-section class="text-center no-margin">
        <img :src="office.logo" width="72px">
        <p class="no-margin">
          {{office.address}}
        </p>
        <span>
          <span class="fas fa-phone q-ml-md"/> {{office.phone}}
          </span>
       </q-card-section>
</template>

<script>
export default {
  name: 'ReceiptHeader',
  data () {
    return {}
  },
  computed: {
    office () {
      return this.$store.state.office
    }
  }
}
</script>
