<template>
  <q-dialog :value="value" @input="dialogHandle" full-width persistent>
    <q-card>
      <q-toolbar class="bg-secondary text-white">
        <q-toolbar-title>
          Tentukan User terkait dengan produk ini untuk modul insentive
        </q-toolbar-title>
        <q-btn
          size="sm"
          flat
          icon="fa fa-times"
          label="Batalkan"
          v-close-popup
        />
      </q-toolbar>
      <q-markup-table>
        <thead>
          <tr>
            <th>UserType</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in model" :key="item.userTypeId">
            <td style="width:30%">
              <user-type-select outlined v-model="item.userTypeId" disable />
            </td>
            <td>
              <user-select
                outlined
                :userTypeId="item.userTypeId"
                :value="item.userId"
                @input="val => inputHandle(val, item.userTypeId)"
              />
            </td>
          </tr>
        </tbody>
      </q-markup-table>
      <q-card-section>
        <q-btn
          class="full-width bg-primary text-white"
          label="Ok"
          size="lg"
          @click="submit"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { SalesLineRelatedPic } from '../../models'
export default {
  name: 'sales-line-related-pic-dialog',
  props: {
    title: {
      type: String,
      default: () => 'Item details'
    },
    salesLineRelatedPics: {
      type: Array,
      default: () => []
    },
    value: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {

    }
  },
  computed: {
    model: {
      get () { return this.salesLineRelatedPics.map(x => new SalesLineRelatedPic(x)) },
      set (val) { this.$emit('update:sales-line-related-pics', val) }
    },
    dialogOpen: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    dialogHandle (val) {
      this.$emit('input', val)
    },
    inputHandle (val, userTypeId) {
      this.model = this.model.map(x => x.userTypeId === userTypeId ? new SalesLineRelatedPic(Object.assign({}, x, { userId: val })) : x)
    },
    submit () {
      if (this.model.find(x => typeof (x.userId) === 'undefined' || x.userId === null)) {
        this.$toastr.error('User terkait harus diisi!')
        return
      }
      this.dialogOpen = false
    }
  },
  mounted () {

  }
}
</script>
