<template>
  <div>
    <q-list>
      <q-item style="margin-bottom: -0.8em;">
        <q-item-section side v-show="hasItem">
          <q-btn-toggle
            rounded
            size="xs"
            v-model="factor"
            :options="[
              { icon: 'fa fa-plus', value: 1 },
              { icon: 'fa fa-minus', value: -1 }
            ]"
          />
        </q-item-section>
      </q-item>
      <q-slide-item
        v-for="item in model"
        :key="item.id"
        clickable
        @click.native="itemClick(item)"
        right-color="negative"
        @right="e => deleteHandle(e, item)"
      >
        <template v-slot:right>
          <q-icon name="fa fa-trash" />
        </template>
        <q-item>
          <q-item-section side>
            <q-btn
              text-color="primary"
              class="shadow-1"
              unelevated
              :label="item.qty"
              size="lg"
              @click.stop="updateQty(item)"
            />
          </q-item-section>
          <q-item-section title>
            <q-item-label overline>
              {{ item.itemName }}
            </q-item-label>
            <q-item-label caption>
              {{ item.qty }} * {{ item.unitPrice | money }}
              <template v-if="item.hasDiscount">
                <span v-if="item.discountPercent" class="text-red">
                  - {{ item.discountPercent }}%</span
                >
                <span v-if="item.discount" class="text-red">
                  - {{ item.discount | money }}
                </span>
              </template>
              = {{ item.totalPrice | money }}
            </q-item-label>
          </q-item-section>
          <q-item-section side v-if="clientId !== 0" @click.native.stop>
            {{model.client}}
            <patient-select @click.stop :clientId="clientId" v-model="item.patientId" label="Pasien terkait" />
          </q-item-section>
        </q-item>
      </q-slide-item>
    </q-list>
    <SalesLineDialog
      v-show="hasItem"
      v-model="dialogOpen"
      title="Item details"
      :salesLine.sync="salesLine"
      @cancel="dialogOpen = false"
      @deleted="deleted"
    />
  </div>
</template>

<script>
import SalesLineDialog from './SalesLineDialog'
import { SalesLine } from '../../models'
export default {
  name: 'SalesLineList',
  props: {
    value: {
      type: Array,
      default: () => []
    },
    clientId: {
      type: Number,
      default: () => 0
    }
  },
  data () {
    return {
      factor: 1,
      dialogOpen: false,
      salesLine: new SalesLine(),
      timeout: 2000
    }
  },
  methods: {
    itemClick (item) {
      this.salesLine = item
      this.dialogOpen = true
    },
    updateQty (item) {
      let nval = item.qty + 1 * this.factor
      if (nval < 1) {
        return
      }
      let ix = this.model.findIndex(x => x.id === item.id)
      let updated = Object.assign({}, item, { qty: nval })
      this.model.splice(ix, 1, new SalesLine(updated))
    },
    deleteHandle (details, item) {
      let dismiss = this.$q.notify({
        message: 'Item dihapus',
        actions: [
          {
            label: 'Batalkan',
            color: 'white',
            handler: () => {
              clearTimeout(to)
              details.reset()
            }
          }
        ]
      })

      let to = setTimeout(() => {
        dismiss()
        this.model = this.model.filter(x => x.id !== item.id)
      }, this.timeout)
    },
    deleted (model) {
      this.dialogOpen = false
      this.model = this.model.filter(x => x.id !== model.id)
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (val) {
        // console.log('val', val)
        this.$emit('input', val)
      }
    },
    hasItem () {
      return this.model.length > 0
    }
  },
  components: {
    SalesLineDialog
  }
}
</script>
