<template>
  <q-dialog v-model="dialogOpen">
    <q-card
      v-if="sales && sales.id"
    >
    <q-toolbar class="bg-primary text-white">
      <q-toolbar-title>
        Struk {{ sales.receiptCode.toUpperCase() }}
      </q-toolbar-title>
      <q-btn flat size="sm" icon="fa fa-times" v-close-popup />
    </q-toolbar>
       <q-card-section v-if="sales.client" class="q-pa-xs q-pl-lg">
        Cust: {{sales.client.code + "-" + sales.client.name}}
      </q-card-section>
       <q-card-section>
        <q-checkbox v-model="sales.isTracked" label="Is Tracked" />
        <q-input v-model="sales.note" label="Notes" @keyup.enter="submit" />
      </q-card-section>
      <q-card-section>
        <submit-button label="Update" :loading="isLoading" @click="submit"/>
      </q-card-section>
      <hr />
      <q-card-section>
        <q-markup-table flat dense>
          <tr>
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right">SubTotal</th>
            <td style="width:30%" class="text-right"> {{sales.subTotal | money}} </td>
          </tr>
          <tr>
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right"> % Discount <span v-if="sales.discountPercent > 0"> {{sales.discountPercent }} %</span> </th>
            <td style="width:30%" class="text-right">  {{sales.discountPercentMoneyValue | money }} </td>
          </tr>
          <tr>
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right">Discount</th>
            <td style="width:30%" class="text-right">  {{sales.discount | money}} </td>
          </tr>
          <tr>
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right">Tax <span v-if="sales.tax > 0"> {{sales.tax}} % </span></th>
            <td style="width:30%" class="text-right"> {{sales.taxMoneyValue | money}} </td>
          </tr>
            <tr class="bg-secondary text-white">
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right text-h5 text-bold">TOTAL</th>
            <td style="width:30%" class="text-right  text-h5 text-bold"> {{sales.grandTotal | money}} </td>
          </tr>
          <tr>
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right">Cash</th>
            <td style="width:30%" class="text-right"> {{sales.cash | money}} </td>
          </tr>
          <tr>
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right">Card <span class="text-bold" v-if="sales.edcType !== 0"> {{getEdcTypeName(sales.edcType)}} </span></th>
            <td style="width:30%" class="text-right"> {{sales.card | money}} </td>
          </tr>
          <tr>
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right">Deposit</th>
            <td style="width:30%" class="text-right"> {{sales.deposit | money}} </td>
          </tr>
          <tr>
            <td style="width:40%"></td>
            <th style="width:30%" class="text-right">Change</th>
            <td style="width:30%" class="text-right"> {{sales.change | money}} </td>
          </tr>
        </q-markup-table>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { Sales } from '../../models'
export default {
  name: 'sales-details-dialog',
  props: {
    value: {
      type: Boolean,
      default: () => false
    },
    sales: {
      type: Sales,
      required: true
    }
  },
  data () {
    return {
      animalTypes: [],
      isLoading: false
    }
  },
  computed: {
    dialogOpen: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    edcTypes () {
      return this.$store.state.list.edcTypes
    },
    userTypes () {
      return this.$store.state.list.userTypes
    }
  },
  methods: {
    async submit () {
      this.isLoading = true
      try {
        await this.$api.sales.put(this.sales.id, { isTracked: this.sales.isTracked, note: this.sales.note })
        this.$toastr.success('Status and notes was updated')
        this.dialogOpen = false
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoading = false
    },
    async fetchAnimalTypes () {
      try {
        var res = await this.$api.animalTypes.get()
        this.animalTypes = res.data
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
    },
    getAnimalTypeName (id) {
      if (!id || !this.animalTypes.length) { return }
      return this.animalTypes.find(x => x.id === id).name
    },
    getEdcTypeName (id) {
      var t = this.edcTypes.find(x => x.id === id)
      if (!t) return ''

      return t.label
    },
    getUserTypeName (id) {
      var t = this.userTypes.find(x => x.id === id)
      if (!t) return ''

      return t.name
    }
  },
  mounted () {
    this.fetchAnimalTypes()
  }
}
</script>
