<template>
  <div>
    <q-card-section title class="text-h5 q-pb-xs">
      <!-- Penjualan hari ini
      <span class="text-bold"> {{totalSales | money}}</span>
      <div class="text-italic">
        <small> Penerimaan: {{totalRevenue | money}} </small>
      </div>      -->
    </q-card-section>
    <q-card-section class="q-pt-xs">
      <q-list>
        <q-card v-if="isLoading" class="text-center">
          <my-loader />
        </q-card>
        <q-card v-else-if="!hasItem">
          <q-card-section>
            Belum ada transaksi
          </q-card-section>
        </q-card>

        <template v-else >
          <q-table
        title=""
        :data="data"
        :columns="columns"
        row-key="id"
        :pagination.sync="pagination"
        :isLoading="isLoading"
        @request="onRequest"
        :filter="filter"
      >
      <template #header >
              <tr class="bg-primary text-white">
                <td>
                  #
                </td>
                <td>
                  Struk
                </td>
                <td>
                  Penjualan
                </td>
                <td>
                  Cash
                </td>
                <td>
                  Credit Card
                </td>
                                <td>
                  Debit Card
                </td>
                <td>
                  Deposit
                </td>
                <td>
                  Penerimaan
                </td>
                <td>
                  Actions
                </td>
              </tr>
      </template>
      <template #body="scoped">
         <q-tr class="mouse-pointer" :class="{'selected': selectedSales.id === scoped.row.id}" @click.native="getSalesDetails(scoped.row.id, scoped.row)">
                 <td>
                  {{ data.indexOf(scoped.row) + 1 }}
                </td>
                <td>
                  <q-badge v-if="!scoped.row.isClosed" color="negative"> Belum closing  </q-badge>
                  {{scoped.row.receiptCode}}
                    <q-badge v-if="scoped.row.client" :label="scoped.row.client.code" class="q-ml-md"/>
                </td>
                <td>
                  {{scoped.row.grandTotal | money}}
                </td>
                <td class="text-green">
                  {{scoped.row.netCash | money}}
                </td>
                <td class="text-green">
                  {{scoped.row.creditCard | money}}
                </td>
                <td class="text-green">
                  {{scoped.row.debitCard | money}}
                </td>
                <td>
                  {{scoped.row.deposit | money}}
                </td>
                <td :class="{'text-negative': scoped.row.change < 0}">
                  {{scoped.row.revenue | money}}
                </td>
                <td>
                  <q-btn icon="fa fa-print" size="sm" round text-color="primary" title="print" @click.stop="printSales(scoped.row.id, scoped.row)" />
                  <q-btn class="q-ml-sm" icon="fa fa-edit" size="sm" round text-color="primary" title="Update sales status and note" @click.stop="updateSalesStatus(scoped.row.id, scoped.row)" />
                </td>
              </q-tr>
      </template>
      <template #bottom-row v-if="data.length">
        <tr class="bg-secondary text-white">
                  <td colspan="2">
                  TOTAL
                </td>
                <td>
                  {{totalSales | money}}
                </td>
                <td>
                  {{totalCash | money}}
                </td>
                <td>
                  {{totalCreditCard | money}}
                </td>
                <td>
                  {{totalDebitCard | money}}
                </td>
                <td>
                  {{totalDeposit | money}}
                </td>
                <td :class="{'text-negative': totalChange < 0}">
                  {{totalCash + totalCard + totalDeposit | money}}
                </td>
              </tr>
      </template>
      </q-table>
        </template>
      </q-list>
      <SalesDetailsDialog v-model="detailsDialog" :sales="selectedSales" />
      <PrintSalesDialog v-model="printSalesDialog" :sales="selectedSales" ref="print" />
      <SalesStatusUpdateDialog v-model="updateSalesDialogModel" :sales="selectedSales" />
    </q-card-section>
  </div>
</template>

<script>
import { Sales, SalesLine, Pagination } from '../../models'
import SalesDetailsDialog from '../../components/sales/SalesDetailsDialog'
import PrintSalesDialog from '../../components/sales/PrintSalesDialog'
import SalesStatusUpdateDialog from '../../components/sales/SalesStatusUpdateDialog'

export default {
  name: 'SalesTodayList',
  components: {
    SalesDetailsDialog,
    PrintSalesDialog,
    SalesStatusUpdateDialog
  },
  props: {
    deposits: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      isLoading: false,
      filter: undefined,
      columns: [
        { name: 'id', required: true, format: (val, row) => this.data.indexOf(row) + 1, style: 'width: 25px', label: '#' },
        { name: 'receiptCode', align: 'left', field: 'receiptCode', label: 'Struk', style: 'width:50px', sortable: true },
        { name: 'grandTotal', align: 'right', field: 'grandTotal', label: 'Penjualan', sortable: true, format: (val, row) => val },
        { name: 'netCash', align: 'right', field: 'netCash', label: 'Cash', sortable: true },
        { name: 'card', align: 'right', field: 'card', label: 'Card', style: 'width:25px;font-color:green;' },
        { name: 'deposit', align: 'right', field: 'deposit', label: 'Deposit', style: '' },
        { name: 'revenue', align: 'center', field: 'revenue', label: 'revenue', style: '' }
      ],
      data: [],
      salesLines: {},
      detailsDialog: false,
      selectedSales: new Sales(),
      isLoadingSalesLines: false,
      printSalesDialog: false,
      updateSalesDialogModel: false,
      pagination: new Pagination('receiptCode', { descending: true })
    }
  },
  mounted () {
    this.onRequest()
  },
  methods: {
    async search (filter, showIncomplete) {
      this.filter = filter
      this.pagination.filter = filter
      this.pagination.showIncompleteReceipt = showIncomplete
      await this.onRequest()
    },
    async onRequest (props) {
      this.isLoading = true
      try {
        let pagination = (props && props.pagination) || this.pagination
        const res = await this.$api.sales.get(pagination)

        let data = res.data
        let clients = data.rows.map(x => new Sales(x))
        this.pagination.page = data.page
        this.pagination.rowsPerPage = data.rowsPerPage
        this.pagination.sortBy = data.sortBy
        this.pagination.descending = data.descending
        this.pagination.rowsNumber = data.rowsNumber

        this.data.splice(0, this.data.length, ...clients)
      } catch (e) {
        this.$toastr.error(e.message)
      }
      this.isLoading = false
      return Promise.resolve()
    },
    async getSalesDetails (salesId, sales) {
      if (!salesId || salesId === 0) {
        return
      }
      if (this.isLoadingSalesLines) return
      this.isLoadingSalesLines = true
      try {
        var data = this.salesLines[salesId]
        if (data) {
          sales.salesLines = data
          this.selectedSales = sales
        }
        var res = await this.$api.salesLines.getBySales(salesId)
        data = res.data.map(x => new SalesLine(x))
        this.$set(this.salesLines, salesId, data)
        sales.salesLines = data
        this.selectedSales = sales

        this.detailsDialog = true
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoadingSalesLines = false
    },
    async printSales (salesId, sales) {
      if (!salesId || salesId === 0) {
        return
      }
      if (this.isLoadingSalesLines) return
      this.isLoadingSalesLines = true
      try {
        var data = this.salesLines[salesId]
        if (data) {
          sales.salesLines = data
          this.selectedSales = sales
        }
        var res = await this.$api.salesLines.getBySales(salesId)
        data = res.data.map(x => new SalesLine(x))
        this.$set(this.salesLines, salesId, data)
        sales.salesLines = data
        this.selectedSales = sales
        // this.printSalesDialog = true
        this.$router.push({ name: 'printSales', params: { sales: this.selectedSales } })
      } catch (e) {
        this.$toastr.error(this.$util.err(e))
      }
      this.isLoadingSalesLines = false
    },
    updateSalesStatus (salesId, sales) {
      this.selectedSales = sales
      this.updateSalesDialogModel = true
    }
  },
  computed: {
    hasItem () {
      return this.data.length > 0 || this.deposits.length
    },
    edcTypes () {
      return this.$store.state.list.edcTypes
    },
    totalSales () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.grandTotal, 0)
    },
    totalCash () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.netCash, 0)
    },
    totalCreditCard () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.creditCard, 0)
    },
    totalDebitCard () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.debitCard, 0)
    },
    totalCard () {
      return this.totalCreditCard + this.totalDebitCard
    },
    totalChange () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.change, 0)
    },
    totalDeposit () {
      if (!this.data.length) return 0
      return this.data.reduce((a, b) => a + b.deposit, 0)
    },
    totalDepositDebit () {
      if (!this.deposits.length) return 0
      return this.deposits.reduce((a, b) => a + b.debit, 0)
    },
    totalDepositCredit () {
      if (!this.deposits.length) return 0
      return this.deposits.reduce((a, b) => a + b.credit, 0)
    },
    totalRevenue () {
      return this.totalCash + this.totalDeposit + this.totalCard// + this.totalDepositCredit - this.totalDepositDebit
    }
  }
}
</script>
