<template>
  <div>
    <q-dialog v-model="model" full-width>
      <q-card>
        <q-toolbar class="bg-primary full-width">
          <q-input
            debounce="500"
            dense
            clearable
            dark
            standout
            class="full-width"
            placeholder="Cari item ..."
            v-model="search"
            autofocus
          >
            <template #append>
              <q-icon name="fa fa-search" />
            </template>
          </q-input>
          <q-btn
            icon="fa fa-plus"
            label="Buat Item"
            size="sm"
            text-color="positive"
            flat
            @click="addProductDialog = true"
          />
        </q-toolbar>
        <q-card-section v-if="isLoading" class="row flex-center">
          <q-circular-progress color="primary" indeterminate size="lg" />
        </q-card-section>
        <q-card-section v-else-if="!data.length">
          {{
            search && search.length
              ? 'Tidak ditemukan item dengan kata kunci ' + search
              : 'Belum ada item'
          }}
        </q-card-section>
        <q-card-section v-else>
          <q-list>
            <q-item v-for="item in data" :key="item.id">
              <q-item-section side>
                <q-btn icon="fa fa-plus" size="sm" @click="pickItem(item)" />
              </q-item-section>
              <q-item-section title>
                <q-item-label
                  overline
                  class="text-bold"
                  style="font-size:1.5em"
                >
                  {{ item.sku }} - {{ item.name }}
                  <span v-show="item.trackInventory">
                    ({{item.qty}})
                  </span>
                </q-item-label>
                <q-item-label caption>
                  {{ getCategoryName(item.categoryId) }}
                </q-item-label>
              </q-item-section>
              <q-item-section side>
                <span class="text-bold text-h5">
                  {{ item.sellingPrice | money }} /</span
                >
                {{ getUnitName(item.unitId) }}
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
        <q-toolbar>
          <q-space />
          <q-btn label="cancel" v-close-popup color="secondary" />
        </q-toolbar>
      </q-card>
    </q-dialog>

    <SalesLineRelatedPicDialog v-model="relatedPicDialog" :salesLineRelatedPics.sync="relatedPics" />
    <AddProductDialog v-model="addProductDialog"  @added="productAdded"/>

  </div>
</template>

<script>
import { SalesLine, Product, SalesLineRelatedPic } from '../../models'
import mixin from '../../mixins/unitCategoryMixin'
import SalesLineRelatedPicDialog from './SalesLineRelatedPicDialog'
import AddProductDialog from './AddProductDialog'
export default {
  name: 'search-item-dialog',
  mixins: [mixin],
  components: {
    SalesLineRelatedPicDialog,
    AddProductDialog
  },
  props: {
    value: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      isLoading: false,
      search: '',
      data: [],
      relatedPicDialog: false,
      relatedPics: [],
      selectedItem: {},
      addProductDialog: false
    }
  },
  methods: {
    async fetchItems () {
      if (this.isLoading) return
      this.isLoading = true
      try {
        var res = await this.$api.products.get(false, { filter: this.search, rowsPerPage: 10 })
        this.data = res.data.rows.map(x => new Product(x))
      } catch (e) {
        this.$toastr.error('Gagal mendapatkan data')
      }
      this.isLoading = false
    },
    pickItem (item) {
      this.selectedItem = item
      this.relatedPics = []

      if (item.insentiveModel && item.insentiveModel.insentiveRules.length) {
        this.relatedPics = item.insentiveModel.insentiveRules.map(x => {
          return new SalesLineRelatedPic(x)
        })
        this.relatedPicDialog = true
      } else {
        var sl = new SalesLine(item)
        sl.productId = item.id
        sl.itemName = '[' + item.sku + '] ' + item.name
        sl.unitCost = item.purchasingPrice
        sl.unitPrice = item.sellingPrice
        sl.qty = 1
        this.$emit('item-picked', sl)
        this.model = false
      }
    },
    productAdded (item) {
      // console.log(item)
      var sl = new SalesLine(item)
      sl.productId = item.id
      if (item.sku && item.sku.length) {
        sl.itemName = '[' + item.sku + '] ' + item.name
      }
      sl.itemName = item.name
      sl.unitCost = item.purchasingPrice
      sl.unitPrice = item.sellingPrice
      sl.qty = 1
      this.$emit('item-picked', sl)
      this.model = false
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  watch: {
    search () {
      this.fetchItems()
    },
    relatedPicDialog (val) {
      if (!val) {
        // console.log(this.relatedPics)
        if (
          this.relatedPics.find(
            x =>
              typeof x.userId === 'undefined' ||
              x.userId === null ||
              x.userId === ''
          )
        ) {
          // console.log('invalid')
        } else {
          var item = this.selectedItem
          var sl = new SalesLine(item)
          sl.productId = item.id
          sl.itemName = '[' + item.sku + '] ' + item.name
          sl.unitCost = item.purchasingPrice
          sl.unitPrice = item.sellingPrice
          sl.qty = 1
          sl.salesLineRelatedPics = this.relatedPics.map(
            x => new SalesLineRelatedPic(x)
          )
          // console.log('sl', sl)
          this.$emit('item-picked', sl)
          this.model = false
        }
      }
    }
  },
  mounted () {}
}
</script>
